workflows/01-stats-puller.json
{
  "name": "01 - Stats Puller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "groups[1]",
              "value": "hour"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-stats",
      "name": "Fetch Stats from Geozo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst statsData = items[0].json.data || items[0].json;\n\nif (!Array.isArray(statsData)) {\n  return [{ json: { error: 'No stats data received', raw: items[0].json } }];\n}\n\nconst results = statsData.map(d => {\n  const spend = parseFloat(d.money) || 0;\n  const revenue = parseFloat(d.postbacks_confirmed_money) || 0;\n  const clicks = parseInt(d.clicks_count) || 0;\n  const shows = parseInt(d.shows_count) || 0;\n  const confirmedShows = parseInt(d.confirmed_shows_count) || 0;\n  const postbacks = parseInt(d.postbacks_count) || 0;\n\n  const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n  const profit = revenue - spend;\n  const ctr = shows > 0 ? (clicks / shows * 100) : 0;\n  const cpc = clicks > 0 ? (spend / clicks) : 0;\n\n  let status = 'HOLD';\n  let alertLevel = null;\n\n  if (roi > 100) {\n    status = 'PROFIT_HIGH';\n    alertLevel = 'green';\n  } else if (roi > 50) {\n    status = 'PROFIT';\n    alertLevel = 'green';\n  } else if (roi > 0) {\n    status = 'MARGINAL';\n  } else if (roi > -30) {\n    status = 'LOSING';\n    alertLevel = 'yellow';\n  } else if (roi > -50) {\n    status = 'BURNING';\n    alertLevel = 'orange';\n  } else if (spend > 3) {\n    status = 'CRITICAL';\n    alertLevel = 'red';\n  }\n\n  return {\n    json: {\n      ad_id: d.ad_id,\n      date: d.date || $now.format('yyyy-MM-dd'),\n      hour: d.hour || null,\n      shows: shows,\n      confirmed_shows: confirmedShows,\n      clicks: clicks,\n      money: Math.round(spend * 10000) / 10000,\n      postbacks_count: postbacks,\n      postbacks_confirmed_money: Math.round(revenue * 10000) / 10000,\n      ctr: Math.round(ctr * 10000) / 10000,\n      cpc: Math.round(cpc * 10000) / 10000,\n      roi: Math.round(roi * 100) / 100,\n      profit: Math.round(profit * 10000) / 10000,\n      status: status,\n      alertLevel: alertLevel\n    }\n  };\n});\n\nreturn results;"
      },
      "id": "calculate-metrics",
      "name": "Calculate ROI & Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ad_stats (ad_id, date, hour, shows, confirmed_shows, clicks, money, postbacks_count, postbacks_confirmed_money, ctr, cpc, roi, profit)\nVALUES (\n  {{ $json.ad_id }},\n  '{{ $json.date }}',\n  {{ $json.hour || 'NULL' }},\n  {{ $json.shows }},\n  {{ $json.confirmed_shows }},\n  {{ $json.clicks }},\n  {{ $json.money }},\n  {{ $json.postbacks_count }},\n  {{ $json.postbacks_confirmed_money }},\n  {{ $json.ctr }},\n  {{ $json.cpc }},\n  {{ $json.roi }},\n  {{ $json.profit }}\n)\nON CONFLICT (ad_id, date, hour)\nDO UPDATE SET\n  shows = EXCLUDED.shows,\n  confirmed_shows = EXCLUDED.confirmed_shows,\n  clicks = EXCLUDED.clicks,\n  money = EXCLUDED.money,\n  postbacks_count = EXCLUDED.postbacks_count,\n  postbacks_confirmed_money = EXCLUDED.postbacks_confirmed_money,\n  ctr = EXCLUDED.ctr,\n  cpc = EXCLUDED.cpc,\n  roi = EXCLUDED.roi,\n  profit = EXCLUDED.profit,\n  collected_at = NOW();",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save Stats to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.alertLevel }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-alerts",
      "name": "Has Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst alerts = items.filter(i => i.json.alertLevel);\n\nif (alerts.length === 0) return [];\n\nconst redAlerts = alerts.filter(i => i.json.alertLevel === 'red');\nconst greenAlerts = alerts.filter(i => i.json.alertLevel === 'green');\nconst yellowAlerts = alerts.filter(i => i.json.alertLevel === 'yellow' || i.json.alertLevel === 'orange');\n\nlet message = `📊 GEOZO STATS ALERT ${$now.format('dd.MM.yyyy HH:mm')}\\n\\n`;\n\nif (redAlerts.length > 0) {\n  message += `🔴 CRITICAL (ROI < -50%, spend > $3):\\n`;\n  redAlerts.slice(0, 5).forEach(a => {\n    message += `  Ad #${a.json.ad_id}: ROI ${a.json.roi}%, Spend $${a.json.money}, Profit $${a.json.profit}\\n`;\n  });\n  message += `\\n`;\n}\n\nif (yellowAlerts.length > 0) {\n  message += `🟡 WARNING (Losing money):\\n`;\n  yellowAlerts.slice(0, 5).forEach(a => {\n    message += `  Ad #${a.json.ad_id}: ROI ${a.json.roi}%, Spend $${a.json.money}\\n`;\n  });\n  message += `\\n`;\n}\n\nif (greenAlerts.length > 0) {\n  message += `🟢 PROFIT:\\n`;\n  greenAlerts.slice(0, 5).forEach(a => {\n    message += `  Ad #${a.json.ad_id}: ROI ${a.json.roi}%, Profit $${a.json.profit}\\n`;\n  });\n}\n\nmessage += `\\n📈 Total ads analyzed: ${items.length}`;\nmessage += `\\n🔴 Critical: ${redAlerts.length} | 🟡 Warning: ${yellowAlerts.length} | 🟢 Profit: ${greenAlerts.length}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "format-alert",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Stats from Geozo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stats from Geozo": {
      "main": [
        [
          {
            "node": "Calculate ROI & Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate ROI & Metrics": {
      "main": [
        [
          {
            "node": "Save Stats to PostgreSQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alert?": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Stats from Geozo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "1"
}