workflows/01-stats-puller.json
{
  "name": "01 - Stats Puller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value::int as lookback_days FROM bot_config WHERE category = 'smart_bidder' AND key = 'stats_lookback_days' LIMIT 1",
        "options": {}
      },
      "id": "get-config",
      "name": "Get Lookback Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: $('Get Lookback Config').first().json.lookback_days || 3 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "groups[1]",
              "value": "date"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-stats",
      "name": "Fetch Stats from Geozo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\n// Geozo API response: { result: { data: [...], pagination: {...}, total_result: {...} } }\n// or sometimes wrapped differently by n8n HTTP node\nlet statsData = [];\n\nif (raw?.result?.data && Array.isArray(raw.result.data)) {\n  statsData = raw.result.data;\n} else if (raw?.data?.result?.data && Array.isArray(raw.data.result.data)) {\n  statsData = raw.data.result.data;\n} else if (raw?.data && Array.isArray(raw.data)) {\n  statsData = raw.data;\n} else if (Array.isArray(raw)) {\n  statsData = raw;\n}\n\nif (statsData.length === 0) {\n  // Return a single item so workflow continues but DB gets nothing\n  return [{ json: { _empty: true, _raw_keys: Object.keys(raw || {}), _raw_sample: JSON.stringify(raw).substring(0, 500) } }];\n}\n\nconst results = statsData\n  .filter(d => d.ad_id && d.ad_id > 0)\n  .map(d => {\n    const spend = parseFloat(d.money) || parseFloat(d.total_expenses) || 0;\n    const revenue = parseFloat(d.postbacks_confirmed_money) || 0;\n    const clicks = parseInt(d.clicks_count) || 0;\n    const shows = parseInt(d.shows_count) || 0;\n    const confirmedShows = parseInt(d.confirmed_shows_count) || 0;\n    const postbacks = parseInt(d.postbacks_total_count) || 0;\n\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n    const profit = revenue - spend;\n    const ctr = shows > 0 ? (clicks / shows * 100) : 0;\n    const cpc = clicks > 0 ? (spend / clicks) : 0;\n\n    // Date: from API grouping, or fallback to today\n    const date = d.date || $now.toFormat('yyyy-MM-dd');\n\n    let status = 'HOLD';\n    let alertLevel = null;\n\n    if (roi > 100) {\n      status = 'PROFIT_HIGH';\n      alertLevel = 'green';\n    } else if (roi > 50) {\n      status = 'PROFIT';\n      alertLevel = 'green';\n    } else if (roi > 0) {\n      status = 'MARGINAL';\n    } else if (roi > -30) {\n      status = 'LOSING';\n      alertLevel = 'yellow';\n    } else if (roi > -50) {\n      status = 'BURNING';\n      alertLevel = 'orange';\n    } else if (spend > 3) {\n      status = 'CRITICAL';\n      alertLevel = 'red';\n    }\n\n    return {\n      json: {\n        ad_id: parseInt(d.ad_id),\n        date: date,\n        shows: shows,\n        confirmed_shows: confirmedShows,\n        clicks: clicks,\n        money: Math.round(spend * 10000) / 10000,\n        postbacks_count: postbacks,\n        postbacks_confirmed_money: Math.round(revenue * 10000) / 10000,\n        ctr: Math.round(ctr * 10000) / 10000,\n        cpc: Math.round(cpc * 10000) / 10000,\n        roi: Math.round(roi * 100) / 100,\n        profit: Math.round(profit * 10000) / 10000,\n        status: status,\n        alertLevel: alertLevel\n      }\n    };\n  });\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "id": "calculate-metrics",
      "name": "Calculate ROI & Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json._empty }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-data-check",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ad_stats (ad_id, date, shows, confirmed_shows, clicks, money, postbacks_count, postbacks_confirmed_money, ctr, cpc, roi, profit)\nVALUES (\n  {{ $json.ad_id }},\n  '{{ $json.date }}',\n  {{ $json.shows }},\n  {{ $json.confirmed_shows }},\n  {{ $json.clicks }},\n  {{ $json.money }},\n  {{ $json.postbacks_count }},\n  {{ $json.postbacks_confirmed_money }},\n  {{ $json.ctr }},\n  {{ $json.cpc }},\n  {{ $json.roi }},\n  {{ $json.profit }}\n)\nON CONFLICT (ad_id, date)\nDO UPDATE SET\n  shows = EXCLUDED.shows,\n  confirmed_shows = EXCLUDED.confirmed_shows,\n  clicks = EXCLUDED.clicks,\n  money = EXCLUDED.money,\n  postbacks_count = EXCLUDED.postbacks_count,\n  postbacks_confirmed_money = EXCLUDED.postbacks_confirmed_money,\n  ctr = EXCLUDED.ctr,\n  cpc = EXCLUDED.cpc,\n  roi = EXCLUDED.roi,\n  profit = EXCLUDED.profit,\n  collected_at = NOW();",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save Stats to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.alertLevel }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-alerts",
      "name": "Has Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst alerts = items.filter(i => i.json.alertLevel);\n\nif (alerts.length === 0) return [];\n\n// Only alert for today's stats\nconst today = $now.toFormat('yyyy-MM-dd');\nconst todayAlerts = alerts.filter(i => i.json.date === today);\nif (todayAlerts.length === 0) return [];\n\nconst redAlerts = todayAlerts.filter(i => i.json.alertLevel === 'red');\nconst greenAlerts = todayAlerts.filter(i => i.json.alertLevel === 'green');\nconst yellowAlerts = todayAlerts.filter(i => i.json.alertLevel === 'yellow' || i.json.alertLevel === 'orange');\n\nlet message = `📊 GEOZO STATS ${$now.toFormat('dd.MM.yyyy HH:mm')}\\n\\n`;\n\nif (redAlerts.length > 0) {\n  message += `🔴 КРИТИЧЕСКИЕ (ROI < -50%, расход > $3):\\n`;\n  redAlerts.slice(0, 5).forEach(a => {\n    message += `  Ad #${a.json.ad_id}: ROI ${a.json.roi}%, Расход $${a.json.money}, P&L $${a.json.profit}\\n`;\n  });\n  message += `\\n`;\n}\n\nif (yellowAlerts.length > 0) {\n  message += `🟡 ВНИМАНИЕ (убыток):\\n`;\n  yellowAlerts.slice(0, 5).forEach(a => {\n    message += `  Ad #${a.json.ad_id}: ROI ${a.json.roi}%, Расход $${a.json.money}\\n`;\n  });\n  message += `\\n`;\n}\n\nif (greenAlerts.length > 0) {\n  message += `🟢 ПРИБЫЛЬ:\\n`;\n  greenAlerts.slice(0, 5).forEach(a => {\n    message += `  Ad #${a.json.ad_id}: ROI ${a.json.roi}%, P&L $${a.json.profit}\\n`;\n  });\n}\n\nmessage += `\\n📈 Всего объявлений за сегодня: ${todayAlerts.length}`;\nmessage += `\\n🔴 Крит: ${redAlerts.length} | 🟡 Внимание: ${yellowAlerts.length} | 🟢 Прибыль: ${greenAlerts.length}`;\n\nreturn [{ json: { message } }];"
      },
      "id": "format-alert",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Lookback Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lookback Config": {
      "main": [
        [
          {
            "node": "Fetch Stats from Geozo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stats from Geozo": {
      "main": [
        [
          {
            "node": "Calculate ROI & Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate ROI & Metrics": {
      "main": [
        [
          {
            "node": "Has Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data?": {
      "main": [
        [
          {
            "node": "Save Stats to PostgreSQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alert?": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "2"
}
