workflows/02-balance-watchdog.json
{
  "name": "02 - Balance Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/balance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-balance",
      "name": "Get Current Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/balance/history",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "order_by[column]",
              "value": "processed_at"
            },
            {
              "name": "order_by[direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-history",
      "name": "Get Balance History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const balanceData = $('Get Current Balance').first().json;\n\nconst currentBalance = Number(balanceData?.data?.current_balance || balanceData?.data?.balance || balanceData?.current_balance || balanceData?.balance || 0);\n\n// Try to get spend data from balance history API\nlet totalSpendToday = 0;\nlet historyAvailable = false;\ntry {\n  const historyData = $('Get Balance History').first().json;\n  if (historyData && !historyData.error) {\n    const history = historyData?.data?.result?.data || historyData?.data || (Array.isArray(historyData) ? historyData : []);\n    const todayStr = new Date().toISOString().slice(0, 10);\n    const spendEntries = Array.isArray(history) ? history.filter(h => h.type === 'spend' && (h.processed_at || '').startsWith(todayStr)) : [];\n    totalSpendToday = spendEntries.reduce((sum, h) => sum + Math.abs(h.amount || 0), 0);\n    historyAvailable = true;\n  }\n} catch (e) {\n  // Balance history API not available, try DB fallback\n}\n\n// If no history from API, try getting today's spend from ad_stats via previous node\nif (!historyAvailable) {\n  try {\n    const dbSpend = $('Get Today Spend from DB').first().json;\n    totalSpendToday = Number(dbSpend?.total_spend || 0);\n  } catch (e) {\n    // No spend data available\n  }\n}\n\n// Calculate spend rate\nconst now = new Date();\nconst hoursElapsed = now.getHours() + now.getMinutes() / 60;\nconst spendRatePerHour = hoursElapsed > 0.5 ? totalSpendToday / hoursElapsed : 0;\n\n// Estimate hours remaining\nconst hoursRemaining = spendRatePerHour > 0 ? currentBalance / spendRatePerHour : 999;\n\nconst minBalanceAlert = Number(10);\nlet alerts = [];\n\nif (currentBalance < minBalanceAlert) {\n  alerts.push({\n    type: 'LOW_BALANCE',\n    severity: 'critical',\n    message: `💰 BALANCE LOW! $${currentBalance.toFixed(2)} remaining (threshold: $${minBalanceAlert})`\n  });\n}\n\nif (hoursRemaining < 6 && hoursRemaining < 999) {\n  alerts.push({\n    type: 'BALANCE_RUNNING_OUT',\n    severity: 'warning',\n    message: `⏰ Balance will run out in ~${hoursRemaining.toFixed(1)} hours at current rate`\n  });\n}\n\nreturn [{\n  json: {\n    balance: Math.round(currentBalance * 100) / 100,\n    total_spend_today: Math.round(totalSpendToday * 100) / 100,\n    spend_rate_per_hour: Math.round(spendRatePerHour * 10000) / 10000,\n    hours_remaining: Math.round(hoursRemaining * 100) / 100,\n    hours_elapsed: Math.round(hoursElapsed * 100) / 100,\n    history_source: historyAvailable ? 'api' : 'db_fallback',\n    alerts: alerts,\n    has_alerts: alerts.length > 0,\n    collected_at: $now.toISO()\n  }\n}];"
      },
      "id": "calculate-metrics",
      "name": "Calculate Balance Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO balance_history (account_id, balance, spend_rate_per_hour, hours_remaining)\nVALUES (1, {{ $json.balance }}, {{ $json.spend_rate_per_hour }}, {{ $json.hours_remaining }});",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.has_alerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet message = `💰 BALANCE WATCHDOG ${$now.toFormat('dd.MM.yyyy HH:mm')}\\n\\n`;\nmessage += `Balance: $${data.balance}\\n`;\nmessage += `Spend today: $${data.total_spend_today}\\n`;\nmessage += `Rate: $${data.spend_rate_per_hour}/hour\\n`;\nmessage += `Estimated remaining: ${data.hours_remaining}h\\n\\n`;\n\nif (data.alerts && data.alerts.length > 0) {\n  message += `⚠️ ALERTS:\\n`;\n  data.alerts.forEach(a => {\n    message += `${a.message}\\n`;\n  });\n}\n\nreturn [{ json: { message } }];"
      },
      "id": "format-message",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(money), 0) AS total_spend FROM ad_stats WHERE date = CURRENT_DATE",
        "options": {}
      },
      "id": "fetch-spend-db",
      "name": "Get Today Spend from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Current Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Balance History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today Spend from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Balance": {
      "main": [
        [
          {
            "node": "Calculate Balance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Balance History": {
      "main": [
        [
          {
            "node": "Calculate Balance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Balance Metrics": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Spend from DB": {
      "main": [
        [
          {
            "node": "Calculate Balance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
