workflows/02-stats-history-puller.json
{
  "name": "02 - Stats History Puller (30d)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-history",
      "name": "Daily at 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: 30 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "groups[1]",
              "value": "date"
            },
            {
              "name": "order_by[0][column]",
              "value": "date"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "5000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-stats-30d",
      "name": "Fetch 30d Stats from Geozo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nlet statsData = [];\n\nif (raw?.result?.data && Array.isArray(raw.result.data)) {\n  statsData = raw.result.data;\n} else if (raw?.data?.result?.data && Array.isArray(raw.data.result.data)) {\n  statsData = raw.data.result.data;\n} else if (raw?.data && Array.isArray(raw.data)) {\n  statsData = raw.data;\n} else if (Array.isArray(raw)) {\n  statsData = raw;\n}\n\nif (statsData.length === 0) {\n  return [{ json: { _empty: true, _raw_keys: Object.keys(raw || {}), _raw_sample: JSON.stringify(raw).substring(0, 500) } }];\n}\n\nconst results = statsData\n  .filter(d => d.ad_id && d.ad_id > 0)\n  .map(d => {\n    const spend = parseFloat(d.money) || parseFloat(d.total_expenses) || 0;\n    const revenue = parseFloat(d.postbacks_confirmed_money) || 0;\n    const clicks = parseInt(d.clicks_count) || 0;\n    const shows = parseInt(d.shows_count) || 0;\n    const confirmedShows = parseInt(d.confirmed_shows_count) || 0;\n    const postbacks = parseInt(d.postbacks_total_count) || 0;\n\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n    const profit = revenue - spend;\n    const ctr = shows > 0 ? (clicks / shows * 100) : 0;\n    const cpc = clicks > 0 ? (spend / clicks) : 0;\n    const date = d.date || $now.toFormat('yyyy-MM-dd');\n\n    return {\n      json: {\n        ad_id: parseInt(d.ad_id),\n        date: date,\n        shows: shows,\n        confirmed_shows: confirmedShows,\n        clicks: clicks,\n        money: Math.round(spend * 10000) / 10000,\n        postbacks_count: postbacks,\n        postbacks_confirmed_money: Math.round(revenue * 10000) / 10000,\n        ctr: Math.round(ctr * 10000) / 10000,\n        cpc: Math.round(cpc * 10000) / 10000,\n        roi: Math.round(roi * 100) / 100,\n        profit: Math.round(profit * 10000) / 10000\n      }\n    };\n  });\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "id": "calculate-metrics-hist",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-data-hist",
              "leftValue": "={{ $json._empty }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-data-check-hist",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ad_stats (ad_id, date, shows, confirmed_shows, clicks, money, postbacks_count, postbacks_confirmed_money, ctr, cpc, roi, profit)\nVALUES (\n  {{ $json.ad_id }},\n  '{{ $json.date }}',\n  {{ $json.shows }},\n  {{ $json.confirmed_shows }},\n  {{ $json.clicks }},\n  {{ $json.money }},\n  {{ $json.postbacks_count }},\n  {{ $json.postbacks_confirmed_money }},\n  {{ $json.ctr }},\n  {{ $json.cpc }},\n  {{ $json.roi }},\n  {{ $json.profit }}\n)\nON CONFLICT (ad_id, date)\nDO UPDATE SET\n  shows = EXCLUDED.shows,\n  confirmed_shows = EXCLUDED.confirmed_shows,\n  clicks = EXCLUDED.clicks,\n  money = EXCLUDED.money,\n  postbacks_count = EXCLUDED.postbacks_count,\n  postbacks_confirmed_money = EXCLUDED.postbacks_confirmed_money,\n  ctr = EXCLUDED.ctr,\n  cpc = EXCLUDED.cpc,\n  roi = EXCLUDED.roi,\n  profit = EXCLUDED.profit,\n  collected_at = NOW();",
        "options": {}
      },
      "id": "save-history",
      "name": "Save History to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        -50
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Daily at 03:00": {
      "main": [
        [
          {
            "node": "Fetch 30d Stats from Geozo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 30d Stats from Geozo": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Has Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data?": {
      "main": [
        [
          {
            "node": "Save History to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    }
  ],
  "pinData": {},
  "versionId": "2"
}
