workflows/02-stats-history-puller.json
{
  "name": "02 - Stats History Puller (30d)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-history",
      "name": "Daily at 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fetch 30 days of stats from Geozo API with pagination\nconst dateFrom = $now.minus({ days: 30 }).toFormat('yyyy-MM-dd');\nconst dateTo = $now.minus({ days: 1 }).toFormat('yyyy-MM-dd');\n\nlet allStats = [];\nlet page = 1;\nconst perPage = 500;\n\nwhile (true) {\n  const response = await $http.request({\n    method: 'GET',\n    url: 'https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks',\n    headers: {\n      'Authorization': 'Bearer ' + $credentials.httpHeaderAuth.value\n    },\n    qs: {\n      'filters[date_from]': dateFrom,\n      'filters[date_to]': dateTo,\n      'groups[0]': 'ad_id',\n      'groups[1]': 'date',\n      'order_by[0][column]': 'date',\n      'order_by[0][direction]': 'desc',\n      'count': perPage,\n      'page': page\n    }\n  });\n\n  const data = response?.result?.data || response?.data?.result?.data || [];\n  if (data.length === 0) break;\n\n  allStats = allStats.concat(data);\n  \n  // Check if there are more pages\n  const totalCount = response?.result?.pagination?.total_count || response?.data?.result?.pagination?.total_count || 0;\n  if (allStats.length >= totalCount || data.length < perPage) break;\n  page++;\n  \n  // Safety limit\n  if (page > 50) break;\n}\n\nif (allStats.length === 0) {\n  return [{ json: { _empty: true, dateFrom, dateTo } }];\n}\n\nconst results = allStats\n  .filter(d => d.ad_id && d.ad_id > 0)\n  .map(d => {\n    const spend = parseFloat(d.money) || parseFloat(d.total_expenses) || 0;\n    const revenue = parseFloat(d.postbacks_confirmed_money) || 0;\n    const clicks = parseInt(d.clicks_count) || 0;\n    const shows = parseInt(d.shows_count) || 0;\n    const confirmedShows = parseInt(d.confirmed_shows_count) || 0;\n    const postbacks = parseInt(d.postbacks_total_count) || 0;\n\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n    const profit = revenue - spend;\n    const ctr = shows > 0 ? (clicks / shows * 100) : 0;\n    const cpc = clicks > 0 ? (spend / clicks) : 0;\n    const date = d.date || $now.toFormat('yyyy-MM-dd');\n\n    return {\n      json: {\n        ad_id: parseInt(d.ad_id),\n        date: date,\n        shows: shows,\n        confirmed_shows: confirmedShows,\n        clicks: clicks,\n        money: Math.round(spend * 10000) / 10000,\n        postbacks_count: postbacks,\n        postbacks_confirmed_money: Math.round(revenue * 10000) / 10000,\n        ctr: Math.round(ctr * 10000) / 10000,\n        cpc: Math.round(cpc * 10000) / 10000,\n        roi: Math.round(roi * 100) / 100,\n        profit: Math.round(profit * 10000) / 10000\n      }\n    };\n  });\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "id": "fetch-history",
      "name": "Fetch 30d Stats with Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-data-hist",
              "leftValue": "={{ $json._empty }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-data-check-hist",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ad_stats (ad_id, date, shows, confirmed_shows, clicks, money, postbacks_count, postbacks_confirmed_money, ctr, cpc, roi, profit)\nVALUES (\n  {{ $json.ad_id }},\n  '{{ $json.date }}',\n  {{ $json.shows }},\n  {{ $json.confirmed_shows }},\n  {{ $json.clicks }},\n  {{ $json.money }},\n  {{ $json.postbacks_count }},\n  {{ $json.postbacks_confirmed_money }},\n  {{ $json.ctr }},\n  {{ $json.cpc }},\n  {{ $json.roi }},\n  {{ $json.profit }}\n)\nON CONFLICT (ad_id, date)\nDO UPDATE SET\n  shows = EXCLUDED.shows,\n  confirmed_shows = EXCLUDED.confirmed_shows,\n  clicks = EXCLUDED.clicks,\n  money = EXCLUDED.money,\n  postbacks_count = EXCLUDED.postbacks_count,\n  postbacks_confirmed_money = EXCLUDED.postbacks_confirmed_money,\n  ctr = EXCLUDED.ctr,\n  cpc = EXCLUDED.cpc,\n  roi = EXCLUDED.roi,\n  profit = EXCLUDED.profit,\n  collected_at = NOW();",
        "options": {}
      },
      "id": "save-history",
      "name": "Save History to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        -50
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst message = `📊 History Puller: saved ${count} stat records (30d)`;\nreturn [{ json: { message, count } }];"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -50
      ]
    }
  ],
  "connections": {
    "Daily at 03:00": {
      "main": [
        [
          {
            "node": "Fetch 30d Stats with Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 30d Stats with Pagination": {
      "main": [
        [
          {
            "node": "Has Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data?": {
      "main": [
        [
          {
            "node": "Save History to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History to PostgreSQL": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
