workflows/03-smart-bidder.json
{
  "name": "03 - Smart Bidder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: 3 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-stats",
      "name": "Fetch Ad Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[status_id_in][]",
              "value": "5"
            },
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-active-ads",
      "name": "Fetch Active Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsItems = $('Fetch Ad Stats').first().json;\nconst adsItems = $('Fetch Active Ads').first().json;\nconst crmItems = $('Fetch CRM Leads').all().map(i => i.json);\nconst posItems = $('Fetch Positions').all().map(i => i.json);\nconst geoPayoutItems = $('Fetch Geo Payouts').all().map(i => i.json);\n\nconst statsData = statsItems?.data?.result?.data || statsItems?.data || (Array.isArray(statsItems) ? statsItems : []);\nconst adsData = adsItems?.data?.result?.data || adsItems?.data || (Array.isArray(adsItems) ? adsItems : []);\n\nif (!Array.isArray(statsData) || !Array.isArray(adsData)) {\n  return [{ json: { error: 'Invalid data' } }];\n}\n\n// Geo payouts map: country_code -> { avg_payout, avg_approval, max_cpl, min_bid, max_bid }\nconst geoMap = {};\nconst DEFAULT_PAYOUT = { avg_payout: 1350, avg_approval: 0.055, max_cpl: 74.25, min_bid: 0.01, max_bid: 0.15 };\ngeoPayoutItems.forEach(row => {\n  if (row.country_code) {\n    geoMap[row.country_code] = {\n      avg_payout: Number(row.avg_payout) || DEFAULT_PAYOUT.avg_payout,\n      avg_approval: Number(row.avg_approval) || DEFAULT_PAYOUT.avg_approval,\n      max_cpl: Number(row.max_cpl) || DEFAULT_PAYOUT.max_cpl,\n      min_bid: Number(row.min_bid) || DEFAULT_PAYOUT.min_bid,\n      max_bid: Number(row.max_bid) || DEFAULT_PAYOUT.max_bid\n    };\n  }\n});\n\n// CRM map: ad_id -> { leads, deps, rev }\nconst crmMap = {};\ncrmItems.forEach(row => {\n  const adId = Number(row.ad_id);\n  if (adId) crmMap[adId] = { leads: row.total_leads || 0, deps: row.depositors || 0, rev: Number(row.crm_revenue) || 0 };\n});\n\n// Position map: ad_id -> { avg, best }\nconst posMap = {};\nposItems.forEach(row => {\n  const adId = Number(row.ad_id);\n  if (adId) posMap[adId] = { avg: Number(row.avg_position) || 99, best: Number(row.best_position) || 99 };\n});\n\n// Ads map: current bids + extract GEO from bids structure\nconst adsMap = {};\nadsData.forEach(ad => {\n  let currentBid = 0;\n  const geos = [];\n  if (ad.bids && Array.isArray(ad.bids)) {\n    const extractBidsAndGeos = (node) => {\n      if (node.bid) {\n        currentBid = currentBid || Number(node.bid);\n      }\n      if (node.type === 'countries' && node.id) {\n        geos.push(node.id);\n        if (node.bid) currentBid = currentBid || Number(node.bid);\n      }\n      if (node.children) {\n        if (Array.isArray(node.children)) {\n          node.children.forEach(c => extractBidsAndGeos(c));\n        } else {\n          Object.values(node.children).forEach(c => extractBidsAndGeos(c));\n        }\n      }\n    };\n    ad.bids.forEach(b => extractBidsAndGeos(b));\n  }\n  adsMap[ad.id] = {\n    current_bid: currentBid,\n    ad_group_id: ad.ad_group_id,\n    status_id: ad.status_id,\n    geos: geos\n  };\n});\n\nconst minSpendForDecision = 50;\nconst minSpendForStop = 150;\nconst minClicksForStop = 500;\nconst actions = [];\n\nstatsData.forEach(d => {\n  const adId = d.ad_id;\n  const spend = d.money || 0;\n  const clicks = d.clicks_count || 0;\n  const shows = d.shows_count || 0;\n  const ctr = shows > 0 ? (clicks / shows * 100) : 0;\n  const adInfo = adsMap[adId] || { current_bid: 0, geos: [] };\n  const currentBid = adInfo.current_bid;\n\n  // Determine GEO payout for this ad\n  const primaryGeo = adInfo.geos.length > 0 ? adInfo.geos[0] : null;\n  const geoPayout = primaryGeo && geoMap[primaryGeo] ? geoMap[primaryGeo] : DEFAULT_PAYOUT;\n  const maxCPL = geoPayout.max_cpl;\n  const maxCeiling = geoPayout.max_bid;\n  const minFloor = geoPayout.min_bid;\n\n  const crm = crmMap[adId] || { leads: 0, deps: 0, rev: 0 };\n  const totalLeads = crm.leads;\n  const depositors = crm.deps;\n  const cpl = totalLeads > 0 ? (spend / totalLeads) : (spend > 0 ? Infinity : 0);\n  const depRate = totalLeads > 0 ? (depositors / totalLeads * 100) : 0;\n\n  const pos = posMap[adId] || { avg: 99, best: 99 };\n  const avgPos = pos.avg;\n  const isTopPos = avgPos <= 2;\n  const isGoodPos = avgPos <= 5;\n\n  let action = 'HOLD';\n  let bidMultiplier = 1.0;\n  let reason = '';\n\n  if (totalLeads > 0) {\n    if (cpl <= maxCPL * 0.5 && totalLeads >= 3 && !isTopPos) {\n      action = 'RAISE_BID';\n      bidMultiplier = 1.15;\n      reason = `${primaryGeo||'?'} Cheap CPL $${cpl.toFixed(0)} (max $${maxCPL.toFixed(0)}), ${totalLeads}L/${depositors}D, pos ${avgPos}, +15%`;\n    }\n    else if (cpl <= maxCPL * 0.5 && totalLeads >= 3 && isTopPos) {\n      action = 'HOLD';\n      reason = `${primaryGeo||'?'} Cheap CPL $${cpl.toFixed(0)} but top pos ${avgPos}`;\n    }\n    else if (cpl <= maxCPL * 0.75 && totalLeads >= 2 && !isGoodPos) {\n      action = 'RAISE_BID';\n      bidMultiplier = 1.10;\n      reason = `${primaryGeo||'?'} Good CPL $${cpl.toFixed(0)} (max $${maxCPL.toFixed(0)}), ${totalLeads}L/${depositors}D, pos ${avgPos}, +10%`;\n    }\n    else if (cpl <= maxCPL) {\n      action = 'HOLD';\n      reason = `${primaryGeo||'?'} OK CPL $${cpl.toFixed(0)}, ${totalLeads}L/${depositors}D, pos ${avgPos}`;\n    }\n    else if (cpl > maxCPL && cpl <= maxCPL * 1.5) {\n      action = 'LOWER_BID';\n      bidMultiplier = 0.90;\n      reason = `${primaryGeo||'?'} High CPL $${cpl.toFixed(0)} (max $${maxCPL.toFixed(0)}), ${totalLeads}L/${depositors}D, -10%`;\n    }\n    else if (cpl > maxCPL * 1.5) {\n      action = 'LOWER_BID';\n      bidMultiplier = 0.80;\n      reason = `${primaryGeo||'?'} Expensive CPL $${cpl.toFixed(0)} (max $${maxCPL.toFixed(0)}), ${totalLeads}L/${depositors}D, -20%`;\n    }\n  }\n  else {\n    if (spend < minSpendForDecision) {\n      action = 'HOLD';\n      reason = `${primaryGeo||'?'} 0L, $${spend.toFixed(2)} spent, waiting`;\n    }\n    else if (spend >= minSpendForDecision && spend < minSpendForStop) {\n      action = 'LOWER_BID';\n      bidMultiplier = 0.85;\n      reason = `${primaryGeo||'?'} 0L in 3d, $${spend.toFixed(2)}, ${clicks}cl, -15%`;\n    }\n    else if (spend >= minSpendForStop && clicks >= minClicksForStop) {\n      action = 'STOP';\n      reason = `${primaryGeo||'?'} 0L in 3d, $${spend.toFixed(2)}, ${clicks}cl`;\n    }\n    else if (clicks < 10 && shows > 5000) {\n      action = 'STOP';\n      reason = `${primaryGeo||'?'} Dead: ${clicks}cl / ${shows}sh in 3d`;\n    }\n  }\n\n  if (action !== 'HOLD') {\n    let newBid = currentBid * bidMultiplier;\n    if (newBid > maxCeiling) newBid = maxCeiling;\n    if (newBid < minFloor) newBid = minFloor;\n\n    actions.push({\n      json: {\n        ad_id: adId,\n        action: action,\n        current_bid: currentBid,\n        new_bid: action === 'STOP' ? currentBid : Math.round(newBid * 10000) / 10000,\n        geo: primaryGeo || 'unknown',\n        cpl: cpl === Infinity ? -1 : Math.round(cpl * 100) / 100,\n        max_cpl: Math.round(maxCPL * 100) / 100,\n        geo_payout: Math.round(geoPayout.avg_payout),\n        geo_approval: geoPayout.avg_approval,\n        leads: totalLeads,\n        depositors: depositors,\n        dep_rate: Math.round(depRate * 100) / 100,\n        avg_position: avgPos,\n        clicks: clicks,\n        shows: shows,\n        spend: Math.round(spend * 100) / 100,\n        ctr: Math.round(ctr * 10000) / 10000,\n        reason: reason\n      }\n    });\n  }\n});\n\nif (actions.length === 0) {\n  return [{ json: { action: 'NONE', reason: 'No bid changes needed' } }];\n}\n\nreturn actions;"
      },
      "id": "apply-bid-rules",
      "name": "Apply Bid Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-stop",
              "leftValue": "={{ $json.action }}",
              "rightValue": "STOP",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-action",
      "name": "Stop or Bid Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.geozo.com/v1/advertiser/ads/all/stop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": {{ JSON.stringify([$json.ad_id]) }}\n}",
        "options": {}
      },
      "id": "stop-ad",
      "name": "Stop Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.geozo.com/v1/advertiser/ads/all/bid",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ids[]",
              "value": "={{ $json.ad_id }}"
            },
            {
              "name": "one_bid_for_all_geo",
              "value": "={{ $json.new_bid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-bid",
      "name": "Update Bid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bid_history (ad_id, old_bid, new_bid, reason, rule_applied, roi_at_change, clicks_at_change)\nVALUES (\n  {{ $json.ad_id }},\n  {{ $json.current_bid }},\n  {{ $json.new_bid || $json.current_bid }},\n  '{{ $json.reason.replace(/'/g, \"''\") }}',\n  '{{ $json.action }}',\n  {{ $json.cpl || 0 }},\n  {{ $json.clicks }}\n);",
        "options": {}
      },
      "id": "log-change",
      "name": "Log Bid Change",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1160,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst changes = items.filter(i => i.json.action && i.json.action !== 'NONE');\n\nif (changes.length === 0) return [];\n\nconst stops = changes.filter(i => i.json.action === 'STOP');\nconst raises = changes.filter(i => i.json.action === 'RAISE_BID');\nconst lowers = changes.filter(i => i.json.action === 'LOWER_BID');\n\nlet msg = `SMART BIDDER ${$now.toFormat('dd.MM.yyyy HH:mm')}\\n`;\nmsg += `Total: ${changes.length} | Up: ${raises.length} | Down: ${lowers.length} | Stop: ${stops.length}\\n\\n`;\n\nif (stops.length > 0) {\n  msg += `STOPPED:\\n`;\n  stops.forEach(s => {\n    const cplStr = s.json.cpl > 0 ? `CPL:$${s.json.cpl}` : 'no leads';\n    msg += `${s.json.geo} #${s.json.ad_id}: ${s.json.leads||0}L/${s.json.depositors||0}D ${cplStr} max:$${s.json.max_cpl} $${s.json.spend}spent\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (raises.length > 0) {\n  msg += `BID UP:\\n`;\n  raises.slice(0, 10).forEach(r => {\n    msg += `${r.json.geo} #${r.json.ad_id}: $${r.json.current_bid}->${r.json.new_bid} ${r.json.leads||0}L/${r.json.depositors||0}D CPL:$${r.json.cpl} max:$${r.json.max_cpl}\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (lowers.length > 0) {\n  msg += `BID DOWN:\\n`;\n  lowers.slice(0, 10).forEach(l => {\n    const cplStr = l.json.cpl > 0 ? `CPL:$${l.json.cpl}` : 'no leads';\n    msg += `${l.json.geo} #${l.json.ad_id}: $${l.json.current_bid}->${l.json.new_bid} ${l.json.leads||0}L/${l.json.depositors||0}D ${cplStr} max:$${l.json.max_cpl}\\n`;\n  });\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-summary",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Summary to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1380,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT param5 AS ad_id, COUNT(*) AS total_leads, SUM(CASE WHEN status = 'Depositor' THEN 1 ELSE 0 END) AS depositors, ROUND(SUM(CASE WHEN status = 'Depositor' THEN cost ELSE 0 END), 2) AS crm_revenue FROM leads WHERE param5 IS NOT NULL AND param5 != '' AND param5 REGEXP '^[0-9]+$' AND created_at >= DATE_SUB(CURDATE(), INTERVAL 3 DAY) GROUP BY param5",
        "options": {}
      },
      "id": "fetch-crm-leads",
      "name": "Fetch CRM Leads",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-crm",
          "name": "MySQL CRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad_id, ROUND(AVG(position), 1) AS avg_position, MIN(position) AS best_position, COUNT(*) AS scans FROM position_tracking WHERE scanned_at >= NOW() - INTERVAL '24 hours' AND ad_id IS NOT NULL GROUP BY ad_id",
        "options": {}
      },
      "id": "fetch-positions",
      "name": "Fetch Positions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        450
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT country_code, country_name, geo_id, avg_payout, avg_approval, max_cpl, min_bid, max_bid FROM geo_payouts WHERE is_active = TRUE",
        "options": {}
      },
      "id": "fetch-geo-payouts",
      "name": "Fetch Geo Payouts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Ad Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CRM Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Positions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Geo Payouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Geo Payouts": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ad Stats": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Ads": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CRM Leads": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Positions": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Bid Rules": {
      "main": [
        [
          {
            "node": "Stop or Bid Change?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop or Bid Change?": {
      "main": [
        [
          {
            "node": "Stop Ad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Bid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Ad": {
      "main": [
        [
          {
            "node": "Log Bid Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bid": {
      "main": [
        [
          {
            "node": "Log Bid Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Bid Change": {
      "main": [
        []
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Send Summary to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Ad Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CRM Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Positions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Geo Payouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "optimizer",
      "id": "tag-optimizer"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "1"
}