workflows/03-smart-bidder.json
{
  "name": "03 - Smart Bidder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GEOZO_API_BASE_URL || 'https://api.geozo.com/v1' }}/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-stats",
      "name": "Fetch Ad Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GEOZO_API_BASE_URL || 'https://api.geozo.com/v1' }}/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[status_id_in][]",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-active-ads",
      "name": "Fetch Active Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsItems = $('Fetch Ad Stats').first().json;\nconst adsItems = $('Fetch Active Ads').first().json;\n\nconst statsData = statsItems.data || statsItems;\nconst adsData = adsItems.data || adsItems;\n\nif (!Array.isArray(statsData) || !Array.isArray(adsData)) {\n  return [{ json: { error: 'Invalid data', actions: [] } }];\n}\n\n// Build ads map for current bids\nconst adsMap = {};\nadsData.forEach(ad => {\n  adsMap[ad.id] = {\n    current_bid: parseFloat(ad.one_bid_for_all_geo) || 0,\n    status_id: ad.status_id\n  };\n});\n\nconst maxCeiling = parseFloat($env.MAX_BID_CEILING || '0.10');\nconst actions = [];\n\nstatsData.forEach(d => {\n  const adId = d.ad_id;\n  const spend = parseFloat(d.money) || 0;\n  const revenue = parseFloat(d.postbacks_confirmed_money) || 0;\n  const clicks = parseInt(d.clicks_count) || 0;\n  const shows = parseInt(d.shows_count) || 0;\n  const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n  const ctr = shows > 0 ? (clicks / shows * 100) : 0;\n  const currentBid = adsMap[adId]?.current_bid || 0;\n\n  let action = 'HOLD';\n  let bidMultiplier = 1.0;\n  let reason = '';\n\n  // Rule 1: CTR > 2% AND ROI > 0 = golden teaser\n  if (ctr > 2 && roi > 0 && clicks > 10) {\n    action = 'RAISE_BID';\n    bidMultiplier = 1.20;\n    reason = `Golden teaser: CTR ${ctr.toFixed(2)}%, ROI ${roi.toFixed(1)}%`;\n  }\n  // Rule 2: ROI > 50% with enough data\n  else if (roi > 50 && clicks > 20) {\n    action = 'RAISE_BID';\n    bidMultiplier = 1.10;\n    reason = `High ROI ${roi.toFixed(1)}% with ${clicks} clicks`;\n  }\n  // Rule 3: ROI 0-50% = hold\n  else if (roi >= 0 && roi <= 50 && clicks > 20) {\n    action = 'HOLD';\n    reason = `Stable ROI ${roi.toFixed(1)}%`;\n  }\n  // Rule 4: ROI -30% to 0% = lower bid\n  else if (roi >= -30 && roi < 0 && clicks > 30) {\n    action = 'LOWER_BID';\n    bidMultiplier = 0.85;\n    reason = `Negative ROI ${roi.toFixed(1)}%, lowering 15%`;\n  }\n  // Rule 5: ROI < -30% = significant lower\n  else if (roi < -30 && roi >= -50 && clicks > 20) {\n    action = 'LOWER_BID';\n    bidMultiplier = 0.70;\n    reason = `Bad ROI ${roi.toFixed(1)}%, lowering 30%`;\n  }\n  // Rule 6: ROI < -50% AND spent > $3 = STOP\n  else if (roi < -50 && spend > 3) {\n    action = 'STOP';\n    reason = `Critical ROI ${roi.toFixed(1)}%, spent $${spend.toFixed(2)} - STOPPING`;\n  }\n  // Rule 7: Dead teaser (no clicks but many shows)\n  else if (clicks < 5 && shows > 1000) {\n    action = 'STOP';\n    reason = `Dead teaser: ${clicks} clicks / ${shows} shows in 24h`;\n  }\n\n  if (action !== 'HOLD') {\n    let newBid = currentBid * bidMultiplier;\n    if (newBid > maxCeiling) newBid = maxCeiling;\n    if (newBid < 0.001) newBid = 0.001;\n\n    actions.push({\n      json: {\n        ad_id: adId,\n        action: action,\n        current_bid: currentBid,\n        new_bid: action === 'STOP' ? currentBid : Math.round(newBid * 10000) / 10000,\n        roi: Math.round(roi * 100) / 100,\n        clicks: clicks,\n        shows: shows,\n        spend: spend,\n        ctr: Math.round(ctr * 10000) / 10000,\n        reason: reason\n      }\n    });\n  }\n});\n\nif (actions.length === 0) {\n  return [{ json: { action: 'NONE', reason: 'No bid changes needed' } }];\n}\n\nreturn actions;"
      },
      "id": "apply-bid-rules",
      "name": "Apply Bid Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-stop",
              "leftValue": "={{ $json.action }}",
              "rightValue": "STOP",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-action",
      "name": "Stop or Bid Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GEOZO_API_BASE_URL || 'https://api.geozo.com/v1' }}/advertiser/ads/all/stop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ad_ids",
              "value": "={{ [$json.ad_id] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "stop-ad",
      "name": "Stop Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GEOZO_API_BASE_URL || 'https://api.geozo.com/v1' }}/advertiser/ads/all/bid",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ads\": [\n    {\n      \"ad_id\": {{ $json.ad_id }},\n      \"one_bid_for_all_geo\": {{ $json.new_bid }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "update-bid",
      "name": "Update Bid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bid_history (ad_id, old_bid, new_bid, reason, rule_applied, roi_at_change, clicks_at_change)\nVALUES (\n  {{ $json.ad_id }},\n  {{ $json.current_bid }},\n  {{ $json.new_bid || $json.current_bid }},\n  '{{ $json.reason }}',\n  '{{ $json.action }}',\n  {{ $json.roi }},\n  {{ $json.clicks }}\n);",
        "options": {}
      },
      "id": "log-change",
      "name": "Log Bid Change",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1160,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst changes = items.filter(i => i.json.action && i.json.action !== 'NONE');\n\nif (changes.length === 0) return [];\n\nconst stops = changes.filter(i => i.json.action === 'STOP');\nconst raises = changes.filter(i => i.json.action === 'RAISE_BID');\nconst lowers = changes.filter(i => i.json.action === 'LOWER_BID');\n\nlet msg = `🤖 SMART BIDDER ${$now.format('dd.MM.yyyy HH:mm')}\\n\\n`;\nmsg += `Total changes: ${changes.length}\\n`;\nmsg += `⬆️ Raised: ${raises.length} | ⬇️ Lowered: ${lowers.length} | 🛑 Stopped: ${stops.length}\\n\\n`;\n\nif (stops.length > 0) {\n  msg += `🛑 STOPPED:\\n`;\n  stops.forEach(s => msg += `  #${s.json.ad_id}: ${s.json.reason}\\n`);\n  msg += `\\n`;\n}\n\nif (raises.length > 0) {\n  msg += `⬆️ BID RAISED:\\n`;\n  raises.slice(0, 5).forEach(r => msg += `  #${r.json.ad_id}: $${r.json.current_bid} → $${r.json.new_bid} (${r.json.reason})\\n`);\n  msg += `\\n`;\n}\n\nif (lowers.length > 0) {\n  msg += `⬇️ BID LOWERED:\\n`;\n  lowers.slice(0, 5).forEach(l => msg += `  #${l.json.ad_id}: $${l.json.current_bid} → $${l.json.new_bid} (${l.json.reason})\\n`);\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-summary",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || '' }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Summary to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1380,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Ad Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ad Stats": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Ads": {
      "main": [
        [
          {
            "node": "Apply Bid Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Bid Rules": {
      "main": [
        [
          {
            "node": "Stop or Bid Change?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop or Bid Change?": {
      "main": [
        [
          {
            "node": "Stop Ad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Bid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Ad": {
      "main": [
        [
          {
            "node": "Log Bid Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bid": {
      "main": [
        [
          {
            "node": "Log Bid Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Bid Change": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Send Summary to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Ad Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "optimizer",
      "id": "tag-optimizer"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "1"
}