workflows/04-geo-bidder.json
{
  "name": "04 - Geo Stats Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filters[date_from]", "value": "={{ $now.minus({ days: 7 }).format('yyyy-MM-dd') }}" },
            { "name": "filters[date_to]", "value": "={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}" },
            { "name": "groups[0]", "value": "country_code" },
            { "name": "groups[1]", "value": "ad_id" },
            { "name": "order_by[0][column]", "value": "money" },
            { "name": "order_by[0][direction]", "value": "desc" },
            { "name": "count", "value": "1000" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-geo-stats",
      "name": "Fetch Geo Stats (7 days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -50],
      "credentials": {
        "httpHeaderAuth": { "id": "o0swcMSqweTNOUhw", "name": "Geozo" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT source_suffix2 AS geo, param5 AS ad_id, COUNT(*) AS total_leads, SUM(CASE WHEN status = 'Depositor' THEN 1 ELSE 0 END) AS depositors, ROUND(SUM(CASE WHEN status = 'Depositor' THEN cost ELSE 0 END), 2) AS crm_revenue FROM leads WHERE param5 IS NOT NULL AND param5 != '' AND param5 REGEXP '^[0-9]+$' AND source_suffix2 IS NOT NULL AND source_suffix2 != '' AND created_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) GROUP BY source_suffix2, param5",
        "options": {}
      },
      "id": "fetch-crm-geo",
      "name": "Fetch CRM Leads by Geo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [220, 100],
      "credentials": {
        "mySql": { "id": "mysql-crm", "name": "MySQL CRM" }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsRaw = $('Fetch Geo Stats (7 days)').first().json;\nconst crmItems = $('Fetch CRM Leads by Geo').all().map(i => i.json);\n\nconst stats = statsRaw?.data?.result?.data || statsRaw?.data || (Array.isArray(statsRaw) ? statsRaw : []);\n\nif (!Array.isArray(stats) || stats.length === 0) {\n  return [{ json: { action: 'NONE', reason: 'No geo stats data' } }];\n}\n\n// Build CRM map: ad_id+geo -> {leads, depositors, revenue}\nconst crmMap = {};\ncrmItems.forEach(row => {\n  const key = `${row.ad_id}_${(row.geo || '').toUpperCase()}`;\n  crmMap[key] = {\n    leads: Number(row.total_leads) || 0,\n    depositors: Number(row.depositors) || 0,\n    revenue: Number(row.crm_revenue) || 0\n  };\n});\n\nconst results = [];\nstats.forEach(d => {\n  const adId = d.ad_id;\n  const country = d.country_code;\n  if (!adId || !country) return;\n\n  const spend = Number(d.money) || 0;\n  const key = `${adId}_${country.toUpperCase()}`;\n  const crm = crmMap[key] || { leads: 0, depositors: 0, revenue: 0 };\n  const roi = spend > 0 ? Math.round((crm.revenue - spend) / spend * 10000) / 100 : 0;\n  const cpl = crm.leads > 0 ? Math.round(spend / crm.leads * 100) / 100 : 0;\n\n  results.push({\n    json: {\n      ad_id: adId,\n      country_code: country,\n      shows: Number(d.shows_count) || 0,\n      clicks: Number(d.clicks_count) || 0,\n      spend: Math.round(spend * 100) / 100,\n      revenue: Math.round(crm.revenue * 100) / 100,\n      leads: crm.leads,\n      depositors: crm.depositors,\n      cpl: cpl,\n      roi: roi\n    }\n  });\n});\n\nreturn results;"
      },
      "id": "merge-stats",
      "name": "Merge Geozo + CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO geo_stats (ad_id, country_code, date, shows, clicks, money, postbacks_confirmed_money, roi)\nVALUES (\n  {{ $json.ad_id }},\n  '{{ $json.country_code }}',\n  CURRENT_DATE,\n  {{ $json.shows }},\n  {{ $json.clicks }},\n  {{ $json.spend }},\n  {{ $json.revenue }},\n  {{ $json.roi }}\n)\nON CONFLICT (ad_id, country_code, date) DO UPDATE SET\n  shows = EXCLUDED.shows,\n  clicks = EXCLUDED.clicks,\n  money = EXCLUDED.money,\n  postbacks_confirmed_money = EXCLUDED.postbacks_confirmed_money,\n  roi = EXCLUDED.roi;",
        "options": {}
      },
      "id": "log-to-db",
      "name": "Log Geo Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 0],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 150]
    }
  ],
  "connections": {
    "Daily at 02:00": {
      "main": [[
        { "node": "Fetch Geo Stats (7 days)", "type": "main", "index": 0 },
        { "node": "Fetch CRM Leads by Geo", "type": "main", "index": 0 }
      ]]
    },
    "Called by Orchestrator": {
      "main": [[
        { "node": "Fetch Geo Stats (7 days)", "type": "main", "index": 0 },
        { "node": "Fetch CRM Leads by Geo", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Geo Stats (7 days)": {
      "main": [[
        { "node": "Merge Geozo + CRM", "type": "main", "index": 0 }
      ]]
    },
    "Fetch CRM Leads by Geo": {
      "main": [[
        { "node": "Merge Geozo + CRM", "type": "main", "index": 0 }
      ]]
    },
    "Merge Geozo + CRM": {
      "main": [[
        { "node": "Log Geo Stats", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "data-collector", "id": "tag-collector" }
  ],
  "pinData": {},
  "versionId": "3"
}
