workflows/05-budget-pacer.json
{
  "name": "05 - Budget Pacer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Check emergency state and bid lock\nSELECT\n  (SELECT is_active FROM emergency_state WHERE is_active = TRUE ORDER BY activated_at DESC LIMIT 1) AS emergency_active,\n  (SELECT locked_by FROM workflow_locks WHERE lock_name = 'bid_change' AND expires_at > NOW()) AS bid_lock_holder;",
        "options": {}
      },
      "id": "check-locks",
      "name": "Check Locks & Emergency",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 75],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "safe-to-run",
              "leftValue": "={{ $json.emergency_active }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "emergency-gate",
      "name": "Emergency Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 75]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Acquire lock for budget pacer\nINSERT INTO workflow_locks (lock_name, locked_by, locked_at, expires_at)\nVALUES ('bid_change', 'budget_pacer', NOW(), NOW() + INTERVAL '5 minutes')\nON CONFLICT (lock_name) DO UPDATE\n  SET locked_by = 'budget_pacer', locked_at = NOW(), expires_at = NOW() + INTERVAL '5 minutes'\n  WHERE workflow_locks.expires_at < NOW() OR workflow_locks.locked_by = 'budget_pacer';",
        "options": {}
      },
      "id": "acquire-lock",
      "name": "Acquire Bid Lock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 0],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filters[date_from]", "value": "={{ $now.format('yyyy-MM-dd') }}" },
            { "name": "filters[date_to]", "value": "={{ $now.format('yyyy-MM-dd') }}" },
            { "name": "groups[0]", "value": "ad_id" },
            { "name": "order_by[0][column]", "value": "money" },
            { "name": "order_by[0][direction]", "value": "desc" },
            { "name": "count", "value": "500" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-today-spend",
      "name": "Fetch Today Spend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 150],
      "credentials": {
        "httpHeaderAuth": { "id": "o0swcMSqweTNOUhw", "name": "Geozo" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filters[status_id_in][]", "value": "5" },
            { "name": "count", "value": "500" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch-active-ads",
      "name": "Fetch Active Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "o0swcMSqweTNOUhw", "name": "Geozo" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT country_code, max_cpl, min_bid, max_bid FROM geo_payouts WHERE is_active = TRUE",
        "options": {}
      },
      "id": "fetch-geo-payouts",
      "name": "Fetch Geo Payouts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 450],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT param5 AS ad_id, COUNT(*) AS total_leads\nFROM leads\nWHERE param5 IS NOT NULL AND param5 != '' AND param5 REGEXP '^[0-9]+$'\n  AND created_at >= CURDATE()\nGROUP BY param5",
        "options": {}
      },
      "id": "fetch-crm-today",
      "name": "Fetch CRM Leads Today",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [700, 600],
      "credentials": {
        "mySql": { "id": "mysql-crm", "name": "MySQL CRM" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BUDGET PACER v2 - With distributed lock, per-teaser limits, time patterns\n// ============================================\n\nconst lockData = $('Check Locks & Emergency').first().json;\nconst spendData = $('Fetch Today Spend').first().json;\nconst adsData = $('Fetch Active Ads').first().json;\n\n// Safe access - DB nodes may return 0 rows\nlet geoItems = [];\ntry { geoItems = $('Fetch Geo Payouts').all().map(i => i.json); } catch(e) { geoItems = []; }\nlet crmItems = [];\ntry { crmItems = $('Fetch CRM Leads Today').all().map(i => i.json); } catch(e) { crmItems = []; }\n\nconst stats = spendData?.data?.result?.data || spendData?.data || (Array.isArray(spendData) ? spendData : []);\nconst ads = adsData?.data?.result?.data || adsData?.data || (Array.isArray(adsData) ? adsData : []);\n\n// --- CONFIG ---\nconst DAILY_BUDGET = 200;  // $200/day (4x from original $50)\n\n// --- GEO MAP ---\nconst geoMap = {};\ngeoItems.forEach(g => {\n  if (g.country_code) geoMap[g.country_code] = {\n    max_cpl: Number(g.max_cpl) || 75,\n    min_bid: Number(g.min_bid) || 0.01,\n    max_bid: Number(g.max_bid) || 0.15\n  };\n});\n\n// --- CRM MAP ---\nconst crmMap = {};\ncrmItems.forEach(c => { crmMap[Number(c.ad_id)] = Number(c.total_leads) || 0; });\n\n// --- Per-ad spend today ---\nconst adSpendMap = {};\nlet totalSpend = 0;\nif (Array.isArray(stats)) {\n  stats.forEach(s => {\n    const spend = Number(s.money) || 0;\n    totalSpend += spend;\n    adSpendMap[s.ad_id] = spend;\n  });\n}\n\n// --- TIME CALCULATIONS ---\nconst now = new Date();\nconst hour = now.getHours();\nconst hoursElapsed = hour + now.getMinutes() / 60;\nconst hoursRemaining = 24 - hoursElapsed;\nconst remainingBudget = DAILY_BUDGET - totalSpend;\nconst targetSpendPerHour = hoursRemaining > 0 ? remainingBudget / hoursRemaining : 0;\nconst actualSpendPerHour = hoursElapsed > 0 ? totalSpend / hoursElapsed : 0;\n\n// --- TIME-OF-DAY ADJUSTMENT ---\n// Evening (19:00+): auction is cheap, allow more spend\n// Night (02:00-08:00): low traffic, expect less spend\nlet timeAdjustment = 1.0;\nif (hour >= 19 || hour < 2) timeAdjustment = 1.3;  // Allow 30% more\nif (hour >= 2 && hour < 8) timeAdjustment = 0.6;    // Expect 40% less\n\nconst adjustedTargetRate = targetSpendPerHour * timeAdjustment;\n\n// --- ACCOUNT-LEVEL DECISION ---\nlet accountAction = 'HOLD';\nlet accountBidAdjustment = 1.0;\nlet accountReason = '';\n\n// Overspending: spending 30% more than adjusted target\nif (actualSpendPerHour > adjustedTargetRate * 1.3 && totalSpend > DAILY_BUDGET * 0.3) {\n  accountAction = 'LOWER_ALL';\n  accountBidAdjustment = 0.90;\n  accountReason = `Overspending: $${actualSpendPerHour.toFixed(2)}/h vs adjusted target $${adjustedTargetRate.toFixed(2)}/h`;\n}\n// Underspending significantly\nelse if (actualSpendPerHour < adjustedTargetRate * 0.5 && remainingBudget > DAILY_BUDGET * 0.4 && hoursElapsed > 4) {\n  accountAction = 'RAISE_ALL';\n  accountBidAdjustment = 1.10;\n  accountReason = `Underspending: $${actualSpendPerHour.toFixed(2)}/h vs adjusted target $${adjustedTargetRate.toFixed(2)}/h`;\n}\n// Budget nearly exhausted with hours remaining\nelse if (remainingBudget < DAILY_BUDGET * 0.05 && hoursRemaining > 4) {\n  accountAction = 'LOWER_ALL';\n  accountBidAdjustment = 0.75;\n  accountReason = `Budget exhausted: $${remainingBudget.toFixed(2)} left for ${hoursRemaining.toFixed(1)}h`;\n}\n\nif (accountAction === 'HOLD') {\n  return [{ json: {\n    action: 'HOLD',\n    reason: 'Budget pacing on track',\n    total_spend: Math.round(totalSpend * 100) / 100,\n    daily_budget: DAILY_BUDGET,\n    actual_rate: Math.round(actualSpendPerHour * 100) / 100,\n    target_rate: Math.round(adjustedTargetRate * 100) / 100,\n    time_adjustment: timeAdjustment\n  }}];\n}\n\n// --- PER-TEASER DECISIONS ---\nconst results = [];\nif (Array.isArray(ads)) {\n  ads.forEach(ad => {\n    let currentBid = 0;\n    const geos = [];\n    if (ad.bids && Array.isArray(ad.bids)) {\n      const extract = (node) => {\n        if (node.bid) currentBid = currentBid || Number(node.bid);\n        if (node.type === 'countries' && node.id) geos.push(node.id);\n        const children = node.children ? (Array.isArray(node.children) ? node.children : Object.values(node.children)) : [];\n        children.forEach(c => extract(c));\n      };\n      ad.bids.forEach(b => extract(b));\n    }\n\n    const primaryGeo = geos[0] || null;\n    const geoPayout = primaryGeo && geoMap[primaryGeo] ? geoMap[primaryGeo] : { max_cpl: 75, min_bid: 0.01, max_bid: 0.15 };\n    const adSpendToday = adSpendMap[ad.id] || 0;\n    const adLeadsToday = crmMap[ad.id] || 0;\n\n    // Per-teaser daily limit: maxCPL * 10 (generous, per user feedback)\n    const perTeaserDailyLimit = geoPayout.max_cpl * 10;\n\n    let bidAdj = accountBidAdjustment;\n    let reason = accountReason;\n\n    // Per-teaser overspend check\n    if (adSpendToday >= perTeaserDailyLimit && adLeadsToday === 0) {\n      // Spent a lot with 0 leads today -> pause this teaser\n      results.push({\n        json: {\n          action: 'PAUSE_TEASER',\n          reason: `Per-teaser limit: $${adSpendToday.toFixed(2)} >= $${perTeaserDailyLimit.toFixed(0)} (maxCPL*10) with 0 leads today`,\n          ad_id: ad.id,\n          geo: primaryGeo || 'unknown',\n          current_bid: currentBid,\n          new_bid: currentBid,\n          ad_spend_today: Math.round(adSpendToday * 100) / 100,\n          per_teaser_limit: Math.round(perTeaserDailyLimit),\n          leads_today: adLeadsToday,\n          total_spend: Math.round(totalSpend * 100) / 100,\n          daily_budget: DAILY_BUDGET,\n          bid_adjustment: 0,\n          actual_rate: Math.round(actualSpendPerHour * 100) / 100,\n          target_rate: Math.round(adjustedTargetRate * 100) / 100,\n          ads_count: ads.length\n        }\n      });\n      return;\n    }\n\n    // If teaser has leads and is profitable, don't touch it even during account overspend\n    if (adLeadsToday > 0 && accountAction === 'LOWER_ALL') {\n      // Profitable teasers are protected from blanket lower\n      return;\n    }\n\n    let newBid = currentBid * bidAdj;\n    if (newBid > geoPayout.max_bid) newBid = geoPayout.max_bid;\n    if (newBid < geoPayout.min_bid) newBid = geoPayout.min_bid;\n    newBid = Math.round(newBid * 10000) / 10000;\n\n    if (Math.abs(newBid - currentBid) < 0.0001) return;\n\n    results.push({\n      json: {\n        action: accountAction,\n        reason: reason,\n        ad_id: ad.id,\n        geo: primaryGeo || 'unknown',\n        current_bid: currentBid,\n        new_bid: newBid,\n        ad_spend_today: Math.round(adSpendToday * 100) / 100,\n        per_teaser_limit: Math.round(perTeaserDailyLimit),\n        leads_today: adLeadsToday,\n        total_spend: Math.round(totalSpend * 100) / 100,\n        daily_budget: DAILY_BUDGET,\n        bid_adjustment: bidAdj,\n        actual_rate: Math.round(actualSpendPerHour * 100) / 100,\n        target_rate: Math.round(adjustedTargetRate * 100) / 100,\n        ads_count: ads.length\n      }\n    });\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { action: 'HOLD', reason: 'No bid adjustments needed after per-teaser analysis' }}];\n}\n\nreturn results;"
      },
      "id": "calculate-pacing",
      "name": "Calculate Budget Pacing v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "needs-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "HOLD",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-adjustment",
      "name": "Needs Adjustment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "is-pause",
              "leftValue": "={{ $json.action }}",
              "rightValue": "PAUSE_TEASER",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-pause-or-bid",
      "name": "Pause or Bid Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.geozo.com/v1/advertiser/ads/all/stop",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": {{ JSON.stringify([$json.ad_id]) }}\n}",
        "options": {}
      },
      "id": "pause-teaser",
      "name": "Pause Overspending Teaser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, -50],
      "credentials": {
        "httpHeaderAuth": { "id": "o0swcMSqweTNOUhw", "name": "Geozo" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE teasers SET state = 'paused_budget', state_changed_at = NOW(), state_reason = '{{ $json.reason.replace(/'/g, \"''\").slice(0, 200) }}', updated_at = NOW() WHERE ad_id = {{ $json.ad_id }};\nINSERT INTO teaser_state_log (ad_id, old_state, new_state, reason, triggered_by) VALUES ({{ $json.ad_id }}, 'active', 'paused_budget', '{{ $json.reason.replace(/'/g, \"''\").slice(0, 200) }}', 'budget_pacer');",
        "options": {}
      },
      "id": "log-pause",
      "name": "Log Pause State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, -50],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.geozo.com/v1/advertiser/ads/all/bid",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "ids[]", "value": "={{ $json.ad_id }}" },
            { "name": "one_bid_for_all_geo", "value": "={{ $json.new_bid }}" }
          ]
        },
        "options": {}
      },
      "id": "update-bid",
      "name": "Update Bid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 200],
      "credentials": {
        "httpHeaderAuth": { "id": "o0swcMSqweTNOUhw", "name": "Geozo" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bid_history (ad_id, old_bid, new_bid, reason, rule_applied) VALUES ({{ $json.ad_id }}, {{ $json.current_bid }}, {{ $json.new_bid }}, '{{ $json.reason.replace(/'/g, \"''\").slice(0, 200) }}', 'budget_pacer');",
        "options": {}
      },
      "id": "log-bid-change",
      "name": "Log Bid Change",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 200],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM workflow_locks WHERE lock_name = 'bid_change' AND locked_by = 'budget_pacer';",
        "options": {}
      },
      "id": "release-lock",
      "name": "Release Lock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2250, 100],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=BUDGET PACER v2 {{ $now.toFormat('dd.MM.yyyy HH:mm') }}\n\n{{ $json.reason }}\n\nSpend: ${{ $json.total_spend }} / ${{ $json.daily_budget }}\nRate: ${{ $json.actual_rate }}/h (target: ${{ $json.target_rate }}/h)\nAction: {{ $json.action }} ({{ Math.round(($json.bid_adjustment - 1) * 100) }}%)\nAds: {{ $json.ads_count || 0 }}{{ $json.action === 'PAUSE_TEASER' ? '\\nPAUSED #' + $json.ad_id + ': $' + $json.ad_spend_today + ' spent, ' + $json.leads_today + 'L (limit $' + $json.per_teaser_limit + ')' : '' }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1500, 400],
      "credentials": {
        "telegramApi": { "id": "telegram-cred", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [[ { "node": "Check Locks & Emergency", "type": "main", "index": 0 } ]]
    },
    "Called by Orchestrator": {
      "main": [[ { "node": "Check Locks & Emergency", "type": "main", "index": 0 } ]]
    },
    "Check Locks & Emergency": {
      "main": [[ { "node": "Emergency Active?", "type": "main", "index": 0 } ]]
    },
    "Emergency Active?": {
      "main": [
        [
          { "node": "Acquire Bid Lock", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Acquire Bid Lock": {
      "main": [[ { "node": "Fetch Today Spend", "type": "main", "index": 0 } ]]
    },
    "Fetch Today Spend": {
      "main": [[ { "node": "Fetch Active Ads", "type": "main", "index": 0 } ]]
    },
    "Fetch Active Ads": {
      "main": [[ { "node": "Fetch Geo Payouts", "type": "main", "index": 0 } ]]
    },
    "Fetch Geo Payouts": {
      "main": [[ { "node": "Fetch CRM Leads Today", "type": "main", "index": 0 } ]]
    },
    "Fetch CRM Leads Today": {
      "main": [[ { "node": "Calculate Budget Pacing v2", "type": "main", "index": 0 } ]]
    },
    "Calculate Budget Pacing v2": {
      "main": [[
        { "node": "Needs Adjustment?", "type": "main", "index": 0 },
        { "node": "Notify Telegram", "type": "main", "index": 0 }
      ]]
    },
    "Needs Adjustment?": {
      "main": [
        [ { "node": "Pause or Bid Change?", "type": "main", "index": 0 } ],
        [ { "node": "Release Lock", "type": "main", "index": 0 } ]
      ]
    },
    "Pause or Bid Change?": {
      "main": [
        [ { "node": "Pause Overspending Teaser", "type": "main", "index": 0 } ],
        [ { "node": "Update Bid", "type": "main", "index": 0 } ]
      ]
    },
    "Pause Overspending Teaser": {
      "main": [[ { "node": "Log Pause State", "type": "main", "index": 0 } ]]
    },
    "Log Pause State": {
      "main": [[ { "node": "Release Lock", "type": "main", "index": 0 } ]]
    },
    "Update Bid": {
      "main": [[ { "node": "Log Bid Change", "type": "main", "index": 0 } ]]
    },
    "Log Bid Change": {
      "main": [[ { "node": "Release Lock", "type": "main", "index": 0 } ]]
    },
    "Notify Telegram": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "optimizer", "id": "tag-optimizer" }
  ],
  "pinData": {},
  "versionId": "2"
}
