workflows/06-ads-sync.json
{
  "name": "06 - Ads Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-page1",
      "name": "Fetch Page 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process page 1: build SQL + check if more pages needed\nconst resp = $input.first().json;\nconst ads = resp.data || [];\nconst meta = resp.meta || {};\nconst lastPage = meta.last_page || 1;\n\nconst result = buildSqlFromAds(ads);\n\n// Output: SQL for this page + pagination info\nconst output = [{ json: { \n  sql: result.sql, \n  stats: result.stats,\n  has_more: lastPage > 1,\n  last_page: lastPage\n}}];\n\n// If more pages, also output page numbers\nif (lastPage > 1) {\n  for (let p = 2; p <= Math.min(lastPage, 20); p++) {\n    output.push({ json: { page: p } });\n  }\n}\n\nreturn output;\n\nfunction buildSqlFromAds(ads) {\n  if (ads.length === 0) {\n    return { sql: \"SELECT 'no_ads' as result\", stats: { ads: 0, campaigns: 0, groups: 0 } };\n  }\n\n  const esc = (s) => (s || '').replace(/'/g, \"''\");\n  const fixUrl = (u) => u ? (u.startsWith('//') ? 'https:' + u : u) : null;\n  const GEOZO_STATUS = {\n    1: 'processed', 2: 'moderation', 3: 'banned',\n    4: 'stopped', 5: 'started', 41: 'budget_ended', 42: 'suspended'\n  };\n\n  // Extract unique campaigns and groups\n  const campaignsMap = {};\n  const groupsMap = {};\n  for (const ad of ads) {\n    if (ad.campaign_id && !campaignsMap[ad.campaign_id]) {\n      campaignsMap[ad.campaign_id] = {\n        campaign_id: ad.campaign_id,\n        name: ad.campaign_name || null,\n        campaign_type_id: ad.campaign_type_id || null\n      };\n    }\n    if (ad.ad_group_id && !groupsMap[ad.ad_group_id]) {\n      groupsMap[ad.ad_group_id] = {\n        ad_group_id: ad.ad_group_id,\n        campaign_id: ad.campaign_id,\n        name: ad.group_ad_name || null\n      };\n    }\n  }\n\n  const campaigns = Object.values(campaignsMap);\n  const groups = Object.values(groupsMap);\n\n  const campaignSqls = campaigns.filter(c => c.name).map(c => {\n    return `INSERT INTO campaigns (campaign_id, name, campaign_type_id, synced_at)\n      VALUES (${c.campaign_id}, '${esc(c.name)}', ${c.campaign_type_id || 'NULL'}, NOW())\n      ON CONFLICT (campaign_id) DO UPDATE SET\n        name = EXCLUDED.name,\n        campaign_type_id = COALESCE(EXCLUDED.campaign_type_id, campaigns.campaign_type_id),\n        synced_at = NOW()`;\n  });\n\n  const groupSqls = groups.filter(g => g.name).map(g => {\n    return `INSERT INTO ad_groups (ad_group_id, campaign_id, name, synced_at)\n      VALUES (${g.ad_group_id}, ${g.campaign_id}, '${esc(g.name)}', NOW())\n      ON CONFLICT (ad_group_id) DO UPDATE SET\n        campaign_id = EXCLUDED.campaign_id,\n        name = EXCLUDED.name,\n        synced_at = NOW()`;\n  });\n\n  const adSqls = ads.filter(a => a.id).map(a => {\n    const title = esc(a.title);\n    const url = esc(a.url || '');\n    const shortDesc = a.short_description ? \"'\" + esc(a.short_description) + \"'\" : 'NULL';\n    const statusId = a.status_id || null;\n    const status = GEOZO_STATUS[statusId] || 'unknown';\n    const banReason = a.ban ? \"'\" + esc(typeof a.ban === 'string' ? a.ban : JSON.stringify(a.ban)) + \"'\" : 'NULL';\n    const adRating = a.ad_rating?.name ? \"'\" + esc(a.ad_rating.name) + \"'\" : 'NULL';\n    const geozoCreatedAt = a.created_at ? \"'\" + a.created_at + \"'\" : 'NULL';\n\n    // Extract bid + country_code + geo_id from nested bids\n    let bid = 'NULL';\n    let countryCode = 'NULL';\n    let geoId = 'NULL';\n    if (a.bids && Array.isArray(a.bids)) {\n      const findGeo = (obj) => {\n        if (obj.type === 'countries' && obj.bid != null) {\n          return { bid: parseFloat(obj.bid), cc: obj.id, gid: obj.geo_id };\n        }\n        if (obj.children) {\n          for (const child of Object.values(obj.children)) {\n            const r = findGeo(child);\n            if (r) return r;\n          }\n        }\n        return null;\n      };\n      for (const b of a.bids) {\n        const r = findGeo(b);\n        if (r) {\n          bid = r.bid;\n          countryCode = \"'\" + r.cc + \"'\";\n          geoId = r.gid || 'NULL';\n          break;\n        }\n      }\n    }\n\n    // Image URLs with protocol fix\n    const imgSq = fixUrl(a.media_contents?.['1:1']?.url || a.media_contents?.original_square?.url);\n    const imgHz = fixUrl(a.media_contents?.['16:9']?.url || a.media_contents?.original_horizontal_16x9?.url);\n    const imgSquare = imgSq ? \"'\" + esc(imgSq) + \"'\" : 'NULL';\n    const imgHoriz = imgHz ? \"'\" + esc(imgHz) + \"'\" : 'NULL';\n\n    // Lifetime statistics from API\n    const st = a.statistic || {};\n\n    return `INSERT INTO teasers (ad_id, ad_group_id, campaign_id, title, original_url, short_description, geozo_status_id, status, bid, country_code, geo_id, image_square_path, image_horizontal_path, ban_reason, ad_rating, geozo_created_at, total_shows, total_clicks, total_money, total_cpc, total_ctr, total_roi, total_leads, total_leads_confirmed_money, total_cr, total_spend_lifetime, updated_at)\n      VALUES (\n        ${a.id}, ${a.ad_group_id || 'NULL'}, ${a.campaign_id || 'NULL'},\n        '${title}', '${url}', ${shortDesc},\n        ${statusId || 'NULL'}, '${status}', ${bid},\n        ${countryCode}, ${geoId},\n        ${imgSquare}, ${imgHoriz},\n        ${banReason}, ${adRating}, ${geozoCreatedAt},\n        ${st.shows_count||0}, ${st.clicks_count||0}, ${st.money||0},\n        ${st.cpc||0}, ${st.confirmed_ctr||0}, ${st.roi_percentage||0},\n        ${st.postbacks_total_count||0}, ${st.postbacks_confirmed_money||0}, ${st.cr||0},\n        ${st.money||0}, NOW()\n      )\n      ON CONFLICT (ad_id) WHERE ad_id IS NOT NULL DO UPDATE SET\n        ad_group_id = EXCLUDED.ad_group_id,\n        campaign_id = EXCLUDED.campaign_id,\n        title = EXCLUDED.title,\n        original_url = EXCLUDED.original_url,\n        short_description = EXCLUDED.short_description,\n        geozo_status_id = EXCLUDED.geozo_status_id,\n        status = EXCLUDED.status,\n        bid = COALESCE(EXCLUDED.bid, teasers.bid),\n        country_code = COALESCE(EXCLUDED.country_code, teasers.country_code),\n        geo_id = COALESCE(EXCLUDED.geo_id, teasers.geo_id),\n        image_square_path = COALESCE(EXCLUDED.image_square_path, teasers.image_square_path),\n        image_horizontal_path = COALESCE(EXCLUDED.image_horizontal_path, teasers.image_horizontal_path),\n        ban_reason = EXCLUDED.ban_reason,\n        ad_rating = COALESCE(EXCLUDED.ad_rating, teasers.ad_rating),\n        geozo_created_at = COALESCE(EXCLUDED.geozo_created_at, teasers.geozo_created_at),\n        total_shows = EXCLUDED.total_shows,\n        total_clicks = EXCLUDED.total_clicks,\n        total_money = EXCLUDED.total_money,\n        total_cpc = EXCLUDED.total_cpc,\n        total_ctr = EXCLUDED.total_ctr,\n        total_roi = EXCLUDED.total_roi,\n        total_leads = EXCLUDED.total_leads,\n        total_leads_confirmed_money = EXCLUDED.total_leads_confirmed_money,\n        total_cr = EXCLUDED.total_cr,\n        total_spend_lifetime = EXCLUDED.total_spend_lifetime,\n        updated_at = NOW()`;\n  });\n\n  const allSql = [...campaignSqls, ...groupSqls, ...adSqls];\n  allSql.push(`UPDATE ad_groups ag SET\n    ad_count = (SELECT COUNT(*) FROM teasers t WHERE t.ad_group_id = ag.ad_group_id),\n    ad_started_count = (SELECT COUNT(*) FROM teasers t WHERE t.ad_group_id = ag.ad_group_id AND t.geozo_status_id = 5)`);\n\n  const sql = allSql.join(';\\n') + \";\\nSELECT 'ok' as result, \" + ads.length + \" as ads_synced, \" + campaigns.length + \" as campaigns_synced, \" + groups.length + \" as groups_synced\";\n  return { sql, stats: { ads: ads.length, campaigns: campaigns.length, groups: groups.length } };\n}"
      },
      "id": "process-page1",
      "name": "Process Page 1 & Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-sql",
              "leftValue": "={{ $json.sql }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-items",
      "name": "Has SQL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "sync-page1",
      "name": "Sync Page 1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, -100],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "fetch-next",
      "name": "Fetch Next Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Re-use same SQL builder for subsequent pages\nconst resp = $input.first().json;\nconst ads = resp.data || [];\n\nif (ads.length === 0) {\n  return [{ json: { sql: \"SELECT 'skip' as result\", stats: { ads: 0 } } }];\n}\n\nconst esc = (s) => (s || '').replace(/'/g, \"''\");\nconst fixUrl = (u) => u ? (u.startsWith('//') ? 'https:' + u : u) : null;\nconst GEOZO_STATUS = {\n  1: 'processed', 2: 'moderation', 3: 'banned',\n  4: 'stopped', 5: 'started', 41: 'budget_ended', 42: 'suspended'\n};\n\nconst campaignsMap = {};\nconst groupsMap = {};\nfor (const ad of ads) {\n  if (ad.campaign_id && !campaignsMap[ad.campaign_id]) {\n    campaignsMap[ad.campaign_id] = { campaign_id: ad.campaign_id, name: ad.campaign_name };\n  }\n  if (ad.ad_group_id && !groupsMap[ad.ad_group_id]) {\n    groupsMap[ad.ad_group_id] = { ad_group_id: ad.ad_group_id, campaign_id: ad.campaign_id, name: ad.group_ad_name };\n  }\n}\n\nconst sqls = [];\nfor (const c of Object.values(campaignsMap)) {\n  if (c.name) sqls.push(`INSERT INTO campaigns (campaign_id, name, synced_at) VALUES (${c.campaign_id}, '${esc(c.name)}', NOW()) ON CONFLICT (campaign_id) DO UPDATE SET name = EXCLUDED.name, synced_at = NOW()`);\n}\nfor (const g of Object.values(groupsMap)) {\n  if (g.name) sqls.push(`INSERT INTO ad_groups (ad_group_id, campaign_id, name, synced_at) VALUES (${g.ad_group_id}, ${g.campaign_id}, '${esc(g.name)}', NOW()) ON CONFLICT (ad_group_id) DO UPDATE SET campaign_id = EXCLUDED.campaign_id, name = EXCLUDED.name, synced_at = NOW()`);\n}\n\nfor (const a of ads.filter(a => a.id)) {\n  const st = a.statistic || {};\n  let bid = 'NULL', cc = 'NULL', gid = 'NULL';\n  if (a.bids && Array.isArray(a.bids)) {\n    const findGeo = (obj) => {\n      if (obj.type === 'countries' && obj.bid != null) return { bid: parseFloat(obj.bid), cc: obj.id, gid: obj.geo_id };\n      if (obj.children) { for (const child of Object.values(obj.children)) { const r = findGeo(child); if (r) return r; } }\n      return null;\n    };\n    for (const b of a.bids) { const r = findGeo(b); if (r) { bid = r.bid; cc = \"'\" + r.cc + \"'\"; gid = r.gid || 'NULL'; break; } }\n  }\n  const imgSq = fixUrl(a.media_contents?.['1:1']?.url || a.media_contents?.original_square?.url);\n  const imgHz = fixUrl(a.media_contents?.['16:9']?.url || a.media_contents?.original_horizontal_16x9?.url);\n\n  sqls.push(`INSERT INTO teasers (ad_id, ad_group_id, campaign_id, title, original_url, short_description, geozo_status_id, status, bid, country_code, geo_id, image_square_path, image_horizontal_path, ban_reason, ad_rating, geozo_created_at, total_shows, total_clicks, total_money, total_cpc, total_ctr, total_roi, total_leads, total_leads_confirmed_money, total_cr, total_spend_lifetime, updated_at)\n    VALUES (${a.id}, ${a.ad_group_id||'NULL'}, ${a.campaign_id||'NULL'}, '${esc(a.title)}', '${esc(a.url||'')}', ${a.short_description ? \"'\"+esc(a.short_description)+\"'\" : 'NULL'}, ${a.status_id||'NULL'}, '${GEOZO_STATUS[a.status_id]||'unknown'}', ${bid}, ${cc}, ${gid}, ${imgSq ? \"'\"+esc(imgSq)+\"'\" : 'NULL'}, ${imgHz ? \"'\"+esc(imgHz)+\"'\" : 'NULL'}, ${a.ban ? \"'\"+esc(JSON.stringify(a.ban))+\"'\" : 'NULL'}, ${a.ad_rating?.name ? \"'\"+a.ad_rating.name+\"'\" : 'NULL'}, ${a.created_at ? \"'\"+a.created_at+\"'\" : 'NULL'}, ${st.shows_count||0}, ${st.clicks_count||0}, ${st.money||0}, ${st.cpc||0}, ${st.confirmed_ctr||0}, ${st.roi_percentage||0}, ${st.postbacks_total_count||0}, ${st.postbacks_confirmed_money||0}, ${st.cr||0}, ${st.money||0}, NOW())\n    ON CONFLICT (ad_id) WHERE ad_id IS NOT NULL DO UPDATE SET ad_group_id=EXCLUDED.ad_group_id, campaign_id=EXCLUDED.campaign_id, title=EXCLUDED.title, original_url=EXCLUDED.original_url, short_description=EXCLUDED.short_description, geozo_status_id=EXCLUDED.geozo_status_id, status=EXCLUDED.status, bid=COALESCE(EXCLUDED.bid,teasers.bid), country_code=COALESCE(EXCLUDED.country_code,teasers.country_code), geo_id=COALESCE(EXCLUDED.geo_id,teasers.geo_id), image_square_path=COALESCE(EXCLUDED.image_square_path,teasers.image_square_path), image_horizontal_path=COALESCE(EXCLUDED.image_horizontal_path,teasers.image_horizontal_path), ban_reason=EXCLUDED.ban_reason, ad_rating=COALESCE(EXCLUDED.ad_rating,teasers.ad_rating), geozo_created_at=COALESCE(EXCLUDED.geozo_created_at,teasers.geozo_created_at), total_shows=EXCLUDED.total_shows, total_clicks=EXCLUDED.total_clicks, total_money=EXCLUDED.total_money, total_cpc=EXCLUDED.total_cpc, total_ctr=EXCLUDED.total_ctr, total_roi=EXCLUDED.total_roi, total_leads=EXCLUDED.total_leads, total_leads_confirmed_money=EXCLUDED.total_leads_confirmed_money, total_cr=EXCLUDED.total_cr, total_spend_lifetime=EXCLUDED.total_spend_lifetime, updated_at=NOW()`);\n}\n\nsqls.push(`UPDATE ad_groups ag SET ad_count = (SELECT COUNT(*) FROM teasers t WHERE t.ad_group_id = ag.ad_group_id), ad_started_count = (SELECT COUNT(*) FROM teasers t WHERE t.ad_group_id = ag.ad_group_id AND t.geozo_status_id = 5)`);\n\nconst sql = sqls.join(';\\n') + \";\\nSELECT 'ok' as result, \" + ads.length + \" as ads_synced\";\nreturn [{ json: { sql } }];"
      },
      "id": "process-next",
      "name": "Build SQL for Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "sync-next",
      "name": "Sync Next Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 100],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page 1": {
      "main": [
        [
          {
            "node": "Process Page 1 & Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Page 1 & Build SQL": {
      "main": [
        [
          {
            "node": "Has SQL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has SQL?": {
      "main": [
        [
          {
            "node": "Sync Page 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Next Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Next Pages": {
      "main": [
        [
          {
            "node": "Build SQL for Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL for Page": {
      "main": [
        [
          {
            "node": "Sync Next Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "3"
}
