workflows/06-ads-sync.json
{
  "name": "06 - Ads Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-ads-page1",
      "name": "Fetch Ads Page 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check if there are more pages\nconst resp = $input.first().json;\nconst meta = resp.meta || {};\nconst lastPage = meta.last_page || 1;\nconst currentPage = meta.current_page || 1;\n\nif (lastPage > 1) {\n  // Output page URLs for pages 2..lastPage\n  const pages = [];\n  for (let p = 2; p <= Math.min(lastPage, 20); p++) {\n    pages.push({ json: { page: p } });\n  }\n  return pages;\n}\n\n// No more pages\nreturn [{ json: { page: 0, no_more: true } }];"
      },
      "id": "check-pages",
      "name": "Check Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, -150]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "id": "fetch-ads-next",
      "name": "Fetch Next Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge page 1 + additional pages into one flat ads array\nconst page1Data = $('Fetch Ads Page 1').first().json;\nconst page1Ads = page1Data.data || [];\n\n// Collect additional pages (if any)\nlet extraAds = [];\ntry {\n  const nextPages = $('Fetch Next Pages').all();\n  for (const item of nextPages) {\n    const d = item.json.data || [];\n    extraAds.push(...d);\n  }\n} catch (e) {\n  // No additional pages fetched\n}\n\nconst allAds = [...page1Ads, ...extraAds];\n\n// Extract unique campaigns and groups\nconst campaignsMap = {};\nconst groupsMap = {};\n\nfor (const ad of allAds) {\n  if (ad.campaign_id && !campaignsMap[ad.campaign_id]) {\n    campaignsMap[ad.campaign_id] = {\n      campaign_id: ad.campaign_id,\n      name: ad.campaign_name || 'Campaign ' + ad.campaign_id,\n      campaign_type_id: ad.campaign_type_id || null\n    };\n  }\n  if (ad.ad_group_id && !groupsMap[ad.ad_group_id]) {\n    groupsMap[ad.ad_group_id] = {\n      ad_group_id: ad.ad_group_id,\n      campaign_id: ad.campaign_id,\n      name: ad.group_ad_name || 'Group ' + ad.ad_group_id\n    };\n  }\n}\n\nreturn [{\n  json: {\n    ads: allAds,\n    campaigns: Object.values(campaignsMap),\n    groups: Object.values(groupsMap),\n    total_fetched: allAds.length\n  }\n}];"
      },
      "id": "merge-ads",
      "name": "Merge All Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 150]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst campaigns = data.campaigns || [];\nconst groups = data.groups || [];\nconst ads = data.ads || [];\n\nif (ads.length === 0) {\n  return [{ json: { sql: \"SELECT 'no_ads' as result\", stats: { ads: 0, campaigns: 0, groups: 0 } } }];\n}\n\nconst GEOZO_STATUS = {\n  1: 'processed', 2: 'moderation', 3: 'banned',\n  4: 'stopped', 5: 'started', 41: 'budget_ended', 42: 'suspended'\n};\n\nconst campaignSqls = campaigns.map(c => {\n  const name = (c.name || '').replace(/'/g, \"''\");\n  return `INSERT INTO campaigns (campaign_id, name, campaign_type_id, synced_at)\n    VALUES (${c.campaign_id}, '${name}', ${c.campaign_type_id || 'NULL'}, NOW())\n    ON CONFLICT (campaign_id) DO UPDATE SET\n      name = EXCLUDED.name,\n      campaign_type_id = COALESCE(EXCLUDED.campaign_type_id, campaigns.campaign_type_id),\n      synced_at = NOW()`;\n});\n\nconst groupSqls = groups.map(g => {\n  const name = (g.name || '').replace(/'/g, \"''\");\n  return `INSERT INTO ad_groups (ad_group_id, campaign_id, name, synced_at)\n    VALUES (${g.ad_group_id}, ${g.campaign_id}, '${name}', NOW())\n    ON CONFLICT (ad_group_id) DO UPDATE SET\n      campaign_id = EXCLUDED.campaign_id,\n      name = EXCLUDED.name,\n      synced_at = NOW()`;\n});\n\nconst adSqls = ads.filter(a => a.id).map(a => {\n  const title = (a.title || '').replace(/'/g, \"''\");\n  const url = (a.url || a.original_url || '').replace(/'/g, \"''\");\n  const shortDesc = (a.short_description || '').replace(/'/g, \"''\");\n  const statusId = a.status_id || null;\n  const status = GEOZO_STATUS[statusId] || 'unknown';\n  \n  let bid = null;\n  if (a.bids && Array.isArray(a.bids)) {\n    const findBid = (obj) => {\n      if (obj.bid) return parseFloat(obj.bid);\n      if (obj.children) {\n        for (const child of Object.values(obj.children)) {\n          const b = findBid(child);\n          if (b) return b;\n        }\n      }\n      return null;\n    };\n    for (const b of a.bids) {\n      bid = findBid(b);\n      if (bid) break;\n    }\n  }\n\n  const imgSquare = a.media_contents?.['1:1']?.url || a.media_contents?.original_square?.url || null;\n  const imgHoriz = a.media_contents?.['16:9']?.url || a.media_contents?.original_horizontal_16x9?.url || null;\n\n  return `INSERT INTO teasers (ad_id, ad_group_id, campaign_id, title, original_url, short_description, geozo_status_id, status, bid, image_square_path, image_horizontal_path, updated_at)\n    VALUES (\n      ${a.id},\n      ${a.ad_group_id || 'NULL'},\n      ${a.campaign_id || 'NULL'},\n      '${title}',\n      '${url}',\n      '${shortDesc}',\n      ${statusId || 'NULL'},\n      '${status}',\n      ${bid || 'NULL'},\n      ${imgSquare ? \"'\" + imgSquare.replace(/'/g, \"''\") + \"'\" : 'NULL'},\n      ${imgHoriz ? \"'\" + imgHoriz.replace(/'/g, \"''\") + \"'\" : 'NULL'},\n      NOW()\n    )\n    ON CONFLICT (ad_id) WHERE ad_id IS NOT NULL DO UPDATE SET\n      ad_group_id = EXCLUDED.ad_group_id,\n      campaign_id = EXCLUDED.campaign_id,\n      title = EXCLUDED.title,\n      original_url = EXCLUDED.original_url,\n      short_description = EXCLUDED.short_description,\n      geozo_status_id = EXCLUDED.geozo_status_id,\n      bid = COALESCE(EXCLUDED.bid, teasers.bid),\n      image_square_path = COALESCE(EXCLUDED.image_square_path, teasers.image_square_path),\n      image_horizontal_path = COALESCE(EXCLUDED.image_horizontal_path, teasers.image_horizontal_path),\n      updated_at = NOW()`;\n});\n\nconst allSql = [...campaignSqls, ...groupSqls, ...adSqls];\n\nallSql.push(`UPDATE ad_groups ag SET\n  ad_count = (SELECT COUNT(*) FROM teasers t WHERE t.ad_group_id = ag.ad_group_id),\n  ad_started_count = (SELECT COUNT(*) FROM teasers t WHERE t.ad_group_id = ag.ad_group_id AND t.geozo_status_id = 5)`);\n\nconst sql = allSql.join(';\\n') + \";\\nSELECT 'ok' as result, \" + ads.length + \" as ads_synced, \" + campaigns.length + \" as campaigns_synced, \" + groups.length + \" as groups_synced\";\n\nreturn [{ json: { sql, stats: { ads: ads.length, campaigns: campaigns.length, groups: groups.length } } }];"
      },
      "id": "build-sql",
      "name": "Build Upsert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "execute-sync",
      "name": "Sync to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 150],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-more-check",
              "leftValue": "={{ $json.no_more }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-more-pages",
      "name": "Has More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, -150]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Ads Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ads Page 1": {
      "main": [
        [
          {
            "node": "Check Pagination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge All Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pagination": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Fetch Next Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge All Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Next Pages": {
      "main": [
        [
          {
            "node": "Merge All Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Pages": {
      "main": [
        [
          {
            "node": "Build Upsert SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert SQL": {
      "main": [
        [
          {
            "node": "Sync to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "tag-monitoring"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "2"
}
