workflows/07-image-factory.json
{
  "name": "07 - Image Factory",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, trend_topic, generated_titles\nFROM content_queue\nWHERE status = 'pending' AND generated_image_prompts IS NULL\nORDER BY priority DESC, created_at ASC\nLIMIT 5;",
        "options": {}
      },
      "id": "fetch-queue",
      "name": "Fetch Pending Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-items",
      "name": "Has Pending Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Опиши промпт для генерации картинки к тизерному объявлению.\\n\\nЗаголовок тизера: {{ $json.generated_titles?.[0] || $json.trend_topic }}\\n\\nТребования к промпту:\\n- На английском языке\\n- Яркая, привлекающая внимание картинка\\n- Фотореалистичный стиль\\n- Подходит для нативной рекламы\\n- Без текста на картинке\\n- Формат: один промпт, 1-2 предложения\\n\\nОтветь ТОЛЬКО промптом, без объяснений.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-prompt",
      "name": "Generate Image Prompt (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-cred",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst queueItem = $('Has Pending Items?').first().json;\n\nconst imagePrompt = claudeResponse.content?.[0]?.text || 'A striking photorealistic image for native advertising';\n\n// Determine which image gen API to use\nconst imageApi = 'stable-diffusion';\n\nreturn [{\n  json: {\n    queue_id: queueItem.id,\n    image_prompt: imagePrompt.trim(),\n    image_api: imageApi,\n    title: queueItem.generated_titles?.[0] || queueItem.trend_topic\n  }\n}];"
      },
      "id": "prepare-image-request",
      "name": "Prepare Image Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:7860/sdapi/v1/txt2img",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }}, high quality, photorealistic, 4k, sharp focus\",\n  \"negative_prompt\": \"text, watermark, logo, blurry, low quality, cartoon, anime\",\n  \"steps\": 30,\n  \"cfg_scale\": 7,\n  \"width\": 1080,\n  \"height\": 1080,\n  \"sampler_name\": \"DPM++ 2M Karras\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "generate-square",
      "name": "Generate Square Image (1:1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:7860/sdapi/v1/txt2img",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }}, high quality, photorealistic, 4k, sharp focus, wide angle\",\n  \"negative_prompt\": \"text, watermark, logo, blurry, low quality, cartoon, anime\",\n  \"steps\": 30,\n  \"cfg_scale\": 7,\n  \"width\": 1920,\n  \"height\": 1080,\n  \"sampler_name\": \"DPM++ 2M Karras\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "generate-horizontal",
      "name": "Generate Horizontal Image (16:9)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const squareResult = $('Generate Square Image (1:1)').first().json;\nconst horizontalResult = $('Generate Horizontal Image (16:9)').first().json;\nconst queueData = $('Prepare Image Request').first().json;\n\n// Images come as base64 from Stable Diffusion\nconst squareBase64 = squareResult.images?.[0] || null;\nconst horizontalBase64 = horizontalResult.images?.[0] || null;\n\nreturn [{\n  json: {\n    queue_id: queueData.queue_id,\n    title: queueData.title,\n    image_prompt: queueData.image_prompt,\n    square_image_base64: squareBase64,\n    horizontal_image_base64: horizontalBase64,\n    has_images: !!(squareBase64 && horizontalBase64)\n  }\n}];"
      },
      "id": "combine-images",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE content_queue\nSET \n  generated_image_prompts = '{{ JSON.stringify([$json.image_prompt]) }}'::jsonb,\n  status = CASE WHEN {{ $json.has_images }} THEN 'ready' ELSE 'image_failed' END,\n  processed_at = NOW()\nWHERE id = {{ $json.queue_id }};",
        "options": {}
      },
      "id": "update-queue",
      "name": "Update Queue Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1540,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Pending Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Content": {
      "main": [
        [
          {
            "node": "Has Pending Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Items?": {
      "main": [
        [
          {
            "node": "Generate Image Prompt (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt (Claude)": {
      "main": [
        [
          {
            "node": "Prepare Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Request": {
      "main": [
        [
          {
            "node": "Generate Square Image (1:1)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Horizontal Image (16:9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Square Image (1:1)": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Horizontal Image (16:9)": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Update Queue Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Pending Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "creator",
      "id": "tag-creator"
    }
  ],
  "pinData": {},
  "versionId": "1"
}