workflows/09-remoderator.json
{
  "name": "09 - Re-moderator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[status_id_in][]",
              "value": "3"
            },
            {
              "name": "count",
              "value": "50"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-banned",
      "name": "Fetch Banned Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst ads = response?.data?.result?.data || response?.data || (Array.isArray(response) ? response : []);\n\nif (!Array.isArray(ads) || ads.length === 0) {\n  return []; // No banned ads\n}\n\n// Filter: only try remoderation up to 3 times\nreturn ads\n  .filter(ad => ad.status_id === 3)\n  .map(ad => ({\n    json: {\n      ad_id: ad.id,\n      ad_group_id: ad.ad_group_id,\n      title: ad.title,\n      ban_reason: ad.ban_reason || 'Unknown',\n      original_url: ad.original_url\n    }\n  }));"
      },
      "id": "filter-banned",
      "name": "Filter Banned Ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad_id, remoderation_attempts FROM teasers WHERE ad_id = {{ $json.ad_id }} AND remoderation_attempts < 3;",
        "options": {}
      },
      "id": "check-attempts",
      "name": "Check Remod Attempts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 256,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"\u0422\u0438\u0437\u0435\u0440\u043d\u043e\u0435 \u043e\u0431\u044a\u044f\u0432\u043b\u0435\u043d\u0438\u0435 \u0431\u044b\u043b\u043e \u043e\u0442\u043a\u043b\u043e\u043d\u0435\u043d\u043e \u043c\u043e\u0434\u0435\u0440\u0430\u0446\u0438\u0435\u0439.\\n\\n\u041e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u044b\u0439 \u0437\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a: '{{ $json.title }}'\\n\u041f\u0440\u0438\u0447\u0438\u043d\u0430 \u0431\u0430\u043d\u0430: '{{ $json.ban_reason }}'\\n\\n\u041f\u0435\u0440\u0435\u0444\u0440\u0430\u0437\u0438\u0440\u0443\u0439 \u0437\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a \u0442\u0430\u043a, \u0447\u0442\u043e\u0431\u044b:\\n1. \u0421\u043e\u0445\u0440\u0430\u043d\u0438\u0442\u044c \u043e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0441\u043c\u044b\u0441\u043b \u0438 \u0438\u043d\u0442\u0440\u0438\u0433\u0443\\n2. \u0423\u0431\u0440\u0430\u0442\u044c \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u044b, \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043c\u043e\u0433\u043b\u0438 \u0432\u044b\u0437\u0432\u0430\u0442\u044c \u0431\u0430\u043d\\n3. \u0421\u0434\u0435\u043b\u0430\u0442\u044c \u0431\u043e\u043b\u0435\u0435 \u043d\u0435\u0439\u0442\u0440\u0430\u043b\u044c\u043d\u044b\u043c, \u043d\u043e \u0432\u0441\u0451 \u0435\u0449\u0451 \u043f\u0440\u0438\u0432\u043b\u0435\u043a\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c\\n4. \u0414\u043b\u0438\u043d\u0430 30-120 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432\\n\\n\u041e\u0442\u0432\u0435\u0442\u044c \u0422\u041e\u041b\u042c\u041a\u041e \u043d\u043e\u0432\u044b\u043c \u0437\u0430\u0433\u043e\u043b\u043e\u0432\u043a\u043e\u043c, \u0431\u0435\u0437 \u043e\u0431\u044a\u044f\u0441\u043d\u0435\u043d\u0438\u0439.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "rephrase-title",
      "name": "Rephrase Title (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-cred",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst adData = $('Filter Banned Ads').first().json;\n\nconst newTitle = (claudeResponse.content?.[0]?.text || '').trim();\n\nreturn [{\n  json: {\n    ad_id: adData.ad_id,\n    old_title: adData.title,\n    new_title: newTitle,\n    ban_reason: adData.ban_reason\n  }\n}];"
      },
      "id": "extract-new-title",
      "name": "Extract New Title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.geozo.com/v1/advertiser/ad_groups/{{ $json.ad_group_id }}/ads/teaser/update/{{ $json.ad_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.new_title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-teaser",
      "name": "Update Teaser Title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.geozo.com/v1/advertiser/ad_groups/{{ $json.ad_group_id }}/ads/remoderate/{{ $json.ad_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "send-remoderation",
      "name": "Send for Remoderation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE teasers SET\n  title = '{{ $json.new_title.replace(/'/g, \"''\") }}',\n  ban_reason = '{{ $json.ban_reason.replace(/'/g, \"''\") }}',\n  remoderation_attempts = remoderation_attempts + 1,\n  status = 'remoderation',\n  updated_at = NOW()\nWHERE ad_id = {{ $json.ad_id }};",
        "options": {}
      },
      "id": "update-db",
      "name": "Update DB Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1760,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=\ud83d\udd04 REMODERATION\n\nAd #{{ $json.ad_id }}\nBan reason: {{ $json.ban_reason }}\nOld title: {{ $json.old_title }}\nNew title: {{ $json.new_title }}\n\nSent for remoderation.",
        "additionalFields": {}
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Banned Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Banned Ads": {
      "main": [
        [
          {
            "node": "Filter Banned Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Banned Ads": {
      "main": [
        [
          {
            "node": "Check Remod Attempts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Remod Attempts": {
      "main": [
        [
          {
            "node": "Rephrase Title (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rephrase Title (Claude)": {
      "main": [
        [
          {
            "node": "Extract New Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract New Title": {
      "main": [
        [
          {
            "node": "Update Teaser Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Teaser Title": {
      "main": [
        [
          {
            "node": "Send for Remoderation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Remoderation": {
      "main": [
        [
          {
            "node": "Update DB Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Banned Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "creator",
      "id": "tag-creator"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
