workflows/11-daily-report.json
{
  "name": "11 - Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "55 23 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 23:55",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-daily-stats",
      "name": "Fetch Daily Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/balance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-balance",
      "name": "Fetch Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "country_code"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-geo-stats",
      "name": "Fetch Geo Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsRaw = $('Fetch Daily Stats').first().json;\nconst balanceRaw = $('Fetch Balance').first().json;\nconst geoRaw = $('Fetch Geo Stats').first().json;\n\nconst stats = statsRaw?.data?.result?.data || statsRaw?.data || (Array.isArray(statsRaw) ? statsRaw : []);\nconst balance = Number(balanceRaw?.data?.balance || balanceRaw?.balance || 0);\nconst geoStats = geoRaw?.data?.result?.data || geoRaw?.data || (Array.isArray(geoRaw) ? geoRaw : []);\n\nlet totalSpend = 0, totalRevenue = 0, totalClicks = 0, totalShows = 0;\nconst adPerformance = [];\n\nif (Array.isArray(stats)) {\n  stats.forEach(s => {\n    const spend = Number(s.money) || 0;\n    const revenue = Number(s.postbacks_confirmed_money) || 0;\n    const clicks = Number(s.clicks_count) || 0;\n    const shows = Number(s.shows_count) || 0;\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n\n    totalSpend += spend;\n    totalRevenue += revenue;\n    totalClicks += clicks;\n    totalShows += shows;\n\n    adPerformance.push({ ad_id: s.ad_id, spend, revenue, roi, clicks });\n  });\n}\n\n// Sort by ROI\nadPerformance.sort((a, b) => b.roi - a.roi);\n\nconst totalRoi = totalSpend > 0 ? ((totalRevenue - totalSpend) / totalSpend * 100) : 0;\nconst totalProfit = totalRevenue - totalSpend;\n\n// Best and worst\nconst top5 = adPerformance.filter(a => a.roi > 0).slice(0, 5);\nconst worst5 = adPerformance.filter(a => a.roi < 0 && a.spend > 0).slice(-5).reverse();\n\n// Geo breakdown\nconst geoBreakdown = [];\nif (Array.isArray(geoStats)) {\n  geoStats.forEach(g => {\n    const spend = Number(g.money) || 0;\n    const revenue = Number(g.postbacks_confirmed_money) || 0;\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n    geoBreakdown.push({ country: g.country_code, spend, revenue, roi: Math.round(roi) });\n  });\n  geoBreakdown.sort((a, b) => b.roi - a.roi);\n}\n\n// Count from DB (approximation from stats)\nconst activeAds = adPerformance.filter(a => a.clicks > 0).length;\n\nreturn [{\n  json: {\n    date: $now.format('yyyy-MM-dd'),\n    balance: Math.round(balance * 100) / 100,\n    total_spend: Math.round(totalSpend * 100) / 100,\n    total_revenue: Math.round(totalRevenue * 100) / 100,\n    total_profit: Math.round(totalProfit * 100) / 100,\n    total_roi: Math.round(totalRoi * 100) / 100,\n    total_clicks: totalClicks,\n    total_shows: totalShows,\n    active_ads: activeAds,\n    top5: top5,\n    worst5: worst5,\n    geo_breakdown: geoBreakdown.slice(0, 10)\n  }\n}];"
      },
      "id": "compile-report",
      "name": "Compile Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"\u0421\u043e\u0441\u0442\u0430\u0432\u044c \u043a\u0440\u0430\u0442\u043a\u0438\u0439 \u0434\u043d\u0435\u0432\u043d\u043e\u0439 \u043e\u0442\u0447\u0451\u0442 \u043c\u0435\u0434\u0438\u0430\u0431\u0430\u0439\u0435\u0440\u0430 \u043d\u0430 \u043e\u0441\u043d\u043e\u0432\u0435 \u0434\u0430\u043d\u043d\u044b\u0445. \u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439 \u044d\u043c\u043e\u0434\u0437\u0438. \u0412\u044b\u0434\u0435\u043b\u0438 \u043a\u043b\u044e\u0447\u0435\u0432\u044b\u0435 \u0438\u043d\u0441\u0430\u0439\u0442\u044b \u0438 \u0440\u0435\u043a\u043e\u043c\u0435\u043d\u0434\u0430\u0446\u0438\u0438 \u043d\u0430 \u0437\u0430\u0432\u0442\u0440\u0430.\\n\\n\u0414\u0430\u043d\u043d\u044b\u0435 \u0437\u0430 {{ $json.date }}:\\n- \u0411\u0430\u043b\u0430\u043d\u0441: ${{ $json.balance }}\\n- \u0420\u0430\u0441\u0445\u043e\u0434: ${{ $json.total_spend }}\\n- \u0414\u043e\u0445\u043e\u0434: ${{ $json.total_revenue }}\\n- \u041f\u0440\u043e\u0444\u0438\u0442: ${{ $json.total_profit }}\\n- ROI: {{ $json.total_roi }}%\\n- \u041a\u043b\u0438\u043a\u0438: {{ $json.total_clicks }}\\n- \u041f\u043e\u043a\u0430\u0437\u044b: {{ $json.total_shows }}\\n- \u0410\u043a\u0442\u0438\u0432\u043d\u044b\u0445 \u043e\u0431\u044a\u044f\u0432\u043b\u0435\u043d\u0438\u0439: {{ $json.active_ads }}\\n\\n\u0422\u043e\u043f-5 \u043f\u0440\u043e\u0444\u0438\u0442\u043d\u044b\u0445:\\n{{ $json.top5.map(a => `Ad #${a.ad_id}: ROI ${a.roi.toFixed(1)}%, Profit $${(a.revenue-a.spend).toFixed(2)}`).join('\\n') }}\\n\\n\u0422\u043e\u043f-5 \u0443\u0431\u044b\u0442\u043e\u0447\u043d\u044b\u0445:\\n{{ $json.worst5.map(a => `Ad #${a.ad_id}: ROI ${a.roi.toFixed(1)}%, Loss $${(a.spend-a.revenue).toFixed(2)}`).join('\\n') }}\\n\\n\u0413\u0435\u043e:\\n{{ $json.geo_breakdown.map(g => `${g.country}: ROI ${g.roi}%, Spend $${g.spend.toFixed(2)}`).join('\\n') }}\\n\\n\u0424\u043e\u0440\u043c\u0430\u0442: \u0442\u0435\u043a\u0441\u0442 \u0434\u043b\u044f Telegram (\u0431\u0435\u0437 markdown, \u043c\u0430\u043a\u0441\u0438\u043c\u0443\u043c 3000 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432).\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-report",
      "name": "Generate Report (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-cred",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst reportData = $('Compile Report Data').first().json;\n\nconst reportText = claudeResponse.content?.[0]?.text || 'Report generation failed';\n\nreturn [{\n  json: {\n    report_text: reportText,\n    ...reportData\n  }\n}];"
      },
      "id": "prepare-output",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_pnl (date, total_spend, total_revenue, gross_profit, roi_percent, balance_end)\nVALUES (\n  '{{ $json.date }}',\n  {{ $json.total_spend }},\n  {{ $json.total_revenue }},\n  {{ $json.total_profit }},\n  {{ $json.total_roi }},\n  {{ $json.balance }}\n)\nON CONFLICT (date) DO UPDATE SET\n  total_spend = EXCLUDED.total_spend,\n  total_revenue = EXCLUDED.total_revenue,\n  gross_profit = EXCLUDED.gross_profit,\n  roi_percent = EXCLUDED.roi_percent,\n  balance_end = EXCLUDED.balance_end;",
        "options": {}
      },
      "id": "save-pnl",
      "name": "Save P&L",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1180,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.report_text }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Report to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    }
  ],
  "connections": {
    "Daily at 23:55": {
      "main": [
        [
          {
            "node": "Fetch Daily Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Geo Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Stats": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Balance": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Geo Stats": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report Data": {
      "main": [
        [
          {
            "node": "Generate Report (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report (Claude)": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Save P&L",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Report to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Daily Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Geo Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reporting",
      "id": "tag-reporting"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
