workflows/11-daily-report.json
{
  "name": "11 - Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "55 23 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 23:55",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-daily-stats",
      "name": "Fetch Daily Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/balance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-balance",
      "name": "Fetch Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "country_code"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-geo-stats",
      "name": "Fetch Geo Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsRaw = $('Fetch Daily Stats').first().json;\nconst balanceRaw = $('Fetch Balance').first().json;\nconst geoRaw = $('Fetch Geo Stats').first().json;\n\nconst stats = statsRaw?.data?.result?.data || statsRaw?.data || (Array.isArray(statsRaw) ? statsRaw : []);\nconst balance = Number(balanceRaw?.data?.balance || balanceRaw?.balance || 0);\nconst geoStats = geoRaw?.data?.result?.data || geoRaw?.data || (Array.isArray(geoRaw) ? geoRaw : []);\n\nlet totalSpend = 0, totalRevenue = 0, totalClicks = 0, totalShows = 0;\nconst adPerformance = [];\n\nif (Array.isArray(stats)) {\n  stats.forEach(s => {\n    const spend = s.money || 0;\n    const revenue = s.postbacks_confirmed_money || 0;\n    const clicks = s.clicks_count || 0;\n    const shows = s.shows_count || 0;\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n\n    totalSpend += spend;\n    totalRevenue += revenue;\n    totalClicks += clicks;\n    totalShows += shows;\n\n    adPerformance.push({ ad_id: s.ad_id, spend, revenue, roi, clicks });\n  });\n}\n\nadPerformance.sort((a, b) => b.roi - a.roi);\n\nconst totalRoi = totalSpend > 0 ? ((totalRevenue - totalSpend) / totalSpend * 100) : 0;\nconst totalProfit = totalRevenue - totalSpend;\nconst top5 = adPerformance.filter(a => a.roi > 0).slice(0, 5);\nconst worst5 = adPerformance.filter(a => a.roi < 0 && a.spend > 0).slice(-5).reverse();\nconst activeAds = adPerformance.filter(a => a.clicks > 0).length;\n\nconst geoBreakdown = [];\nif (Array.isArray(geoStats)) {\n  geoStats.forEach(g => {\n    const spend = g.money || 0;\n    const revenue = g.postbacks_confirmed_money || 0;\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n    geoBreakdown.push({ country: g.country_code, spend, revenue, roi: Math.round(roi) });\n  });\n  geoBreakdown.sort((a, b) => b.roi - a.roi);\n}\n\n// Build report text\nconst date = $now.toFormat('dd.MM.yyyy');\nconst profitSign = totalProfit >= 0 ? '+' : '';\n\nlet msg = `DAILY REPORT ${date}\\n`;\nmsg += `\\nBalance: $${balance.toFixed(2)}`;\nmsg += `\\nSpend: $${totalSpend.toFixed(2)} | Revenue: $${totalRevenue.toFixed(2)}`;\nmsg += `\\nProfit: ${profitSign}$${totalProfit.toFixed(2)} | ROI: ${totalRoi.toFixed(1)}%`;\nmsg += `\\nClicks: ${totalClicks} | Shows: ${totalShows} | Ads: ${activeAds}`;\n\nif (top5.length > 0) {\n  msg += `\\n\\nTOP ${top5.length}:`;\n  top5.forEach(a => {\n    msg += `\\n  #${a.ad_id}: ROI ${a.roi.toFixed(1)}% profit $${(a.revenue - a.spend).toFixed(2)}`;\n  });\n}\n\nif (worst5.length > 0) {\n  msg += `\\n\\nWORST ${worst5.length}:`;\n  worst5.forEach(a => {\n    msg += `\\n  #${a.ad_id}: ROI ${a.roi.toFixed(1)}% loss $${(a.spend - a.revenue).toFixed(2)}`;\n  });\n}\n\nif (geoBreakdown.length > 0) {\n  msg += `\\n\\nGEO:`;\n  geoBreakdown.slice(0, 10).forEach(g => {\n    msg += `\\n  ${g.country}: ROI ${g.roi}% spend $${g.spend.toFixed(2)}`;\n  });\n}\n\nreturn [{\n  json: {\n    date: $now.toFormat('yyyy-MM-dd'),\n    balance: Math.round(balance * 100) / 100,\n    total_spend: Math.round(totalSpend * 100) / 100,\n    total_revenue: Math.round(totalRevenue * 100) / 100,\n    total_profit: Math.round(totalProfit * 100) / 100,\n    total_roi: Math.round(totalRoi * 100) / 100,\n    report_text: msg\n  }\n}];"
      },
      "id": "compile-report",
      "name": "Compile Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_pnl (date, total_spend, total_revenue, gross_profit, roi_percent, balance_end)\nVALUES (\n  '{{ $json.date }}',\n  {{ $json.total_spend }},\n  {{ $json.total_revenue }},\n  {{ $json.total_profit }},\n  {{ $json.total_roi }},\n  {{ $json.balance }}\n)\nON CONFLICT (date) DO UPDATE SET\n  total_spend = EXCLUDED.total_spend,\n  total_revenue = EXCLUDED.total_revenue,\n  gross_profit = EXCLUDED.gross_profit,\n  roi_percent = EXCLUDED.roi_percent,\n  balance_end = EXCLUDED.balance_end;",
        "options": {}
      },
      "id": "save-pnl",
      "name": "Save P&L",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        740,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.report_text }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Report to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        740,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily at 23:55": {
      "main": [
        [
          {
            "node": "Fetch Daily Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Geo Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Stats": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Balance": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Geo Stats": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report Data": {
      "main": [
        [
          {
            "node": "Save P&L",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Report to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reporting",
      "id": "tag-reporting"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "2"
}
