workflows/11-daily-report.json
{
  "name": "11 - Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "55 23 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 23:55",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "ad_id"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-daily-stats",
      "name": "Fetch Daily Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/balance",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-balance",
      "name": "Fetch Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "country_code"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-geo-stats",
      "name": "Fetch Geo Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT param5 AS ad_id, COUNT(*) AS total_leads,\n       SUM(CASE WHEN status = 'Depositor' THEN 1 ELSE 0 END) AS depositors,\n       ROUND(SUM(CASE WHEN status = 'Depositor' THEN cost ELSE 0 END), 2) AS crm_revenue\nFROM leads\nWHERE param5 IS NOT NULL AND param5 != '' AND param5 REGEXP '^[0-9]+$'\n  AND created_at >= CURDATE()\nGROUP BY param5",
        "options": {}
      },
      "id": "fetch-crm-leads",
      "name": "Fetch CRM Leads",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        350
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-crm",
          "name": "MySQL CRM"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "combinationMode": "waitForAll",
        "options": {}
      },
      "id": "merge-all",
      "name": "Wait For All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        500,
        50
      ]
    },
    {
      "parameters": {
        "jsCode": "// Data arrives via Merge node with 4 inputs\n// Input 0 = Fetch Daily Stats, Input 1 = Fetch Balance,\n// Input 2 = Fetch Geo Stats, Input 3 = Fetch CRM Leads\nconst statsRaw = $input.all()[0]?.json || {};\nconst balanceRaw = $input.all()[1]?.json || {};\nconst geoRaw = $input.all()[2]?.json || {};\nconst crmItems = $input.all().slice(3).map(i => i.json);\n\nconst stats = statsRaw?.data?.result?.data || statsRaw?.data || (Array.isArray(statsRaw) ? statsRaw : []);\nconst balance = Number(balanceRaw?.data?.balance || balanceRaw?.balance || 0);\nconst geoStats = geoRaw?.data?.result?.data || geoRaw?.data || (Array.isArray(geoRaw) ? geoRaw : []);\n\n// CRM map: ad_id -> { leads, deps, revenue }\nconst crmMap = {};\nlet totalLeads = 0, totalDeps = 0, totalCrmRevenue = 0;\ncrmItems.forEach(c => {\n  const adId = Number(c.ad_id);\n  if (adId) {\n    const leads = Number(c.total_leads) || 0;\n    const deps = Number(c.depositors) || 0;\n    const rev = Number(c.crm_revenue) || 0;\n    crmMap[adId] = { leads, deps, revenue: rev };\n    totalLeads += leads;\n    totalDeps += deps;\n    totalCrmRevenue += rev;\n  }\n});\n\nlet totalSpend = 0, totalClicks = 0, totalShows = 0;\nconst adPerformance = [];\n\nif (Array.isArray(stats)) {\n  stats.forEach(s => {\n    const spend = Number(s.money) || 0;\n    const clicks = Number(s.clicks_count) || 0;\n    const shows = Number(s.shows_count) || 0;\n    const adId = s.ad_id;\n    const crm = crmMap[adId] || { leads: 0, deps: 0, revenue: 0 };\n    const revenue = crm.revenue;\n    const roi = spend > 0 ? ((revenue - spend) / spend * 100) : 0;\n    const cpl = crm.leads > 0 ? spend / crm.leads : (spend > 0 ? Infinity : 0);\n\n    totalSpend += spend;\n    totalClicks += clicks;\n    totalShows += shows;\n\n    adPerformance.push({ ad_id: adId, spend, revenue, roi, clicks, leads: crm.leads, deps: crm.deps, cpl });\n  });\n}\n\nadPerformance.sort((a, b) => b.roi - a.roi);\n\nconst totalRoi = totalSpend > 0 ? ((totalCrmRevenue - totalSpend) / totalSpend * 100) : 0;\nconst totalProfit = totalCrmRevenue - totalSpend;\nconst totalCpl = totalLeads > 0 ? totalSpend / totalLeads : 0;\nconst top5 = adPerformance.filter(a => a.roi > 0).slice(0, 5);\nconst worst5 = adPerformance.filter(a => a.spend > 5 && a.leads === 0).sort((a, b) => b.spend - a.spend).slice(0, 5);\nconst activeAds = adPerformance.filter(a => a.clicks > 0).length;\n\nconst geoBreakdown = [];\nif (Array.isArray(geoStats)) {\n  geoStats.forEach(g => {\n    const spend = Number(g.money) || 0;\n    geoBreakdown.push({ country: g.country_code, spend });\n  });\n  geoBreakdown.sort((a, b) => b.spend - a.spend);\n}\n\n// Build report text\nconst date = $now.toFormat('dd.MM.yyyy');\nconst profitSign = totalProfit >= 0 ? '+' : '';\n\nlet msg = `DAILY REPORT ${date}\\n`;\nmsg += `\\nBalance: $${balance.toFixed(2)}`;\nmsg += `\\nSpend: $${totalSpend.toFixed(2)} | Revenue (CRM): $${totalCrmRevenue.toFixed(2)}`;\nmsg += `\\nProfit: ${profitSign}$${totalProfit.toFixed(2)} | ROI: ${totalRoi.toFixed(1)}%`;\nmsg += `\\nLeads: ${totalLeads} | Deps: ${totalDeps} | CPL: $${totalCpl.toFixed(2)}`;\nmsg += `\\nClicks: ${totalClicks} | Shows: ${totalShows} | Ads: ${activeAds}`;\n\nif (top5.length > 0) {\n  msg += `\\n\\nTOP ${top5.length} (by ROI):`;\n  top5.forEach(a => {\n    msg += `\\n  #${a.ad_id}: ROI ${a.roi.toFixed(0)}% profit $${(a.revenue - a.spend).toFixed(2)} (${a.leads}L/${a.deps}D)`;\n  });\n}\n\nif (worst5.length > 0) {\n  msg += `\\n\\nDRAIN (spend, 0 leads):`;\n  worst5.forEach(a => {\n    msg += `\\n  #${a.ad_id}: spent $${a.spend.toFixed(2)} ${a.clicks}cl 0 leads`;\n  });\n}\n\nif (geoBreakdown.length > 0) {\n  msg += `\\n\\nGEO spend:`;\n  geoBreakdown.slice(0, 10).forEach(g => {\n    msg += `\\n  ${g.country}: $${g.spend.toFixed(2)}`;\n  });\n}\n\nreturn [{\n  json: {\n    date: $now.toFormat('yyyy-MM-dd'),\n    balance: Math.round(balance * 100) / 100,\n    total_spend: Math.round(totalSpend * 100) / 100,\n    total_revenue: Math.round(totalCrmRevenue * 100) / 100,\n    total_profit: Math.round(totalProfit * 100) / 100,\n    total_roi: Math.round(totalRoi * 100) / 100,\n    report_text: msg\n  }\n}];"
      },
      "id": "compile-report",
      "name": "Compile Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        50
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_pnl (date, total_spend, total_revenue, gross_profit, roi_percent, balance_end)\nVALUES (\n  '{{ $json.date }}',\n  {{ $json.total_spend }},\n  {{ $json.total_revenue }},\n  {{ $json.total_profit }},\n  {{ $json.total_roi }},\n  {{ $json.balance }}\n)\nON CONFLICT (date) DO UPDATE SET\n  total_spend = EXCLUDED.total_spend,\n  total_revenue = EXCLUDED.total_revenue,\n  gross_profit = EXCLUDED.gross_profit,\n  roi_percent = EXCLUDED.roi_percent,\n  balance_end = EXCLUDED.balance_end;",
        "options": {}
      },
      "id": "save-pnl",
      "name": "Save P&L",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        980,
        -30
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "={{ $json.report_text }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Report to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        130
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily at 23:55": {
      "main": [
        [
          {
            "node": "Fetch Daily Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Geo Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CRM Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Stats": {
      "main": [
        [
          {
            "node": "Wait For All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Balance": {
      "main": [
        [
          {
            "node": "Wait For All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Geo Stats": {
      "main": [
        [
          {
            "node": "Wait For All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch CRM Leads": {
      "main": [
        [
          {
            "node": "Wait For All Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait For All Data": {
      "main": [
        [
          {
            "node": "Compile Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report Data": {
      "main": [
        [
          {
            "node": "Save P&L",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Report to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reporting",
      "id": "tag-reporting"
    },
    {
      "name": "mvp",
      "id": "tag-mvp"
    }
  ],
  "pinData": {},
  "versionId": "4"
}
