workflows/12-anomaly-detector.json
{
  "name": "12 - Anomaly Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH recent_stats AS (\n  SELECT\n    ad_id,\n    AVG(ctr) as avg_ctr_7d,\n    STDDEV(ctr) as std_ctr_7d,\n    AVG(cpc) as avg_cpc_7d,\n    STDDEV(cpc) as std_cpc_7d,\n    AVG(clicks) as avg_clicks_7d,\n    STDDEV(clicks) as std_clicks_7d,\n    AVG(postbacks_count) as avg_conversions_7d,\n    COUNT(*) as data_points\n  FROM ad_stats\n  WHERE date >= CURRENT_DATE - INTERVAL '7 days'\n    AND date < CURRENT_DATE\n  GROUP BY ad_id\n  HAVING COUNT(*) >= 3\n),\ntoday_stats AS (\n  SELECT ad_id, ctr, cpc, clicks, shows, money, postbacks_count, roi\n  FROM ad_stats\n  WHERE date = CURRENT_DATE\n)\nSELECT\n  t.ad_id,\n  t.ctr as today_ctr,\n  t.cpc as today_cpc,\n  t.clicks as today_clicks,\n  t.shows as today_shows,\n  t.money as today_spend,\n  t.postbacks_count as today_conversions,\n  t.roi as today_roi,\n  r.avg_ctr_7d,\n  r.std_ctr_7d,\n  r.avg_cpc_7d,\n  r.std_cpc_7d,\n  r.avg_clicks_7d,\n  r.std_clicks_7d,\n  r.avg_conversions_7d\nFROM today_stats t\nJOIN recent_stats r ON t.ad_id = r.ad_id;",
        "options": {}
      },
      "id": "fetch-comparison",
      "name": "Fetch Stats Comparison",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst anomalies = [];\nconst DEVIATION_THRESHOLD = 2; // 2 standard deviations\n\nitems.forEach(item => {\n  const d = item.json;\n  if (!d.ad_id) return;\n\n  // CTR anomaly - sudden drop\n  if (d.std_ctr_7d > 0 && d.avg_ctr_7d > 0) {\n    const ctrDeviation = (d.today_ctr - d.avg_ctr_7d) / d.std_ctr_7d;\n    if (ctrDeviation < -DEVIATION_THRESHOLD) {\n      anomalies.push({\n        ad_id: d.ad_id,\n        type: 'CTR_DROP',\n        severity: 'warning',\n        description: `CTR dropped sharply: ${d.today_ctr?.toFixed(4)}% vs avg ${d.avg_ctr_7d?.toFixed(4)}%`,\n        metric: 'ctr',\n        expected: d.avg_ctr_7d,\n        actual: d.today_ctr,\n        deviation: Math.round(ctrDeviation * 100) / 100\n      });\n    }\n    // CTR anomaly - viral spike\n    if (ctrDeviation > DEVIATION_THRESHOLD) {\n      anomalies.push({\n        ad_id: d.ad_id,\n        type: 'CTR_SPIKE',\n        severity: 'positive',\n        description: `CTR spiked! ${d.today_ctr?.toFixed(4)}% vs avg ${d.avg_ctr_7d?.toFixed(4)}% - consider scaling`,\n        metric: 'ctr',\n        expected: d.avg_ctr_7d,\n        actual: d.today_ctr,\n        deviation: Math.round(ctrDeviation * 100) / 100\n      });\n    }\n  }\n\n  // CPC anomaly - someone overbidding\n  if (d.std_cpc_7d > 0 && d.avg_cpc_7d > 0) {\n    const cpcDeviation = (d.today_cpc - d.avg_cpc_7d) / d.std_cpc_7d;\n    if (cpcDeviation > DEVIATION_THRESHOLD) {\n      anomalies.push({\n        ad_id: d.ad_id,\n        type: 'CPC_SPIKE',\n        severity: 'warning',\n        description: `CPC spiked: $${d.today_cpc?.toFixed(4)} vs avg $${d.avg_cpc_7d?.toFixed(4)} - competition increased?`,\n        metric: 'cpc',\n        expected: d.avg_cpc_7d,\n        actual: d.today_cpc,\n        deviation: Math.round(cpcDeviation * 100) / 100\n      });\n    }\n  }\n\n  // Zero shows - block might be down\n  if (d.today_shows === 0 && d.avg_clicks_7d > 5) {\n    anomalies.push({\n      ad_id: d.ad_id,\n      type: 'ZERO_SHOWS',\n      severity: 'critical',\n      description: `No shows today but avg ${d.avg_clicks_7d?.toFixed(0)} clicks/day - block down?`,\n      metric: 'shows',\n      expected: d.avg_clicks_7d,\n      actual: 0,\n      deviation: -100\n    });\n  }\n\n  // Bot traffic: many clicks but zero conversions\n  if (d.today_clicks > 20 && d.today_conversions === 0 && d.avg_conversions_7d > 1) {\n    anomalies.push({\n      ad_id: d.ad_id,\n      type: 'BOT_TRAFFIC',\n      severity: 'critical',\n      description: `${d.today_clicks} clicks but 0 conversions (avg ${d.avg_conversions_7d?.toFixed(1)}/day) - possible bot traffic`,\n      metric: 'conversions',\n      expected: d.avg_conversions_7d,\n      actual: 0,\n      deviation: -100\n    });\n  }\n});\n\nif (anomalies.length === 0) {\n  return []; // No anomalies detected\n}\n\nreturn anomalies.map(a => ({ json: a }));"
      },
      "id": "detect-anomalies",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO anomalies (ad_id, anomaly_type, severity, description, metric_name, expected_value, actual_value, deviation_percent)\nVALUES (\n  {{ $json.ad_id }},\n  '{{ $json.type }}',\n  '{{ $json.severity }}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  '{{ $json.metric }}',\n  {{ $json.expected || 0 }},\n  {{ $json.actual || 0 }},\n  {{ $json.deviation || 0 }}\n);",
        "options": {}
      },
      "id": "save-anomalies",
      "name": "Save Anomalies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, -80],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const anomalies = $input.all().map(i => i.json);\n\nconst critical = anomalies.filter(a => a.severity === 'critical');\nconst warnings = anomalies.filter(a => a.severity === 'warning');\nconst positive = anomalies.filter(a => a.severity === 'positive');\n\nlet msg = `🔍 ANOMALY DETECTOR ${$now.format('dd.MM.yyyy HH:mm')}\\n\\n`;\nmsg += `Found ${anomalies.length} anomalies\\n\\n`;\n\nif (critical.length > 0) {\n  msg += `🔴 CRITICAL:\\n`;\n  critical.forEach(a => msg += `  Ad #${a.ad_id}: ${a.description}\\n`);\n  msg += `\\n`;\n}\nif (warnings.length > 0) {\n  msg += `🟡 WARNINGS:\\n`;\n  warnings.forEach(a => msg += `  Ad #${a.ad_id}: ${a.description}\\n`);\n  msg += `\\n`;\n}\nif (positive.length > 0) {\n  msg += `🟢 OPPORTUNITIES:\\n`;\n  positive.forEach(a => msg += `  Ad #${a.ad_id}: ${a.description}\\n`);\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-message",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 80]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 80],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Stats Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stats Comparison": {
      "main": [
        [
          {
            "node": "Detect Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Anomalies": {
      "main": [
        [
          {
            "node": "Save Anomalies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reporting",
      "id": "tag-reporting"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
