workflows/13-block-optimizer.json
{
  "name": "13 - Block Optimizer (Blacklist/Whitelist)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 0 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 00:10",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: 7 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "block_id"
            },
            {
              "name": "groups[1]",
              "value": "ad_id"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "1000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-block-stats",
      "name": "Fetch Block Stats (7 days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsRaw = $('Fetch Block Stats (7 days)').first().json;\nconst stats = statsRaw?.data?.result?.data || statsRaw?.data || (Array.isArray(statsRaw) ? statsRaw : []);\n\n// Get CRM data (depositors + revenue by block)\nlet crmMap = {};\ntry {\n  const crmRows = $('Fetch CRM Block Stats').all().map(i => i.json);\n  crmRows.forEach(r => {\n    if (r.block_id) {\n      crmMap[String(r.block_id)] = {\n        leads: Number(r.total_leads) || 0,\n        depositors: Number(r.depositors) || 0,\n        crm_revenue: Number(r.crm_revenue) || 0\n      };\n    }\n  });\n} catch (e) {\n  // CRM data not available, continue with Geozo data only\n}\n\nif (!Array.isArray(stats)) {\n  return [{ json: { error: 'No block stats' } }];\n}\n\n// Aggregate Geozo stats by block_id\nconst blockAgg = {};\nstats.forEach(s => {\n  const blockId = String(s.block_id);\n  if (!blockId) return;\n  if (!blockAgg[blockId]) {\n    blockAgg[blockId] = { spend: 0, geozo_revenue: 0, clicks: 0, shows: 0, ads: new Set() };\n  }\n  blockAgg[blockId].spend += s.money || 0;\n  blockAgg[blockId].geozo_revenue += s.postbacks_confirmed_money || 0;\n  blockAgg[blockId].clicks += s.clicks_count || 0;\n  blockAgg[blockId].shows += s.shows_count || 0;\n  if (s.ad_id) blockAgg[blockId].ads.add(s.ad_id);\n});\n\nconst blacklist = [];\nconst whitelist = [];\nconst yellow = [];\n\nfor (const [blockId, b] of Object.entries(blockAgg)) {\n  const crm = crmMap[blockId] || { leads: 0, depositors: 0, crm_revenue: 0 };\n  \n  // Use CRM revenue if available, otherwise fall back to Geozo postbacks\n  const revenue = crm.crm_revenue > 0 ? crm.crm_revenue : b.geozo_revenue;\n  const roi = b.spend > 0 ? ((revenue - b.spend) / b.spend * 100) : 0;\n  const ctr = b.shows > 0 ? (b.clicks / b.shows * 100) : 0;\n  const cr = crm.leads > 0 ? (crm.depositors / crm.leads * 100) : 0;\n\n  const blockInfo = {\n    block_id: blockId,\n    roi: Math.round(roi * 100) / 100,\n    ctr: Math.round(ctr * 10000) / 10000,\n    cr: Math.round(cr * 100) / 100,\n    clicks: b.clicks,\n    shows: b.shows,\n    spend: Math.round(b.spend * 100) / 100,\n    revenue: Math.round(revenue * 100) / 100,\n    crm_leads: crm.leads,\n    crm_depositors: crm.depositors,\n    ad_count: b.ads.size,\n    data_source: crm.crm_revenue > 0 ? 'crm' : 'geozo'\n  };\n\n  // GREEN: profitable block (CRM ROI > 15% with depositors, or Geozo ROI > 20%)\n  if (crm.depositors > 0 && roi > 15 && b.clicks > 10) {\n    blockInfo.classification = 'green';\n    whitelist.push(blockInfo);\n  }\n  else if (roi > 20 && b.clicks > 10 && ctr > 0.5) {\n    blockInfo.classification = 'green';\n    whitelist.push(blockInfo);\n  }\n  // RED: losing block (high spend, no depositors from CRM)\n  else if (crm.leads >= 10 && crm.depositors === 0 && b.spend > 5) {\n    blockInfo.classification = 'red';\n    blacklist.push(blockInfo);\n  }\n  else if ((roi < -30 && b.clicks > 20) || (ctr < 0.1 && b.shows > 500)) {\n    blockInfo.classification = 'red';\n    blacklist.push(blockInfo);\n  }\n  // YELLOW: observation\n  else {\n    blockInfo.classification = 'yellow';\n    yellow.push(blockInfo);\n  }\n}\n\nreturn [{\n  json: {\n    blacklist_blocks: blacklist.map(b => b.block_id),\n    whitelist_blocks: whitelist.map(b => b.block_id),\n    blacklist_details: blacklist,\n    whitelist_details: whitelist,\n    yellow_details: yellow,\n    total_analyzed: Object.keys(blockAgg).length,\n    crm_blocks_matched: Object.keys(crmMap).length\n  }\n}];"
      },
      "id": "classify-blocks",
      "name": "Classify Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[status_id_in][]",
              "value": "1"
            },
            {
              "name": "count",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-ad-groups",
      "name": "Fetch Active Ad Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blockData = $('Classify Blocks').first().json;\nconst adsRaw = $('Fetch Active Ad Groups').first().json;\nconst ads = adsRaw?.data?.result?.data || adsRaw?.data || (Array.isArray(adsRaw) ? adsRaw : []);\n\n// Get unique ad_group_ids\nconst adGroupIds = [...new Set((Array.isArray(ads) ? ads : []).map(a => a.ad_group_id).filter(Boolean))];\n\nif (adGroupIds.length === 0) {\n  return [{ json: { action: 'SKIP', reason: 'No ad groups found' } }];\n}\n\n// Prepare updates for each ad group\nreturn adGroupIds.map(agId => ({\n  json: {\n    ad_group_id: agId,\n    blacklist_blocks: blockData.blacklist_blocks,\n    whitelist_blocks: blockData.whitelist_blocks,\n    blacklist_count: blockData.blacklist_blocks.length,\n    whitelist_count: blockData.whitelist_blocks.length,\n    total_analyzed: blockData.total_analyzed\n  }\n}));"
      },
      "id": "prepare-updates",
      "name": "Prepare Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.geozo.com/v1/advertiser/ad_groups/{{ $json.ad_group_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blacklist_blocks\": {{ JSON.stringify($json.blacklist_blocks) }},\n  \"whitelist_blocks\": {{ JSON.stringify($json.whitelist_blocks) }}\n}",
        "options": {}
      },
      "id": "update-ad-group",
      "name": "Update Ad Group Lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO block_stats (block_id, date, classification)\nSELECT b.block_id, CURRENT_DATE, b.classification\nFROM jsonb_array_elements('{{ JSON.stringify([...$json.blacklist_blocks.map(id => ({block_id: id, classification: 'red'})), ...$json.whitelist_blocks.map(id => ({block_id: id, classification: 'green'}))]) }}'::jsonb) AS b(val)\nCROSS JOIN LATERAL (\n  SELECT (val->>'block_id')::int as block_id, val->>'classification' as classification\n) b\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "log-to-db",
      "name": "Log Classifications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=\ud83c\udfaf BLOCK OPTIMIZER {{ $now.format('dd.MM.yyyy') }}\n\nAnalyzed: {{ $json.total_analyzed }} blocks (CRM matched: {{ $json.crm_blocks_matched || 0 }})\n\ud83d\udfe2 Whitelisted: {{ $json.whitelist_count }} blocks\n\ud83d\udd34 Blacklisted: {{ $json.blacklist_count }} blocks\n\nUpdated ad group #{{ $json.ad_group_id }}",
        "additionalFields": {}
      },
      "id": "notify",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT param6 AS block_id, COUNT(*) AS total_leads, SUM(CASE WHEN status = 'Depositor' THEN 1 ELSE 0 END) AS depositors, ROUND(SUM(CASE WHEN status = 'Depositor' THEN cost ELSE 0 END), 2) AS crm_revenue FROM `leads` WHERE param6 IS NOT NULL AND param6 != '' AND param6 REGEXP '^[0-9]+$' AND created_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) GROUP BY param6 HAVING COUNT(*) >= 3"
      },
      "id": "fetch-crm-stats",
      "name": "Fetch CRM Block Stats",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        150
      ],
      "credentials": {
        "mySql": {
          "id": "mysql-crm",
          "name": "CRM DB"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily at 00:10": {
      "main": [
        [
          {
            "node": "Fetch Block Stats (7 days)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Ad Groups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CRM Block Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Block Stats (7 days)": {
      "main": [
        [
          {
            "node": "Classify Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CRM Block Stats": {
      "main": [
        [
          {
            "node": "Classify Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Blocks": {
      "main": [
        [
          {
            "node": "Prepare Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Ad Groups": {
      "main": [
        [
          {
            "node": "Prepare Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Updates": {
      "main": [
        [
          {
            "node": "Update Ad Group Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ad Group Lists": {
      "main": [
        [
          {
            "node": "Log Classifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch Block Stats (7 days)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Ad Groups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CRM Block Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "optimizer",
      "id": "tag-optimizer"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
