workflows/14-coefficient-tuner.json
{
  "name": "14 - Coefficient Tuner (OS/Browser/ISP)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 1"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Monday 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GEOZO_API_BASE_URL }}/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: 14 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "device_type_id"
            },
            {
              "name": "groups[1]",
              "value": "ad_group_id"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-device-stats",
      "name": "Fetch Device Stats (14 days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsRaw = $input.first().json;\nconst stats = statsRaw.data || statsRaw;\n\nif (!Array.isArray(stats)) {\n  return [{ json: { error: 'No device stats' } }];\n}\n\n// Group by ad_group_id, then by device_type_id\nconst groupMap = {};\nstats.forEach(s => {\n  const agId = s.ad_group_id;\n  const dtId = s.device_type_id;\n  if (!agId || !dtId) return;\n\n  if (!groupMap[agId]) groupMap[agId] = {};\n  if (!groupMap[agId][dtId]) {\n    groupMap[agId][dtId] = { spend: 0, revenue: 0, clicks: 0 };\n  }\n  groupMap[agId][dtId].spend += parseFloat(s.money) || 0;\n  groupMap[agId][dtId].revenue += parseFloat(s.postbacks_confirmed_money) || 0;\n  groupMap[agId][dtId].clicks += parseInt(s.clicks_count) || 0;\n});\n\n// Calculate coefficients per ad_group\nconst results = [];\nfor (const [agId, devices] of Object.entries(groupMap)) {\n  const osCoeff = {};\n\n  for (const [dtId, d] of Object.entries(devices)) {\n    const roi = d.spend > 0 ? ((d.revenue - d.spend) / d.spend * 100) : 0;\n\n    let coefficient = 1.0;\n    if (roi > 30 && d.clicks > 10) {\n      coefficient = 1.3; // More traffic from profitable segments\n    } else if (roi >= 0 && roi <= 30) {\n      coefficient = 1.0; // Normal\n    } else if (roi >= -30 && roi < 0 && d.clicks > 10) {\n      coefficient = 0.7; // Less traffic\n    } else if (roi < -30 && d.clicks > 10) {\n      coefficient = 0.3; // Almost disable\n    }\n\n    osCoeff[dtId] = Math.round(coefficient * 10) / 10;\n  }\n\n  results.push({\n    json: {\n      ad_group_id: parseInt(agId),\n      coefficients: {\n        os: osCoeff\n      },\n      details: Object.entries(devices).map(([dtId, d]) => ({\n        device_type_id: dtId,\n        spend: Math.round(d.spend * 100) / 100,\n        revenue: Math.round(d.revenue * 100) / 100,\n        roi: d.spend > 0 ? Math.round((d.revenue - d.spend) / d.spend * 10000) / 100 : 0,\n        coefficient: osCoeff[dtId]\n      }))\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { action: 'SKIP', reason: 'No data for coefficient tuning' } }];\n}\n\nreturn results;"
      },
      "id": "calculate-coefficients",
      "name": "Calculate Coefficients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GEOZO_API_BASE_URL }}/advertiser/ad_groups/{{ $json.ad_group_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"coefficients\": {{ JSON.stringify($json.coefficients) }}\n}",
        "options": {}
      },
      "id": "update-coefficients",
      "name": "Update Coefficients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "geozo-api-cred",
          "name": "Geozo API Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚙️ COEFFICIENT TUNER\n\nAd Group #{{ $json.ad_group_id }}\n\nDevice coefficients updated:\n{{ $json.details.map(d => `  Type ${d.device_type_id}: ROI ${d.roi}% → coeff ${d.coefficient}`).join('\\n') }}",
        "additionalFields": {}
      },
      "id": "notify",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 0],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Weekly Monday 03:00": {
      "main": [
        [
          {
            "node": "Fetch Device Stats (14 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Device Stats (14 days)": {
      "main": [
        [
          {
            "node": "Calculate Coefficients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Coefficients": {
      "main": [
        [
          {
            "node": "Update Coefficients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Coefficients": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "optimizer",
      "id": "tag-optimizer"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
