workflows/15-position-scanner.json
{
  "name": "15 - Position Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT st.id, st.site_url, st.country_code, st.proxy_url, st.proxy_type, st.timezone, st.accept_language, st.render_domain, st.block_uuids, st.extra_params, st.geozo_block_id, pc.di_login, pc.di_password, pc.di_host, pc.di_port FROM scan_targets st CROSS JOIN (SELECT MAX(CASE WHEN key='dataimpulse_login' THEN value END) as di_login, MAX(CASE WHEN key='dataimpulse_password' THEN value END) as di_password, MAX(CASE WHEN key='dataimpulse_host' THEN value END) as di_host, MAX(CASE WHEN key='dataimpulse_port' THEN value END) as di_port FROM bot_config WHERE category='proxy') pc WHERE st.is_active = TRUE ORDER BY st.country_code, st.site_url",
        "options": {}
      },
      "id": "get-targets",
      "name": "Get Scan Targets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        75
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-targets",
              "leftValue": "={{ $json.site_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-targets-check",
      "name": "Has Targets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        75
      ]
    },
    {
      "parameters": {
        "jsCode": "const targets = $input.all().map(i => i.json);\n\n// Mobile User-Agents only — widget renders only on mobile\nconst mobileUAs = [\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 26_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.0 Mobile/15E148 Safari/604.1',\n  'Mozilla/5.0 (Linux; Android 15; SM-S928B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7535.50 Mobile Safari/537.36',\n  'Mozilla/5.0 (Linux; Android 16; Pixel 9 Pro) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7535.50 Mobile Safari/537.36',\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 26_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.0 Mobile/15E148 Safari/604.1'\n];\n\nconst referers = [\n  'https://www.google.com/',\n  'https://yandex.ru/',\n  'https://www.bing.com/',\n  'https://dzen.ru/',\n  ''\n];\n\nconst TIMEZONE_MAP = {\n  'FI': 3, 'RU': 3, 'KZ': 6, 'DE': 2, 'US': -5,\n  'UA': 3, 'BY': 3, 'PL': 2, 'TR': 3, 'JP': 9,\n  'IN': 5, 'BR': -3, 'GB': 1, 'FR': 2, 'IT': 2,\n  'ES': 2, 'PT': 1, 'NL': 2, 'SE': 2, 'NO': 2,\n  'CZ': 2, 'AT': 2, 'CH': 2, 'BE': 2, 'RO': 3,\n  'TH': 7, 'VN': 7, 'ID': 7, 'PH': 8, 'MY': 8\n};\n\nconst LANG_MAP = {\n  'FI': 'fi-FI,fi;q=0.9,en;q=0.8',\n  'RU': 'ru-RU,ru;q=0.9,en;q=0.8',\n  'KZ': 'kk-KZ,kk;q=0.9,ru-RU;q=0.8,ru;q=0.7',\n  'DE': 'de-DE,de;q=0.9,en;q=0.8',\n  'US': 'en-US,en;q=0.9',\n  'UA': 'uk-UA,uk;q=0.9,ru;q=0.8',\n  'BY': 'ru-BY,ru;q=0.9,en;q=0.8',\n  'PL': 'pl-PL,pl;q=0.9,en;q=0.8',\n  'TR': 'tr-TR,tr;q=0.9,en;q=0.8',\n  'JP': 'ja-JP,ja;q=0.9,en;q=0.8',\n  'IN': 'hi-IN,hi;q=0.9,en-IN;q=0.8,en;q=0.7',\n  'BR': 'pt-BR,pt;q=0.9,en;q=0.8',\n  'GB': 'en-GB,en;q=0.9',\n  'FR': 'fr-FR,fr;q=0.9,en;q=0.8',\n  'IT': 'it-IT,it;q=0.9,en;q=0.8',\n  'ES': 'es-ES,es;q=0.9,en;q=0.8',\n  'TH': 'th-TH,th;q=0.9,en;q=0.8',\n  'VN': 'vi-VN,vi;q=0.9,en;q=0.8'\n};\n\n// DataImpulse proxy: auto-generate proxy URL from bot_config + country_code\n// If scan_target has manual proxy_url — use it as override\n// buildProxyUrl(target, cc) — with geo for render\n// buildProxyUrl(target, '') — without geo for page fetch (some sites block geo IPs)\nfunction buildProxyUrl(target, cc) {\n  if (target.proxy_url && target.proxy_url.trim()) {\n    return target.proxy_url.trim();\n  }\n  const login = (target.di_login || '').trim();\n  const pass = (target.di_password || '').trim();\n  const host = (target.di_host || 'gw.dataimpulse.com').trim();\n  const port = (target.di_port || '823').toString().trim();\n  if (!login || !pass) return '';\n  if (cc) {\n    const userWithGeo = login + '__cr.' + cc.toLowerCase();\n    const encUser = encodeURIComponent(userWithGeo);\n    const encPass = encodeURIComponent(pass);\n    return `http://${encUser}:${encPass}@${host}:${port}`;\n  }\n  const encUser = encodeURIComponent(login);\n  const encPass = encodeURIComponent(pass);\n  return `http://${encUser}:${encPass}@${host}:${port}`;\n}\n\nreturn targets.map(t => {\n  const cc = (t.country_code || '').trim();\n  const proxyUrlGeo = buildProxyUrl(t, cc);\n  const proxyUrlNoGeo = buildProxyUrl(t, '');\n  return {\n    json: {\n      target_id: t.id,\n      site_url: ((s) => s.startsWith('http') ? s : 'https://' + s)((t.site_url || '').trim()),\n      country_code: cc,\n      proxy_url: proxyUrlGeo,\n      proxy_url_page: proxyUrlNoGeo,\n      proxy_type: proxyUrlGeo.startsWith('socks') ? 'socks5' : 'http',\n      proxy_auto: !t.proxy_url || !t.proxy_url.trim(),\n      user_agent: mobileUAs[Math.floor(Math.random() * mobileUAs.length)],\n      referer: referers[Math.floor(Math.random() * referers.length)],\n      timezone: t.timezone || TIMEZONE_MAP[cc] || 3,\n      accept_language: t.accept_language || LANG_MAP[cc] || 'en-US,en;q=0.9',\n      cached_render_domain: t.render_domain || null,\n      cached_block_uuids: t.block_uuids || null,\n      cached_extra_params: t.extra_params || null,\n      cached_geozo_block_id: t.geozo_block_id || null\n    }\n  };\n});"
      },
      "id": "prepare-requests",
      "name": "Prepare Scan Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.site_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.user_agent }}"
            },
            {
              "name": "Referer",
              "value": "={{ $json.referer }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.accept_language }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "proxy": "={{ $json.proxy_url_page }}",
          "timeout": 30000
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page via Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pick a random FRESH article link from the homepage HTML\n// Prefers articles published within the last 10 days (more likely to have geozo widget)\n// Falls back to all articles if no fresh ones found\nconst items = $input.all();\nconst scanRequests = $('Prepare Scan Requests').all().map(i => i.json);\nconst results = [];\n\nconst FRESH_DAYS = 10;\nconst now = new Date();\n\n// Try to extract a date from a URL path\n// Supports: /2025/07/15/slug, /2025/07/slug, /2025-07-15-slug\nfunction parseDateFromUrl(url) {\n  // Pattern: /YYYY/MM/DD/\n  let m = url.match(/\\/(20\\d{2})\\/(0[1-9]|1[0-2])\\/(0[1-9]|[12]\\d|3[01])(\\/|$)/);\n  if (m) return new Date(parseInt(m[1]), parseInt(m[2]) - 1, parseInt(m[3]));\n  // Pattern: /YYYY/MM/ (assume 1st of month)\n  m = url.match(/\\/(20\\d{2})\\/(0[1-9]|1[0-2])(\\/|$)/);\n  if (m) return new Date(parseInt(m[1]), parseInt(m[2]) - 1, 1);\n  // Pattern: /YYYY-MM-DD- in slug\n  m = url.match(/\\/(20\\d{2})-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])-/);\n  if (m) return new Date(parseInt(m[1]), parseInt(m[2]) - 1, parseInt(m[3]));\n  return null;\n}\n\nfunction daysBetween(d1, d2) {\n  return Math.abs(d1 - d2) / (1000 * 60 * 60 * 24);\n}\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const input = items[idx].json;\n  const html = String(input.data || input.body || '');\n  const scanReq = idx < scanRequests.length ? scanRequests[idx] : scanRequests[0];\n  const siteUrl = scanReq.site_url;\n\n  // Detect if site_url is a homepage (no meaningful path)\n  let isHomepage = false;\n  try {\n    const pathPart = siteUrl.replace(/^https?:\\/\\/[^/]+/, '');\n    isHomepage = !pathPart || pathPart === '/' || pathPart === '/index.html' || pathPart === '/index.php';\n  } catch(e) { isHomepage = false; }\n\n  if (!isHomepage || html.length < 100) {\n    results.push({ json: { ...input, article_url: siteUrl, is_random_article: false } });\n    continue;\n  }\n\n  // Parse all <a href=\"...\"> links from homepage\n  const baseMatch = siteUrl.match(/^(https?:\\/\\/[^/]+)/);\n  const baseDomain = baseMatch ? baseMatch[1] : '';\n  const hostname = baseDomain.replace(/^https?:\\/\\//, '');\n  const links = new Set();\n\n  const linkRegex = /<a[^>]*href=[\"']([^\"'#]+)[\"'][^>]*>/gi;\n  let lm;\n  while ((lm = linkRegex.exec(html)) !== null) {\n    let href = lm[1].replace(/&amp;/g, '&');\n    if (href.startsWith('//')) href = 'https:' + href;\n    if (href.startsWith('/')) href = baseDomain + href;\n    if (!href.startsWith('http')) continue;\n    // Strict domain check: extract only the hostname from the link, ignore query params\n    const linkHostMatch = href.match(/^https?:\\/\\/([^/?#]+)/);\n    const linkHost = linkHostMatch ? linkHostMatch[1] : '';\n    if (!linkHost.includes(hostname) && !hostname.includes(linkHost)) continue;\n    const path = href.replace(/^https?:\\/\\/[^/]+/, '').replace(/[?#].*$/, '');\n    if (!path || path === '/' || path.length < 5) continue;\n    if (/\\/(wp-|feed|admin|login|register|search|tag\\/|category\\/|author\\/|page\\/|\\?)/i.test(path)) continue;\n    const segments = path.split('/').filter(Boolean);\n    if (segments.length >= 2 || (segments.length === 1 && segments[0].length > 10)) {\n      links.add(href.split('?')[0].split('#')[0]);\n    }\n  }\n\n  const articleLinks = Array.from(links);\n\n  if (articleLinks.length === 0) {\n    results.push({ json: { ...input, article_url: siteUrl, is_random_article: false } });\n    continue;\n  }\n\n  // Separate fresh articles (with parseable date <= FRESH_DAYS old) from the rest\n  const freshArticles = [];\n  const undatedArticles = [];\n  for (const link of articleLinks) {\n    const d = parseDateFromUrl(link);\n    if (d && daysBetween(now, d) <= FRESH_DAYS) {\n      freshArticles.push(link);\n    } else if (!d) {\n      undatedArticles.push(link);\n    }\n    // dated but old — skip (least likely to have widget)\n  }\n\n  // Priority: fresh dated articles > undated articles > all articles\n  let pool = freshArticles.length > 0 ? freshArticles\n           : undatedArticles.length > 0 ? undatedArticles\n           : articleLinks;\n  const selectionSource = freshArticles.length > 0 ? 'fresh'\n                        : undatedArticles.length > 0 ? 'undated'\n                        : 'all';\n\n  const randomArticle = pool[Math.floor(Math.random() * pool.length)];\n  results.push({ json: {\n    ...input,\n    article_url: randomArticle,\n    homepage_url: siteUrl,\n    is_random_article: true,\n    articles_found: articleLinks.length,\n    fresh_articles_found: freshArticles.length,\n    selection_source: selectionSource\n  }});\n}\n\nreturn results;"
      },
      "id": "pick-random-article",
      "name": "Pick Random Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        120
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.article_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.user_agent || $('Prepare Scan Requests').first().json.user_agent }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.accept_language || $('Prepare Scan Requests').first().json.accept_language }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "proxy": "={{ $json.proxy_url_page || $json.proxy_url || $('Prepare Scan Requests').first().json.proxy_url_page }}",
          "timeout": 30000
        }
      },
      "id": "fetch-article",
      "name": "Fetch Article Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-random",
              "leftValue": "={{ $json.is_random_article }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "need-article-fetch",
      "name": "Need Article Fetch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process ALL proxy responses — match metadata by site_url, not by index\nconst items = $input.all();\n\n// Safely get upstream node data (may not exist in execution path)\nlet scanRequests = [];\nlet articleItems = [];\ntry { scanRequests = $('Prepare Scan Requests').all().map(i => i.json); } catch(e) { /* node not in path */ }\ntry { articleItems = $('Pick Random Article').all().map(i => i.json); } catch(e) { /* node not in path */ }\n\n// Build lookup maps for metadata (by site_url)\nconst articleByUrl = new Map();\nconst scanReqByUrl = new Map();\narticleItems.forEach(j => {\n  const baseMatch = (j.site_url || j.homepage_url || '').match(/^(https?:\\/\\/[^/]+)/);\n  const key = baseMatch ? baseMatch[1] : (j.site_url || '');\n  if (key) articleByUrl.set(key, j);\n});\nscanRequests.forEach(sr => {\n  const baseMatch = (sr.site_url || '').match(/^(https?:\\/\\/[^/]+)/);\n  const key = baseMatch ? baseMatch[1] : sr.site_url;\n  if (key) scanReqByUrl.set(key, sr);\n});\n\nconst MAX_REFRESHES = 5;\n\nfunction genUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nconst results = [];\n\n// Track which scanRequests were matched (to handle true-branch items without site_url)\nconst matchedSites = new Set();\n// First pass: process items that have site_url metadata (false-branch items)\n// Second pass: process items without site_url (true-branch HTTP responses)\nconst itemsWithMeta = [];\nconst itemsWithoutMeta = [];\nfor (const item of items) {\n  if (item.json.site_url || item.json.article_url || item.json.homepage_url) {\n    itemsWithMeta.push(item);\n  } else {\n    itemsWithoutMeta.push(item);\n  }\n}\n\n// Process all items, using metadata from the item itself or from lookup maps\nconst allItems = [...itemsWithMeta, ...itemsWithoutMeta];\n// For true-branch items (HTTP responses without metadata), assign unmatched scan requests\nconst unmatchedReqs = scanRequests.filter(sr => {\n  const baseMatch = (sr.site_url || '').match(/^(https?:\\/\\/[^/]+)/);\n  const key = baseMatch ? baseMatch[1] : sr.site_url;\n  // Check if any items with metadata already cover this site\n  return !itemsWithMeta.some(item => {\n    const itemUrl = item.json.site_url || item.json.homepage_url || '';\n    const itemBase = (itemUrl.match(/^(https?:\\/\\/[^/]+)/) || [null, itemUrl])[1];\n    return itemBase === key;\n  });\n});\n\nlet unmatchedIdx = 0;\n\nfor (const item of allItems) {\n  const input = item.json;\n  const html = input.data || input.body || (typeof input === 'string' ? input : '');\n\n  // Determine metadata: from item itself or from lookup\n  let siteUrl, geo, proxyUrl, userAgent, tz, acceptLang;\n\n  if (input.site_url || input.homepage_url) {\n    // Item has metadata (false-branch or Pick Random Article output)\n    const baseMatch = (input.site_url || input.homepage_url || '').match(/^(https?:\\/\\/[^/]+)/);\n    const baseUrl = baseMatch ? baseMatch[1] : (input.site_url || '');\n    const scanReq = scanReqByUrl.get(baseUrl) || scanRequests[0];\n    const articleItem = articleByUrl.get(baseUrl) || input;\n    siteUrl = articleItem.article_url || input.site_url || scanReq.site_url;\n    geo = input.country_code || scanReq.country_code;\n    proxyUrl = input.proxy_url || scanReq.proxy_url;\n    userAgent = input.user_agent || scanReq.user_agent;\n    tz = input.timezone || scanReq.timezone || 3;\n    acceptLang = input.accept_language || scanReq.accept_language || 'en-US,en;q=0.9';\n    matchedSites.add(baseUrl);\n  } else {\n    // HTTP response without metadata (true-branch) — use unmatched scan request\n    const scanReq = unmatchedIdx < unmatchedReqs.length ? unmatchedReqs[unmatchedIdx] : scanRequests[0];\n    const baseMatch = (scanReq.site_url || '').match(/^(https?:\\/\\/[^/]+)/);\n    const baseUrl = baseMatch ? baseMatch[1] : scanReq.site_url;\n    const articleItem = articleByUrl.get(baseUrl) || {};\n    siteUrl = articleItem.article_url || scanReq.site_url;\n    geo = scanReq.country_code;\n    proxyUrl = scanReq.proxy_url;\n    userAgent = scanReq.user_agent;\n    tz = scanReq.timezone || 3;\n    acceptLang = scanReq.accept_language || 'en-US,en;q=0.9';\n    unmatchedIdx++;\n  }\n\n  if (input.error || input.code >= 400) {\n    results.push({ json: {\n      site_url: siteUrl,\n      country_code: geo,\n      widget_found: false,\n      block_ids: [],\n      error: input.error || `HTTP ${input.code || 'unknown'}`,\n      proxy_url: proxyUrl,\n      scanned_at: $now.toISO()\n    }});\n    continue;\n  }\n\n  // --- Always use render.geozo.com as render domain ---\n  const renderDomain = 'render.geozo.com';\n\n  // Find data-gz-block UUIDs\n  const blockIds = [];\n  const seen = new Set();\n  const blockRegex1 = /data-gz-block=[\"']([0-9a-f-]{36})[\"']/gi;\n  let m;\n  while ((m = blockRegex1.exec(html)) !== null) {\n    if (!seen.has(m[1])) { seen.add(m[1]); blockIds.push(m[1]); }\n  }\n  const blockRegex2 = /data-gz-block=\\\\+[\"']([0-9a-f-]{36})\\\\+[\"']/gi;\n  while ((m = blockRegex2.exec(html)) !== null) {\n    if (!seen.has(m[1])) { seen.add(m[1]); blockIds.push(m[1]); }\n  }\n\n  // Parse extra data-* attributes from EACH block div (different blocks may have different params)\n  const extraParamsByBlock = {};\n  const blockDivRegex = /<div[^>]*data-gz-block=[\"']([0-9a-f-]{36})[\"']([^>]*)>/gi;\n  let bdm;\n  while ((bdm = blockDivRegex.exec(html)) !== null) {\n    const bUuid = bdm[1];\n    const attrs = bdm[2] || '';\n    const params = {};\n    const attrRegex = /data-([a-z0-9_]+)=[\"']([^\"']+)[\"']/gi;\n    let am;\n    while ((am = attrRegex.exec(attrs)) !== null) {\n      if (am[1] !== 'gz-block') params[am[1]] = am[2];\n    }\n    extraParamsByBlock[bUuid] = params;\n  }\n\n  // Fallback: if no block UUIDs found in HTML, use cached from DB\n  const siteBase = (siteUrl.match(/^(https?:\\/\\/[^/]+)/) || [null, siteUrl])[1];\n  const cachedReq = scanReqByUrl.get(siteBase) || scanRequests[0] || {};\n  if (blockIds.length === 0 && cachedReq.cached_block_uuids) {\n    try {\n      const cached = typeof cachedReq.cached_block_uuids === 'string' ? JSON.parse(cachedReq.cached_block_uuids) : cachedReq.cached_block_uuids;\n      const arr = Array.isArray(cached) ? cached : [cached];\n      arr.forEach(id => {\n        const s = String(id).trim();\n        if (/^[0-9a-f-]{36}$/.test(s) && !seen.has(s)) { seen.add(s); blockIds.push(s); }\n      });\n    } catch(e) { /* ignore parse errors */ }\n  }\n\n  if (blockIds.length === 0) {\n    results.push({ json: {\n      site_url: siteUrl,\n      country_code: geo,\n      widget_found: false,\n      block_ids: [],\n      render_url: '',\n      render_domain: renderDomain,\n      proxy_url: proxyUrl,\n      user_agent: userAgent,\n      accept_language: acceptLang,\n      scanned_at: $now.toISO()\n    }});\n    continue;\n  }\n\n  // Generate render URLs for ALL blocks × MAX_REFRESHES rounds\n  for (let bIdx = 0; bIdx < blockIds.length; bIdx++) {\n    const blockUuid = blockIds[bIdx];\n    const blockExtraParams = extraParamsByBlock[blockUuid] || {};\n    for (let round = 0; round < MAX_REFRESHES; round++) {\n      const surferUuid = genUuid();\n      const pageLoadUuid = genUuid();\n      let extraQs = '';\n      for (const [k, v] of Object.entries(blockExtraParams)) {\n        extraQs += `&${encodeURIComponent(k)}=${encodeURIComponent(v)}`;\n      }\n      const renderUrl = `https://${renderDomain}/v5/render?surfer_uuid=${surferUuid}&referrer=${encodeURIComponent(siteUrl)}&pre_referrer=${encodeURIComponent(siteUrl)}&time_zone=${tz}&page_load_uuid=${pageLoadUuid}&page_depth=1&block_uuid=${blockUuid}&refresh_depth=${round + 1}${extraQs}`;\n      results.push({ json: {\n        site_url: siteUrl,\n        country_code: geo,\n        widget_found: true,\n        block_ids: blockIds,\n        current_block_uuid: blockUuid,\n        block_index: bIdx + 1,\n        total_blocks: blockIds.length,\n        render_url: renderUrl,\n        render_domain: renderDomain,\n        refresh_round: round + 1,\n        proxy_url: proxyUrl,\n        user_agent: userAgent,\n        accept_language: acceptLang,\n        scanned_at: $now.toISO()\n      }});\n    }\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { widget_found: false, block_ids: [], error: 'No valid responses from any proxy' } }];\n}\nreturn results;"
      },
      "id": "extract-block-ids",
      "name": "Extract Block IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-widget",
              "leftValue": "={{ $json.widget_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "widget-found-check",
      "name": "Widget Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.render_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.user_agent }}"
            },
            {
              "name": "Referer",
              "value": "={{ $json.site_url }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.accept_language }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 30000
        }
      },
      "id": "fetch-render",
      "name": "Fetch Widget Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse teasers from render HTML — process each site separately\n// Split by RENDER_SEPARATOR to get correct per-render positions\nconst allInputs = $input.all();\nconst results = [];\n\nfunction parseSingleRender(html) {\n  const teasers = [];\n  let position = 0;\n  for (const m of html.matchAll(/<a\\b([^>]*)>([\\s\\S]*?)<\\/a>/gi)) {\n    const attrs = m[1];\n    const inner = m[2];\n    const classMatch = attrs.match(/class=[\"']([^\"']+)[\"']/i);\n    if (!classMatch || !classMatch[1].includes('media')) continue;\n\n    const hrefMatch = attrs.match(/href=[\"']([^\"']+)[\"']/i);\n    const clickUrl = hrefMatch ? hrefMatch[1].replace(/&amp;/g, '&') : '';\n\n    const titleMatch = inner.match(/class=[\"'][^\"']*media__title[^\"']*[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/\\w+>/i);\n    const title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : '';\n    if (title.length <= 3) continue;\n\n    position++;\n\n    let mediaId = null;\n    const mediaMatch = clickUrl.match(/media=(\\d+)/);\n    if (mediaMatch) mediaId = mediaMatch[1];\n\n    let imageUrl = null;\n    const bgMatch = inner.match(/class=[\"'][^\"']*media__img[^\"']*[\"'][^>]*style=[\"'][^\"']*background-image:\\s*url\\(['\\\"]?([^'\\\")]+)['\\\"]?\\)/i);\n    if (bgMatch) {\n      imageUrl = bgMatch[1].replace(/&amp;/g, '&').replace(/&#39;/g, '').replace(/&quot;/g, '').replace(/^['\"]|['\"]$/g, '');\n      if (!imageUrl.startsWith('http')) imageUrl = null;\n    }\n    if (!imageUrl) {\n      const imgMatch = inner.match(/<img[^>]*src=[\"']([^\"']+)[\"']/i);\n      if (imgMatch) {\n        imageUrl = imgMatch[1].replace(/&amp;/g, '&');\n        if (!imageUrl.startsWith('http')) imageUrl = null;\n      }\n    }\n\n    const sdMatch = inner.match(/class=[\"'][^\"']*media__shortDesc[^\"']*[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/\\w+>/i);\n    const shortDesc = sdMatch ? sdMatch[1].replace(/<[^>]+>/g, '').trim() : null;\n    const fdMatch = inner.match(/class=[\"'][^\"']*media__fullDesc[^\"']*[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/\\w+>/i);\n    const fullDesc = fdMatch ? fdMatch[1].replace(/<[^>]+>/g, '').trim() : null;\n    const btnMatch = inner.match(/class=[\"'][^\"']*media__btn[^\"']*[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/\\w+>/i);\n    const btnText = btnMatch ? btnMatch[1].replace(/<[^>]+>/g, '').trim() : null;\n\n    teasers.push({ position, title, media_id: mediaId, click_url: clickUrl || null, image_url: imageUrl, short_description: shortDesc, full_description: fullDesc, button_text: btnText });\n  }\n  return teasers;\n}\n\nfor (const inputItem of allInputs) {\n  const input = inputItem.json;\n  const renderHtml = input.data || '';\n  const rawSiteUrl = input.site_url;\n  const siteUrlMatch = rawSiteUrl.match(/^(https?:\\/\\/[^/]+)/);\n  const siteUrl = siteUrlMatch ? siteUrlMatch[1] : rawSiteUrl;\n  const geo = input.country_code;\n  const renderDomain = input.render_domain || '';\n\n  if (!renderHtml || renderHtml.length < 50) {\n    results.push({ json: {\n      site_url: siteUrl, country_code: geo, widget_found: true,\n      block_ids: input.block_ids, render_domain: renderDomain,\n      proxy_url: input.proxy_url || '',\n      teasers_found: 0, teasers: [],\n      error: 'No render HTML after merge', scanned_at: input.scanned_at\n    }});\n    continue;\n  }\n\n  // Split merged HTML into individual renders\n  const renderChunks = renderHtml.split('<!-- RENDER_SEPARATOR -->');\n  const allTeasers = new Map();\n\n  // Parse each render separately — position resets per render\n  for (const chunk of renderChunks) {\n    if (chunk.trim().length < 50) continue;\n    const renderTeasers = parseSingleRender(chunk);\n    for (const t of renderTeasers) {\n      const key = t.media_id ? ('m:' + t.media_id) : ('t:' + t.title);\n      if (!allTeasers.has(key)) {\n        allTeasers.set(key, { ...t, appearances: 1 });\n      } else {\n        const existing = allTeasers.get(key);\n        existing.appearances += 1;\n        if (t.click_url) existing.click_url = t.click_url;\n        if (t.position < existing.position) existing.position = t.position;\n        if (t.image_url && !existing.image_url) existing.image_url = t.image_url;\n      }\n    }\n  }\n\n  const totalRenders = input.total_renders || renderChunks.length;\n  const uniqueTeasers = Array.from(allTeasers.values());\n  uniqueTeasers.forEach(t => {\n    t.show_rate = parseFloat((t.appearances / totalRenders).toFixed(4));\n  });\n\n  results.push({ json: {\n    site_url: siteUrl, country_code: geo, widget_found: true,\n    block_ids: input.block_ids, render_domain: renderDomain,\n    proxy_url: input.proxy_url || '',\n    teasers_found: uniqueTeasers.length,\n    total_renders: input.total_renders,\n    renders_with_data: input.renders_with_data,\n    teasers: uniqueTeasers,\n    scanned_at: input.scanned_at\n  }});\n}\n\nif (results.length === 0) {\n  return [{ json: { site_url: '', country_code: '', teasers: [], teasers_found: 0 } }];\n}\nreturn results;"
      },
      "id": "parse-teasers",
      "name": "Parse Teasers from Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH our_match AS (\n  SELECT t.ad_id, (elem->>'position')::int AS pos\n  FROM teasers t,\n  jsonb_array_elements(CASE WHEN '{{ JSON.stringify($json.teasers || []).replace(/'/g, \"''\") }}'::text = 'null' THEN '[]'::jsonb ELSE '{{ JSON.stringify($json.teasers || []).replace(/'/g, \"''\") }}'::jsonb END) elem\n  WHERE t.ad_id IS NOT NULL\n    AND t.ad_id::text = elem->>'media_id'\n  LIMIT 1\n)\nINSERT INTO position_tracking (site_url, ad_id, position, total_teasers_in_block, competitor_titles)\nVALUES (\n  '{{ ($json.site_url || \"\").replace(/'/g, \"''\") }}',\n  (SELECT ad_id FROM our_match),\n  (SELECT pos FROM our_match),\n  {{ $json.teasers_found || 0 }},\n  '{{ JSON.stringify({ block_ids: $json.block_ids || [], teasers: $json.teasers || [], country_code: $json.country_code || \"\" }).replace(/'/g, \"''\") }}'::jsonb\n)\nRETURNING id, site_url, ad_id, position, total_teasers_in_block",
        "options": {}
      },
      "id": "save-positions",
      "name": "Save Positions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2020,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO position_tracking (site_url, ad_id, position, total_teasers_in_block, competitor_titles)\nVALUES (\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  NULL,\n  NULL,\n  0,\n  '{{ JSON.stringify({ widget_found: false, block_ids: [], country_code: $json.country_code, error: $json.error || \"no widget\" }).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-no-widget",
      "name": "Save No Widget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2020,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=No scan targets configured!\n\nAdd sites to scan_targets table:\nINSERT INTO scan_targets (site_url, country_code, proxy_url, proxy_type)\nVALUES ('https://example.com', 'KZ', 'socks5://user:pass@host:1080', 'socks5');",
        "additionalFields": {}
      },
      "id": "notify-no-targets",
      "name": "Notify No Targets",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.media_id, c.title, c.landing_url as destination_url, c.avg_cost as cost, c.last_seen_at, p.last_scanned as last_rechecked_at, 'creative' as source FROM creatives c LEFT JOIN (SELECT creative_id, MAX(scanned_at) as last_scanned FROM placements WHERE publisher_site = '{{ ($json.site_url.match(/^https?:\\/\\/[^/]+/) || [$json.site_url])[0].replace(/'/g, \"''\") }}' GROUP BY creative_id) p ON p.creative_id = c.id WHERE c.id IN (SELECT DISTINCT creative_id FROM placements WHERE publisher_site = '{{ ($json.site_url.match(/^https?:\\/\\/[^/]+/) || [$json.site_url])[0].replace(/'/g, \"''\") }}') AND c.last_seen_at > NOW() - INTERVAL '90 days' UNION ALL SELECT ad_id as media_id, title, NULL as destination_url, NULL as cost, NULL as last_seen_at, NULL as last_rechecked_at, 'ours' as source FROM teasers WHERE ad_id IS NOT NULL",
        "options": {}
      },
      "id": "fetch-known-competitors",
      "name": "Fetch Known Creatives",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2020,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process ALL sites — apply resolve limits PER SITE (per proxy)\n// RATE LIMIT: max 4 NEW + 2 RE-CHECK per site/proxy\n// IMPORTANT: skip OUR teasers (from teasers table) — clicking costs money!\n\n// Build known creatives map from DB results (shared across all sites)\nconst knownRows = $input.all().map(i => i.json);\nconst knownByMediaId = new Map();\nconst ourAdIds = new Set();\nknownRows.forEach(r => {\n  if (r.source === 'ours' && r.media_id) {\n    ourAdIds.add(String(r.media_id));\n  } else if (r.media_id) {\n    knownByMediaId.set(String(r.media_id), r);\n  }\n});\n\nfunction parseTrackingParams(url) {\n  if (!url || typeof url !== 'string') return {};\n  url = url.replace(/&amp;/g, '&');\n  const domainMatch = url.match(/https?:\\/\\/([^/?#]+)/);\n  const domain = domainMatch ? domainMatch[1] : null;\n  const qIdx = url.indexOf('?');\n  if (qIdx === -1) return { landing_domain: domain };\n  const qs = url.substring(qIdx + 1);\n  const p = {};\n  qs.split('&').forEach(pair => {\n    const eq = pair.indexOf('=');\n    if (eq > 0) p[pair.substring(0, eq)] = decodeURIComponent(pair.substring(eq + 1));\n  });\n  return {\n    landing_domain: domain,\n    geozo_block_id: parseInt(p.blockid || p.block || p.BLOCK || p.block_id || p.BLOCK_ID || p.source || p.subid1 || p.c1 || p.c4) || null,\n    geozo_site_id: parseInt(p.Siteid) || null,\n    geozo_ad_id: parseInt(p.Adid || p.AD_ID || p.creative_id || p.subid2 || p.c2 || p.mpc3 || p.sid6) || null,\n    geozo_adgroup_id: parseInt(p.adgroupid || p.ad_campaign_id || p.sid7 || p.c5 || p.utm_term) || null,\n    cost: p.cost || p.BID || p.cs || p.price || null\n  };\n}\n\nconst MAX_RESOLVES_PER_SITE = 4;\nconst MAX_RECHECKS_PER_SITE = 2;\nconst RESOLVE_DELAY_MS = 0; // parallel clicks — no delay needed\n\n// Process EACH site separately from Parse Teasers output\nconst allSites = $('Parse Teasers from Render').all();\nconst results = [];\n\nfor (const siteItem of allSites) {\n  const data = siteItem.json;\n  const teasers = data.teasers || [];\n  const rawSiteUrl = data.site_url;\n  const geo = data.country_code;\n  const renderDomain = data.render_domain || '';\n  const proxyUrl = data.proxy_url || '';\n\n  const siteUrlMatch = rawSiteUrl.match(/^(https?:\\/\\/[^/]+)/);\n  const siteUrl = siteUrlMatch ? siteUrlMatch[1] : rawSiteUrl;\n\n  if (teasers.length === 0) continue;\n\n  // Per-site click counter — each site starts at 0\n  let siteClickIdx = 0;\n\n  // CRITICAL: skip our own teasers\n  const safeTeasers = teasers.filter(t => !t.media_id || !ourAdIds.has(String(t.media_id)));\n  const newTeasers = safeTeasers.filter(t => t.click_url && t.media_id && !knownByMediaId.has(String(t.media_id)));\n  const knownTeasers = safeTeasers.filter(t => t.media_id && knownByMediaId.has(String(t.media_id)));\n  const noIdTeasers = safeTeasers.filter(t => !t.media_id && t.title && typeof t.title === 'string' && t.title.length > 3);\n\n  // --- New teasers: click up to MAX per site ---\n  const toResolve = newTeasers.slice(0, MAX_RESOLVES_PER_SITE);\n  const queuedNew = newTeasers.slice(MAX_RESOLVES_PER_SITE);\n\n  toResolve.forEach(t => {\n    results.push({ json: {\n      title: t.title, position: t.position,\n      media_id: parseInt(t.media_id) || null,\n      click_url: t.click_url,\n      image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      show_rate: t.show_rate || 0,\n      render_domain: renderDomain, site_url: siteUrl,\n      country_code: geo, proxy_url: proxyUrl,\n      resolve_delay_ms: siteClickIdx * RESOLVE_DELAY_MS,\n      needs_resolve: true, is_recheck: false\n    }});\n    siteClickIdx++;\n  });\n\n  // --- Re-check: pick oldest-rechecked known teasers per site ---\n  const recheckCandidates = knownTeasers\n    .filter(t => t.click_url)\n    .sort((a, b) => {\n      const aRow = knownByMediaId.get(String(a.media_id));\n      const bRow = knownByMediaId.get(String(b.media_id));\n      const aTime = aRow && aRow.last_rechecked_at ? new Date(aRow.last_rechecked_at).getTime() : 0;\n      const bTime = bRow && bRow.last_rechecked_at ? new Date(bRow.last_rechecked_at).getTime() : 0;\n      return aTime - bTime;\n    })\n    .slice(0, MAX_RECHECKS_PER_SITE);\n\n  const recheckIds = new Set(recheckCandidates.map(t => String(t.media_id)));\n\n  recheckCandidates.forEach(t => {\n    results.push({ json: {\n      title: t.title, position: t.position,\n      media_id: parseInt(t.media_id) || null,\n      click_url: t.click_url,\n      image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      show_rate: t.show_rate || 0,\n      render_domain: renderDomain, site_url: siteUrl,\n      country_code: geo, proxy_url: proxyUrl,\n      resolve_delay_ms: siteClickIdx * RESOLVE_DELAY_MS,\n      needs_resolve: true, is_recheck: true\n    }});\n    siteClickIdx++;\n  });\n\n  // --- Known teasers (not re-checked): use existing DB data ---\n  knownTeasers.filter(t => !recheckIds.has(String(t.media_id))).forEach(t => {\n    const dbRow = knownByMediaId.get(String(t.media_id));\n    const existingUrl = dbRow ? dbRow.destination_url || '' : '';\n    const params = parseTrackingParams(existingUrl);\n    results.push({ json: {\n      title: t.title, position: t.position,\n      media_id: parseInt(t.media_id) || null,\n      click_url: t.click_url || null,\n      image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      show_rate: t.show_rate || 0,\n      render_domain: renderDomain, site_url: siteUrl,\n      country_code: geo, proxy_url: proxyUrl,\n      needs_resolve: false, is_recheck: false,\n      landing_url: existingUrl || null,\n      landing_domain: params.landing_domain || null,\n      geozo_block_id: params.geozo_block_id || null,\n      geozo_site_id: params.geozo_site_id || null,\n      geozo_ad_id: params.geozo_ad_id || null,\n      geozo_adgroup_id: params.geozo_adgroup_id || null,\n      cost: params.cost || null\n    }});\n  });\n\n  // --- Queued new teasers: save without clicking ---\n  queuedNew.forEach(t => {\n    results.push({ json: {\n      title: t.title, position: t.position,\n      media_id: parseInt(t.media_id) || null,\n      click_url: null, image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      show_rate: t.show_rate || 0,\n      render_domain: renderDomain, site_url: siteUrl,\n      country_code: geo, proxy_url: proxyUrl,\n      needs_resolve: false, is_recheck: false,\n      landing_url: null, landing_domain: null\n    }});\n  });\n\n  // --- No-ID teasers ---\n  noIdTeasers.forEach(t => {\n    results.push({ json: {\n      title: t.title, position: t.position,\n      media_id: null, click_url: t.click_url || null,\n      image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      show_rate: t.show_rate || 0,\n      render_domain: renderDomain, site_url: siteUrl,\n      country_code: geo, proxy_url: proxyUrl,\n      needs_resolve: false, is_recheck: false,\n      landing_url: null, landing_domain: null\n    }});\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { skip: true, site_url: '', country_code: '' } }];\n}\n\nreturn results;"
      },
      "id": "split-teasers",
      "name": "Split Teasers for Resolve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add staggered delay to avoid rate limits from target servers\n// Each item gets an incremental delay based on its position\nconst items = $input.all();\nconst DELAY_MS = 800; // 800ms between requests\n\nfor (let i = 0; i < items.length; i++) {\n  items[i].json.resolve_delay_ms = i * DELAY_MS;\n  if (i > 0) {\n    await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n  }\n}\n\nreturn items;"
      },
      "id": "rate-limit-wait",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        -300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.click_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 15; SM-S928B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7535.50 Mobile Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Referer",
              "value": ""
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false,
              "maxRedirects": 0
            }
          },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 20000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      },
      "id": "resolve-landing-url",
      "name": "Resolve Landing URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        -300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "needs-resolve",
              "leftValue": "={{ $json.needs_resolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-resolve-check",
      "name": "Needs Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2460,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items — pair by index with Rate Limit Wait\nconst httpItems = $input.all();\nconst teaserItems = $('Rate Limit Wait').all();\n\n// Known showcase / feed patterns (checked against EVERY URL in redirect chain)\nconst SHOWCASE_PATTERNS = [\n  /\\/v1\\/(full|short)\\/\\d+/,        // luckyfeed\n  /\\/feed\\/[a-z0-9]+/i,             // generic feed TDS\n  /smartfeed/i,                      // smartfeed\n  /\\/out\\/[a-f0-9]{32}/i,           // news showcase hashes\n];\n\nfunction isShowcaseUrl(url) {\n  for (const pat of SHOWCASE_PATTERNS) {\n    if (pat.test(url)) return true;\n  }\n  return false;\n}\n\n// Manual URL param parser\nfunction parseUrlParams(url) {\n  if (!url || typeof url !== 'string') return { domain: null, params: {} };\n  url = url.replace(/&amp;/g, '&');\n  const domainMatch = url.match(/https?:\\/\\/([^/?#]+)/);\n  const domain = domainMatch ? domainMatch[1] : null;\n  const qIdx = url.indexOf('?');\n  const p = {};\n  if (qIdx !== -1) {\n    url.substring(qIdx + 1).split('&').forEach(pair => {\n      const eq = pair.indexOf('=');\n      if (eq > 0) p[pair.substring(0, eq)] = decodeURIComponent(pair.substring(eq + 1));\n    });\n  }\n  return { domain, params: p };\n}\n\nconst isTrackerDomain = (url) => /render\\.[a-zA-Z0-9-]+\\.com/.test(url);\nconst STUB_DOMAINS = ['xfeedhub.com'];\n\nconst results = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const httpResponse = httpItems[i].json;\n  const teaser = (teaserItems[i] || teaserItems[teaserItems.length - 1] || { json: {} }).json;\n\n  const statusCode = httpResponse.statusCode || httpResponse.code || 0;\n  const headers = httpResponse.headers || {};\n  const body = httpResponse.body || httpResponse.data || '';\n\n  // Build redirect chain from the single HTTP response\n  // (followRedirects=false, so we get the first redirect only)\n  const chain = [];\n  let landingUrl = '';\n\n  // Original click URL\n  chain.push(teaser.click_url || '');\n\n  // Check Location header (301/302/307/308)\n  if ([301, 302, 303, 307, 308].includes(statusCode)) {\n    const location = headers.location || headers.Location || '';\n    if (location && location.startsWith('http')) {\n      chain.push(location);\n      landingUrl = location;\n    }\n  }\n\n  // Check response URL (if redirects were partially followed)\n  if (httpResponse.url && !isTrackerDomain(httpResponse.url)) {\n    chain.push(httpResponse.url);\n    landingUrl = httpResponse.url;\n  } else if (httpResponse.responseUrl && !isTrackerDomain(httpResponse.responseUrl)) {\n    chain.push(httpResponse.responseUrl);\n    landingUrl = httpResponse.responseUrl;\n  }\n\n  // Check HTML body for meta-refresh or JS redirects (TDS intermediate pages)\n  if (typeof body === 'string' && body.length > 0) {\n    let bodyRedirect = '';\n    const metaMatch = body.match(/http-equiv=[\"']refresh[\"'][^>]*content=[\"'][^\"']*url=([^\"'\\s>]+)/i);\n    if (metaMatch) bodyRedirect = metaMatch[1].replace(/&amp;/g, '&');\n    if (!bodyRedirect) {\n      const jsMatch = body.match(/(?:window\\.location|location\\.href|location\\.replace)\\s*[=\\(]\\s*[\"']([^\"']+)[\"']/i);\n      if (jsMatch) bodyRedirect = jsMatch[1].replace(/&amp;/g, '&');\n    }\n    if (bodyRedirect && bodyRedirect.startsWith('http')) {\n      chain.push(bodyRedirect);\n      landingUrl = bodyRedirect;\n    }\n  }\n\n  if (!landingUrl) landingUrl = 'resolve_failed';\n\n  // Rate-limit stub domains\n  const { domain, params: p } = parseUrlParams(landingUrl);\n  if (domain && STUB_DOMAINS.some(d => domain === d || domain.endsWith('.' + d))) {\n    landingUrl = 'rate_limited';\n  }\n\n  // Detect showcase by checking EVERY URL in the redirect chain\n  let detectedType = 'landing';\n  for (const url of chain) {\n    if (url && isShowcaseUrl(url)) {\n      detectedType = 'showcase';\n      break;\n    }\n  }\n\n  // Extract tracking params from final landing URL\n  const trackingParams = landingUrl.startsWith('http') ? {\n    landing_domain: domain,\n    landing_type: detectedType,\n    geozo_block_id: parseInt(p.blockid || p.block || p.BLOCK || p.block_id || p.BLOCK_ID || p.source || p.subid1 || p.c1 || p.c4) || null,\n    geozo_site_id: parseInt(p.Siteid) || null,\n    geozo_ad_id: parseInt(p.Adid || p.AD_ID || p.creative_id || p.subid2 || p.c2 || p.mpc3 || p.sid6) || null,\n    geozo_adgroup_id: parseInt(p.adgroupid || p.ad_campaign_id || p.sid7 || p.c5 || p.utm_term) || null,\n    cost: p.cost || p.BID || p.cs || p.price || null\n  } : { landing_type: detectedType };\n\n  results.push({ json: {\n    title: teaser.title,\n    position: teaser.position,\n    media_id: teaser.media_id,\n    click_url: teaser.click_url,\n    image_url: teaser.image_url,\n    short_description: teaser.short_description || null,\n    full_description: teaser.full_description || null,\n    button_text: teaser.button_text || null,\n    render_domain: teaser.render_domain || null,\n    landing_url: landingUrl,\n    redirect_chain: chain.filter(u => u),\n    ...trackingParams,\n    show_rate: teaser.show_rate || 0,\n    is_recheck: teaser.is_recheck || false,\n    site_url: teaser.site_url,\n    country_code: teaser.country_code,\n    proxy_url: teaser.proxy_url || null\n  }});\n}\n\nreturn results;"
      },
      "id": "extract-landing-url",
      "name": "Extract Landing URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        -300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Upsert creative (dedup by media_id, fallback to title)\nWITH upserted_creative AS (\n  INSERT INTO creatives (\n    media_id, title, image_url, landing_url, landing_domain,\n    short_description, full_description, button_text,\n    geozo_ad_id, geozo_adgroup_id, geozo_site_id,\n    avg_cost, avg_show_rate, avg_position,\n    total_placements, days_running, countries, landing_type\n  )\n  SELECT\n    {{ $json.media_id || 'NULL' }},\n    '{{ ($json.title || \"\").replace(/'/g, \"''\") }}',\n    {{ $json.image_url ? \"'\" + $json.image_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.landing_url && !['resolve_failed','blocked_by_antifraud','rate_limited'].includes($json.landing_url) ? \"'\" + $json.landing_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.landing_domain ? \"'\" + $json.landing_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.short_description ? \"'\" + $json.short_description.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.full_description ? \"'\" + $json.full_description.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.button_text ? \"'\" + $json.button_text.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.geozo_ad_id || 'NULL' }},\n    {{ $json.geozo_adgroup_id || 'NULL' }},\n    {{ $json.geozo_site_id || 'NULL' }},\n    {{ $json.cost || 'NULL' }},\n    {{ $json.show_rate || 0 }},\n    {{ $json.position || 0 }},\n    1, 0, {{ $json.country_code ? \"ARRAY['\" + $json.country_code + \"']::text[]\" : \"'{}'::text[]\" }}, {{ ($json.landing_type ? \"'\" + $json.landing_type + \"'\" : ($json.landing_url && !['resolve_failed','blocked_by_antifraud','rate_limited'].includes($json.landing_url) ? \"'landing'\" : \"NULL\")) }}\n  WHERE '{{ ($json.title || \"\") }}' != '' AND '{{ ($json.title || \"\") }}' != 'undefined'\n  ON CONFLICT (media_id) WHERE media_id IS NOT NULL\n  DO UPDATE SET\n    last_seen_at = NOW(),\n    total_placements = creatives.total_placements + 1,\n    image_url = COALESCE(EXCLUDED.image_url, creatives.image_url),\n    landing_url = COALESCE(EXCLUDED.landing_url, creatives.landing_url),\n    landing_domain = COALESCE(EXCLUDED.landing_domain, creatives.landing_domain),\n    short_description = COALESCE(EXCLUDED.short_description, creatives.short_description),\n    full_description = COALESCE(EXCLUDED.full_description, creatives.full_description),\n    button_text = COALESCE(EXCLUDED.button_text, creatives.button_text),\n    geozo_ad_id = COALESCE(EXCLUDED.geozo_ad_id, creatives.geozo_ad_id),\n    geozo_adgroup_id = COALESCE(EXCLUDED.geozo_adgroup_id, creatives.geozo_adgroup_id),\n    geozo_site_id = COALESCE(EXCLUDED.geozo_site_id, creatives.geozo_site_id),\n    avg_cost = CASE WHEN EXCLUDED.avg_cost IS NOT NULL THEN ROUND((COALESCE(creatives.avg_cost,0) * 0.7 + EXCLUDED.avg_cost * 0.3)::numeric, 4) ELSE creatives.avg_cost END,\n    avg_show_rate = ROUND((COALESCE(creatives.avg_show_rate,0) * 0.7 + EXCLUDED.avg_show_rate * 0.3)::numeric, 4),\n    avg_position = CASE WHEN creatives.avg_position IS NULL THEN EXCLUDED.avg_position ELSE ROUND((creatives.avg_position * 0.7 + EXCLUDED.avg_position * 0.3)::numeric, 2) END,\n    countries = CASE WHEN {{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }} IS NOT NULL AND NOT (COALESCE(creatives.countries, '{}') @> ARRAY[{{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }}]::text[]) THEN COALESCE(creatives.countries, '{}') || ARRAY[{{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }}]::text[] ELSE COALESCE(creatives.countries, '{}') END,\n    days_running = GREATEST(0, EXTRACT(DAY FROM NOW() - creatives.first_seen_at)::int),\n    landing_type = COALESCE(EXCLUDED.landing_type, creatives.landing_type, 'landing')\n  RETURNING id\n),\nfound_creative AS (\n  SELECT id FROM upserted_creative\n  UNION ALL\n  SELECT id FROM creatives WHERE media_id = {{ $json.media_id || 'NULL' }} AND NOT EXISTS (SELECT 1 FROM upserted_creative)\n  UNION ALL\n  SELECT id FROM creatives WHERE media_id IS NULL AND title = '{{ ($json.title || \"\").replace(/'/g, \"''\") }}' AND {{ $json.media_id || 'NULL' }} IS NULL AND NOT EXISTS (SELECT 1 FROM upserted_creative)\n  LIMIT 1\n)\n-- 2. Insert placement\n, new_placement AS (\n  INSERT INTO placements (creative_id, publisher_site, block_id, country_code, position, cost, show_rate, render_domain, click_url, scanned_at)\n  SELECT fc.id, '{{ $json.site_url.replace(/'/g, \"''\") }}', {{ $json.geozo_block_id || 'NULL' }}, {{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }}, {{ $json.position || 0 }}, {{ $json.cost || 'NULL' }}, {{ $json.show_rate || 0 }}, {{ $json.render_domain ? \"'\" + $json.render_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $json.click_url ? \"'\" + $json.click_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, NOW()\n  FROM found_creative fc\n  WHERE NOT EXISTS (\n    SELECT 1 FROM placements\n    WHERE creative_id = fc.id\n    AND publisher_site = '{{ $json.site_url.replace(/'/g, \"''\") }}'\n    AND scanned_at > NOW() - INTERVAL '10 minutes'\n  )\n  RETURNING creative_id\n)\n-- 3. Upsert daily stats\n, daily AS (\n  INSERT INTO creative_daily_stats (creative_id, stat_date, placements_count, unique_sites, avg_position, min_position, max_position, avg_cost, max_cost, avg_show_rate)\n  SELECT np.creative_id, CURRENT_DATE, 1, 1, {{ $json.position || 0 }}, {{ $json.position || 0 }}, {{ $json.position || 0 }}, {{ $json.cost || 'NULL' }}, {{ $json.cost || 'NULL' }}, {{ $json.show_rate || 0 }}\n  FROM new_placement np LIMIT 1\n  ON CONFLICT (creative_id, stat_date) DO UPDATE SET\n    placements_count = creative_daily_stats.placements_count + 1,\n    avg_position = ROUND((creative_daily_stats.avg_position * creative_daily_stats.placements_count + {{ $json.position || 0 }})::numeric / (creative_daily_stats.placements_count + 1), 2),\n    min_position = LEAST(creative_daily_stats.min_position, {{ $json.position || 0 }}),\n    max_position = GREATEST(creative_daily_stats.max_position, {{ $json.position || 0 }}),\n    avg_cost = CASE WHEN {{ $json.cost || 'NULL' }} IS NOT NULL THEN ROUND((COALESCE(creative_daily_stats.avg_cost,0) * creative_daily_stats.placements_count + {{ $json.cost || 0 }})::numeric / (creative_daily_stats.placements_count + 1), 4) ELSE creative_daily_stats.avg_cost END,\n    max_cost = CASE WHEN {{ $json.cost || 'NULL' }} IS NOT NULL THEN GREATEST(COALESCE(creative_daily_stats.max_cost,0), {{ $json.cost || 0 }}) ELSE creative_daily_stats.max_cost END,\n    avg_show_rate = ROUND((creative_daily_stats.avg_show_rate * creative_daily_stats.placements_count + {{ $json.show_rate || 0 }})::numeric / (creative_daily_stats.placements_count + 1), 4)\n)\n-- 4. Auto-cache geozo_block_id to scan_targets if discovered\n, cache_block AS (\n  UPDATE scan_targets SET geozo_block_id = {{ $json.geozo_block_id || 'NULL' }}\n  WHERE {{ $json.geozo_block_id || 0 }} > 0\n    AND site_url LIKE '{{ ($json.site_url.match(/^https?:\\/\\/[^/]+/) || [$json.site_url])[0].replace(/'/g, \"''\") }}%'\n    AND (geozo_block_id IS NULL OR geozo_block_id != {{ $json.geozo_block_id || 0 }})\n  RETURNING 1\n)\nSELECT\n  (SELECT id FROM found_creative LIMIT 1) AS creative_id,\n  (SELECT COUNT(*) FROM new_placement) AS placement_inserted,\n  (SELECT COUNT(*) FROM cache_block) AS block_cached",
        "options": {}
      },
      "id": "save-competitors",
      "name": "Save Creative + Placement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3340,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Group render HTML responses BY SITE — output one item per target\n// so each site gets its own resolve limit and proxy\nconst items = $input.all();\n// Only widget_found=true items went through the loop — matches $input order\nconst extractItems = $('Extract Block IDs').all().map(i => i.json).filter(e => e.widget_found);\n\n// Group renders by site_url using matched metadata\nconst bySite = new Map();\nfor (let idx = 0; idx < items.length; idx++) {\n  const html = String(items[idx].json.data || items[idx].json.body || '');\n  const meta = idx < extractItems.length ? extractItems[idx] : extractItems[extractItems.length - 1] || {};\n  const siteKey = meta.site_url || 'unknown';\n  if (!bySite.has(siteKey)) {\n    bySite.set(siteKey, { htmlParts: [], meta, blockIds: new Set(), renderCount: 0, withData: 0 });\n  }\n  const entry = bySite.get(siteKey);\n  entry.renderCount++;\n  if (html.length > 50) { entry.htmlParts.push(html); entry.withData++; }\n  (meta.block_ids || []).forEach(id => entry.blockIds.add(id));\n}\n\n// Output one item per site\nconst results = [];\nfor (const [siteUrl, entry] of bySite) {\n  results.push({ json: {\n    data: entry.htmlParts.join('\\n<!-- RENDER_SEPARATOR -->\\n'),\n    site_url: entry.meta.site_url || siteUrl,\n    country_code: entry.meta.country_code || '',\n    block_ids: Array.from(entry.blockIds),\n    render_domain: entry.meta.render_domain || '',\n    user_agent: entry.meta.user_agent || '',\n    proxy_url: entry.meta.proxy_url || '',\n    accept_language: entry.meta.accept_language || '',\n    total_renders: entry.renderCount,\n    renders_with_data: entry.withData,\n    scanned_at: entry.meta.scanned_at || $now.toISO()\n  }});\n}\n\nif (results.length === 0) {\n  return [{ json: { data: '', site_url: '', country_code: '', block_ids: [], total_renders: 0, renders_with_data: 0 } }];\n}\nreturn results;"
      },
      "id": "merge-render-html",
      "name": "Merge Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1690,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect landing_url from BOTH paths that feed into Save Creative + Placement:\n// 1. Extract Landing URL — resolved items (needs_resolve=true path)\n// 2. Split Teasers for Resolve — known items that already have landing_url from DB\n\n// Strip everything after '?' — same base path = same landing page\nfunction getBaseUrl(url) {\n  if (!url) return url;\n  const qIdx = url.indexOf('?');\n  return qIdx === -1 ? url : url.substring(0, qIdx);\n}\n\n// Build proxy + fingerprint lookup from Parse Teasers (has proxy_url, user_agent, accept_language from scan_target)\nconst siteFingerprint = new Map();\ntry {\n  const parsedSites = $('Parse Teasers from Render').all();\n  for (const s of parsedSites) {\n    const key = (s.json.site_url || '').replace(/\\/+$/, '');\n    if (key) {\n      siteFingerprint.set(key, {\n        proxy_url: s.json.proxy_url || '',\n        user_agent: s.json.user_agent || '',\n        accept_language: s.json.accept_language || ''\n      });\n    }\n  }\n} catch(e) {}\n\n// Timezone ID map for Playwright (cloakers check JS timezone)\nconst TZ_ID_MAP = {\n  'FI': 'Europe/Helsinki', 'RU': 'Europe/Moscow', 'KZ': 'Asia/Almaty',\n  'DE': 'Europe/Berlin', 'US': 'America/New_York', 'UA': 'Europe/Kiev',\n  'BY': 'Europe/Minsk', 'PL': 'Europe/Warsaw', 'TR': 'Europe/Istanbul',\n  'JP': 'Asia/Tokyo', 'IN': 'Asia/Kolkata', 'BR': 'America/Sao_Paulo',\n  'GB': 'Europe/London', 'FR': 'Europe/Paris', 'IT': 'Europe/Rome',\n  'ES': 'Europe/Madrid', 'PT': 'Europe/Lisbon', 'NL': 'Europe/Amsterdam',\n  'SE': 'Europe/Stockholm', 'NO': 'Europe/Oslo', 'CZ': 'Europe/Prague',\n  'AT': 'Europe/Vienna', 'CH': 'Europe/Zurich', 'BE': 'Europe/Brussels',\n  'RO': 'Europe/Bucharest', 'TH': 'Asia/Bangkok', 'VN': 'Asia/Ho_Chi_Minh',\n  'ID': 'Asia/Jakarta', 'PH': 'Asia/Manila', 'MY': 'Asia/Kuala_Lumpur'\n};\n\n// Fallback User-Agents — only used when upstream Parse Teasers has no user_agent\n// NOTE: keep in sync with Prepare Scan Requests node\nconst mobileUAs = [\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 26_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.0 Mobile/15E148 Safari/604.1',\n  'Mozilla/5.0 (Linux; Android 15; SM-S928B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7535.50 Mobile Safari/537.36',\n  'Mozilla/5.0 (Linux; Android 16; Pixel 9 Pro) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.7535.50 Mobile Safari/537.36',\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 26_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.0 Mobile/15E148 Safari/604.1'\n];\n\nconst LANG_MAP = {\n  'FI': 'fi-FI,fi;q=0.9,en;q=0.8', 'RU': 'ru-RU,ru;q=0.9,en;q=0.8',\n  'KZ': 'kk-KZ,kk;q=0.9,ru-RU;q=0.8,ru;q=0.7', 'DE': 'de-DE,de;q=0.9,en;q=0.8',\n  'US': 'en-US,en;q=0.9', 'UA': 'uk-UA,uk;q=0.9,ru;q=0.8',\n  'BY': 'ru-BY,ru;q=0.9,en;q=0.8', 'PL': 'pl-PL,pl;q=0.9,en;q=0.8',\n  'TR': 'tr-TR,tr;q=0.9,en;q=0.8', 'JP': 'ja-JP,ja;q=0.9,en;q=0.8',\n  'IN': 'hi-IN,hi;q=0.9,en-IN;q=0.8,en;q=0.7', 'BR': 'pt-BR,pt;q=0.9,en;q=0.8',\n  'GB': 'en-GB,en;q=0.9', 'FR': 'fr-FR,fr;q=0.9,en;q=0.8',\n  'IT': 'it-IT,it;q=0.9,en;q=0.8', 'ES': 'es-ES,es;q=0.9,en;q=0.8',\n  'TH': 'th-TH,th;q=0.9,en;q=0.8', 'VN': 'vi-VN,vi;q=0.9,en;q=0.8'\n};\n\nlet allItems = [];\n\n// Path 1: resolved teasers (may not have executed if all teasers were known)\ntry {\n  allItems = allItems.concat($('Extract Landing URL').all());\n} catch(e) { /* node did not execute — no items needed resolve */ }\n\n// Path 2: known teasers with existing landing_url\ntry {\n  const splitItems = $('Split Teasers for Resolve').all();\n  for (const item of splitItems) {\n    if (!item.json.needs_resolve && item.json.landing_url) {\n      allItems.push(item);\n    }\n  }\n} catch(e) {}\n\n\n// Detect landing page type from URL patterns\nfunction detectLandingType(url) {\n  if (!url) return 'landing';\n  const u = url.toLowerCase();\n  // Showcase / news feed TDS patterns\n  const showcasePatterns = [\n    /\\/v1\\/(full|short)\\/\\d+/,        // luckyfeed-style news showcase\n    /\\/feed\\//,                         // feed aggregator\n    /\\/news-feed\\//,                    // news feed\n    /smartfeed/i,                       // smartfeed TDS\n  ];\n  for (const pat of showcasePatterns) {\n    if (pat.test(u)) return 'showcase';\n  }\n  return 'landing';\n}\n\nconst results = [];\n\nfor (const item of allItems) {\n  const url = item.json.landing_url || item.json.landingUrl || '';\n  // Skip invalid URLs and luckyfeed (news showcase TDS — no real landing to capture)\n  if (!url || url === 'resolve_failed' || url === 'blocked_by_antifraud' || url === 'rate_limited' || !url.startsWith('http')) {\n    continue;\n  }\n  // Skip showcases (detected by redirect chain in Extract Landing URL)\n  const landingType = item.json.landing_type || '';\n  if (landingType === 'showcase' || landingType === 'luckyfeed') {\n    continue;\n  }\n  if (/\\/v1\\/(full|short)\\/\\d+/.test(url)) {\n    continue;\n  }\n  // Fingerprint fallback: item data -> site lookup -> defaults\n  const siteKey = (item.json.site_url || '').replace(/\\/+$/, '');\n  const fp = siteFingerprint.get(siteKey) || {};\n  const cc = item.json.country_code || '';\n\n  let proxy = item.json.proxy_url || fp.proxy_url || '';\n  const userAgent = fp.user_agent || mobileUAs[Math.floor(Math.random() * mobileUAs.length)];\n  const acceptLanguage = fp.accept_language || LANG_MAP[cc] || 'en-US,en;q=0.9';\n  const timezoneId = TZ_ID_MAP[cc] || 'Europe/Moscow';\n  // Extract locale from accept_language (first tag: 'ru-RU,ru;...' -> 'ru-RU')\n  const locale = acceptLanguage.split(',')[0].split(';')[0] || 'en-US';\n\n  // Use base URL (without tracking params) for capture — same page captured once\n  const captureUrl = getBaseUrl(url);\n  const landingType = detectLandingType(url);\n  results.push({ json: {\n    landing_url: url,\n    capture_url: captureUrl,\n    media_id: item.json.media_id || null,\n    title: item.json.title || '',\n    landing_type: landingType,\n    proxy_url: proxy,\n    country_code: cc,\n    user_agent: userAgent,\n    accept_language: acceptLanguage,\n    timezone_id: timezoneId,\n    locale: locale\n  }});\n}\n\n// Deduplicate by capture_url (base URL without tracking params)\n// Multiple teasers with same landing but different tracking = ONE capture\nconst seen = new Set();\nconst unique = results.filter(r => {\n  if (seen.has(r.json.capture_url)) return false;\n  seen.add(r.json.capture_url);\n  return true;\n});\n\nif (unique.length === 0) {\n  return [{ json: { skip: true } }];\n}\nreturn unique;"
      },
      "id": "check-needs-capture",
      "name": "Check Needs Capture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        -180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-landing-url",
              "leftValue": "={{ $json.landing_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-capture",
      "name": "Should Capture?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3760,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE((SELECT true FROM creatives WHERE split_part(landing_url, '?', 1) = split_part('{{ ($json.capture_url || $json.landing_url || \"\").replace(/'/g, \"''\") }}', '?', 1) AND screenshot_path IS NOT NULL LIMIT 1), false) as already_captured",
        "options": {}
      },
      "id": "check-already-captured",
      "name": "Already Captured?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3960,
        -300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "not-captured",
              "leftValue": "={{ $json.already_captured }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "not-yet-captured",
      "name": "Not Yet Captured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4160,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://screenshot-service:3000/capture",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Check Needs Capture').item.json.capture_url, proxy: $('Check Needs Capture').item.json.proxy_url || undefined, user_agent: $('Check Needs Capture').item.json.user_agent || undefined, locale: $('Check Needs Capture').item.json.locale || undefined, timezone_id: $('Check Needs Capture').item.json.timezone_id || undefined, accept_language: $('Check Needs Capture').item.json.accept_language || undefined, viewport: { width: 412, height: 915 } }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "capture-landing",
      "name": "Capture Landing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4360,
        -300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE creatives SET screenshot_path = NULLIF('{{ (($json.body && $json.body.screenshot_path && $json.body.screenshot_path !== 'undefined' && $json.body.screenshot_path.length > 5) ? $json.body.screenshot_path : \"\").replace(/'/g, \"''\") }}', ''), archive_path = NULLIF('{{ (($json.body && $json.body.archive_path && $json.body.archive_path !== 'undefined' && $json.body.archive_path.length > 5) ? $json.body.archive_path : \"\").replace(/'/g, \"''\") }}', ''), captured_at = NOW() WHERE split_part(landing_url, '?', 1) = split_part('{{ ($('Check Needs Capture').item.json.capture_url || \"\").replace(/'/g, \"''\") }}', '?', 1) AND screenshot_path IS NULL\n  AND NULLIF('{{ (($json.body && $json.body.screenshot_path && $json.body.screenshot_path !== 'undefined' && $json.body.screenshot_path.length > 5) ? $json.body.screenshot_path : \"\").replace(/'/g, \"''\") }}', '') IS NOT NULL",
        "options": {}
      },
      "id": "update-capture-paths",
      "name": "Save Capture Paths",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4560,
        -300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Get Scan Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scan Targets": {
      "main": [
        [
          {
            "node": "Has Targets?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Targets?": {
      "main": [
        [
          {
            "node": "Prepare Scan Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scan Requests": {
      "main": [
        [
          {
            "node": "Fetch Page via Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page via Proxy": {
      "main": [
        [
          {
            "node": "Pick Random Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Article": {
      "main": [
        [
          {
            "node": "Need Article Fetch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Article Fetch?": {
      "main": [
        [
          {
            "node": "Fetch Article Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Block IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article Page": {
      "main": [
        [
          {
            "node": "Extract Block IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Block IDs": {
      "main": [
        [
          {
            "node": "Widget Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Widget Found?": {
      "main": [
        [
          {
            "node": "Fetch Widget Render",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save No Widget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Widget Render": {
      "main": [
        [
          {
            "node": "Merge Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Render HTML": {
      "main": [
        [
          {
            "node": "Parse Teasers from Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Teasers from Render": {
      "main": [
        [
          {
            "node": "Save Positions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Known Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Teasers for Resolve": {
      "main": [
        [
          {
            "node": "Needs Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Resolve?": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Creative + Placement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Resolve Landing URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Landing URL": {
      "main": [
        [
          {
            "node": "Extract Landing URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Landing URL": {
      "main": [
        [
          {
            "node": "Save Creative + Placement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Known Creatives": {
      "main": [
        [
          {
            "node": "Split Teasers for Resolve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Creative + Placement": {
      "main": [
        [
          {
            "node": "Check Needs Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Needs Capture": {
      "main": [
        [
          {
            "node": "Should Capture?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Capture?": {
      "main": [
        [
          {
            "node": "Already Captured?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Already Captured?": {
      "main": [
        [
          {
            "node": "Not Yet Captured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Yet Captured?": {
      "main": [
        [
          {
            "node": "Capture Landing Page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Capture Landing Page": {
      "main": [
        [
          {
            "node": "Save Capture Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "scraper",
      "id": "tag-scraper"
    }
  ],
  "pinData": {},
  "versionId": "4"
}