workflows/15-position-scanner.json
{
  "name": "15 - Position Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, site_url, country_code, proxy_url, proxy_type FROM scan_targets WHERE is_active = TRUE ORDER BY country_code, site_url",
        "options": {}
      },
      "id": "get-targets",
      "name": "Get Scan Targets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 75],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-targets",
              "leftValue": "={{ $json.site_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-targets-check",
      "name": "Has Targets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 75]
    },
    {
      "parameters": {
        "jsCode": "const targets = $input.all().map(i => i.json);\n\n// Mobile User-Agents only — widget renders only on mobile\nconst mobileUAs = [\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 17_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.3 Mobile/15E148 Safari/604.1',\n  'Mozilla/5.0 (Linux; Android 14; SM-S918B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.6261.64 Mobile Safari/537.36',\n  'Mozilla/5.0 (Linux; Android 13; Pixel 7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.6261.64 Mobile Safari/537.36',\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1'\n];\n\nconst referers = [\n  'https://www.google.com/',\n  'https://yandex.ru/',\n  'https://www.bing.com/',\n  'https://dzen.ru/',\n  ''\n];\n\nreturn targets.map(t => ({\n  json: {\n    target_id: t.id,\n    site_url: t.site_url,\n    country_code: t.country_code,\n    proxy_url: t.proxy_url || '',\n    proxy_type: t.proxy_type || 'socks5',\n    user_agent: mobileUAs[Math.floor(Math.random() * mobileUAs.length)],\n    referer: referers[Math.floor(Math.random() * referers.length)]\n  }\n}));"
      },
      "id": "prepare-requests",
      "name": "Prepare Scan Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.site_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "={{ $json.user_agent }}" },
            { "name": "Referer", "value": "={{ $json.referer }}" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml" },
            { "name": "Accept-Language", "value": "ru-RU,ru;q=0.9,en-US;q=0.8" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 30000
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page via Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst html = input.data || input.body || (typeof input === 'string' ? input : '');\nconst scanReq = $('Prepare Scan Requests').first().json;\nconst siteUrl = scanReq.site_url;\nconst geo = scanReq.country_code;\nconst proxyUrl = scanReq.proxy_url;\nconst userAgent = scanReq.user_agent;\n\nif (input.error || input.code >= 400) {\n  return [{ json: {\n    site_url: siteUrl,\n    country_code: geo,\n    widget_found: false,\n    block_ids: [],\n    error: input.error || `HTTP ${input.code || 'unknown'}`,\n    scanned_at: $now.toISO()\n  }}];\n}\n\n// Find data-gz-block UUIDs\n// Matches both normal HTML: data-gz-block=\"UUID\"\n// and escaped JSON in scripts: data-gz-block=\\\\\\\"UUID\\\\\\\"\nconst blockIds = [];\nconst seen = new Set();\n\n// Pattern 1: normal HTML attributes\nconst blockRegex1 = /data-gz-block=[\"']([0-9a-f-]{36})[\"']/gi;\nlet m;\nwhile ((m = blockRegex1.exec(html)) !== null) {\n  if (!seen.has(m[1])) { seen.add(m[1]); blockIds.push(m[1]); }\n}\n\n// Pattern 2: escaped quotes inside JSON/JS strings (e.g. \\\"UUID\\\")\nconst blockRegex2 = /data-gz-block=\\\\+[\"']([0-9a-f-]{36})\\\\+[\"']/gi;\nwhile ((m = blockRegex2.exec(html)) !== null) {\n  if (!seen.has(m[1])) { seen.add(m[1]); blockIds.push(m[1]); }\n}\n\n// Generate surfer_uuid for render API\nconst surferUuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\n\nif (blockIds.length === 0) {\n  return [{ json: {\n    site_url: siteUrl,\n    country_code: geo,\n    widget_found: false,\n    block_ids: [],\n    render_url: '',\n    proxy_url: proxyUrl,\n    user_agent: userAgent,\n    scanned_at: $now.toISO()\n  }}];\n}\n\n// Build render API URL for first block\nconst blockUuid = blockIds[0];\nconst pageLoadUuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\nconst renderUrl = `https://render.sustainablyaware.com/v5/render?surfer_uuid=${surferUuid}&referrer=${encodeURIComponent(siteUrl)}&pre_referrer=${encodeURIComponent(siteUrl)}&time_zone=3&page_load_uuid=${pageLoadUuid}&page_depth=1&m1olt2jjczm=${blockUuid}&block_uuid=${blockUuid}&refresh_depth=1`;\n\nreturn [{ json: {\n  site_url: siteUrl,\n  country_code: geo,\n  widget_found: true,\n  block_ids: blockIds,\n  render_url: renderUrl,\n  proxy_url: proxyUrl,\n  user_agent: userAgent,\n  scanned_at: $now.toISO()\n}}];"
      },
      "id": "extract-block-ids",
      "name": "Extract Block IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-widget",
              "leftValue": "={{ $json.widget_found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "widget-found-check",
      "name": "Widget Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.render_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "={{ $json.user_agent }}" },
            { "name": "Referer", "value": "={{ $json.site_url }}" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" },
            { "name": "Accept-Language", "value": "en-US,en;q=0.9" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 30000
        }
      },
      "id": "fetch-render",
      "name": "Fetch Widget Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, -60],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst renderHtml = input.data || input.body || (typeof input === 'string' ? input : '');\nconst blockData = $('Extract Block IDs').first().json;\nconst siteUrl = blockData.site_url;\nconst geo = blockData.country_code;\n\nif (!renderHtml || renderHtml.length < 50) {\n  return [{ json: {\n    site_url: siteUrl,\n    country_code: geo,\n    widget_found: true,\n    block_ids: blockData.block_ids,\n    teasers_found: 0,\n    teasers: [],\n    error: 'Render API returned empty or short response',\n    scanned_at: blockData.scanned_at\n  }}];\n}\n\nconst teasers = [];\n\n// Parse teaser titles from rendered HTML\n// Pattern: <div class=\"block-*-media__title\">TITLE</div>\nconst titleRegex = /class=[\"'][^\"']*media__title[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/div>/gi;\nlet titleMatch;\nlet position = 0;\nwhile ((titleMatch = titleRegex.exec(renderHtml)) !== null) {\n  position++;\n  const title = titleMatch[1].replace(/<[^>]+>/g, '').trim();\n  if (title.length > 5) {\n    teasers.push({ position, title });\n  }\n}\n\n// Extract image URLs from background-image:url('...')\nconst imageUrls = [];\nconst imgRegex = /class=[\"'][^\"']*media__img[\"'][^>]*style=[\"'][^\"']*background-image:\\s*url\\(['\\\"]?([^'\\\")]+)['\\\"]?\\)/gi;\nlet imgMatch;\nwhile ((imgMatch = imgRegex.exec(renderHtml)) !== null) {\n  // Decode HTML entities and strip surrounding quotes\n  const url = imgMatch[1]\n    .replace(/&amp;/g, '&')\n    .replace(/&#39;/g, '')\n    .replace(/&quot;/g, '')\n    .replace(/^['\"]|['\"]$/g, '');\n  if (url.startsWith('http')) imageUrls.push(url);\n}\n\n// Also extract click URLs to match with our ads\nconst clickUrls = [];\nconst clickRegex = /href=[\"'](https:\\/\\/render\\.sustainablyaware\\.com\\/v1\\/direct\\/click[^\"']*)[\"']/gi;\nlet clickMatch;\nwhile ((clickMatch = clickRegex.exec(renderHtml)) !== null) {\n  clickUrls.push(clickMatch[1].replace(/&amp;/g, '&'));\n}\n\n// Merge all extracted data per teaser\nfor (let i = 0; i < teasers.length; i++) {\n  // Click URL and media_id\n  if (i < clickUrls.length) {\n    const mediaMatch = clickUrls[i].match(/media=(\\d+)/);\n    if (mediaMatch) {\n      teasers[i].media_id = mediaMatch[1];\n    }\n    teasers[i].click_url = clickUrls[i];\n  }\n  // Image URL\n  if (i < imageUrls.length) {\n    teasers[i].image_url = imageUrls[i];\n  }\n}\n\nreturn [{ json: {\n  site_url: siteUrl,\n  country_code: geo,\n  widget_found: true,\n  block_ids: blockData.block_ids,\n  teasers_found: teasers.length,\n  teasers: teasers,\n  scanned_at: blockData.scanned_at\n}}];"
      },
      "id": "parse-teasers",
      "name": "Parse Teasers from Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, -60]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO position_tracking (site_url, ad_id, position, total_teasers_in_block, competitor_titles)\nVALUES (\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  NULL,\n  NULL,\n  {{ $json.teasers_found }},\n  '{{ JSON.stringify({ block_ids: $json.block_ids, teasers: $json.teasers, country_code: $json.country_code }).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-positions",
      "name": "Save Positions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2020, 0],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO position_tracking (site_url, ad_id, position, total_teasers_in_block, competitor_titles)\nVALUES (\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  NULL,\n  NULL,\n  0,\n  '{{ JSON.stringify({ widget_found: false, block_ids: [], country_code: $json.country_code, error: $json.error || \"no widget\" }).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-no-widget",
      "name": "Save No Widget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2020, 120],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=No scan targets configured!\n\nAdd sites to scan_targets table:\nINSERT INTO scan_targets (site_url, country_code, proxy_url, proxy_type)\nVALUES ('https://example.com', 'KZ', 'socks5://user:pass@host:1080', 'socks5');",
        "additionalFields": {}
      },
      "id": "notify-no-targets",
      "name": "Notify No Targets",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 200],
      "credentials": {
        "telegramApi": { "id": "telegram-cred", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, destination_url FROM competitors WHERE site_url = '{{ $json.site_url.replace(/'/g, \"''\") }}' AND destination_url IS NOT NULL AND destination_url != ''",
        "options": {}
      },
      "id": "fetch-known-competitors",
      "name": "Fetch Known Competitors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2020, -180],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter out teasers already in DB with known landing URL\n// RATE LIMIT: max 4 NEW teasers per scan to avoid anti-fraud\nconst knownRows = $input.all().map(i => i.json);\n\n// Build map: title -> destination_url (from DB)\nconst knownMap = new Map();\nknownRows.forEach(r => {\n  if (r.title) knownMap.set(r.title, r.destination_url || '');\n});\n\nconst data = $('Parse Teasers from Render').first().json;\nconst teasers = data.teasers || [];\nconst siteUrl = data.site_url;\nconst geo = data.country_code;\nconst proxyUrl = $('Prepare Scan Requests').first().json.proxy_url || '';\n\nif (teasers.length === 0) {\n  return [{ json: { skip: true, site_url: siteUrl, country_code: geo } }];\n}\n\n// Helper: parse tracking params from a landing URL\nfunction parseTrackingParams(url) {\n  if (!url || !url.startsWith('http')) return {};\n  try {\n    const u = new URL(url);\n    const p = u.searchParams;\n    return {\n      landing_domain: u.hostname,\n      geozo_block_id: parseInt(p.get('blockid') || p.get('block') || p.get('source')) || null,\n      geozo_site_id: parseInt(p.get('Siteid')) || null,\n      geozo_ad_id: parseInt(p.get('Adid') || p.get('creative_id')) || null,\n      geozo_adgroup_id: parseInt(p.get('adgroupid') || p.get('ad_campaign_id')) || null,\n      cost: p.get('cost') || null\n    };\n  } catch(e) { return {}; }\n}\n\nconst MAX_RESOLVES_PER_SCAN = 4;\n\n// Only resolve teasers we haven't resolved before\nconst newTeasers = teasers.filter(t => t.click_url && !knownMap.has(t.title));\n// Also keep already-known ones to update position/image (but skip resolve)\nconst knownTeasers = teasers.filter(t => knownMap.has(t.title));\n\nconst results = [];\n\n// New teasers get full resolve treatment\nconst toResolve = newTeasers.slice(0, MAX_RESOLVES_PER_SCAN);\ntoResolve.forEach((t, idx) => {\n  results.push({\n    json: {\n      title: t.title,\n      position: t.position,\n      media_id: t.media_id || null,\n      click_url: t.click_url,\n      image_url: t.image_url || null,\n      site_url: siteUrl,\n      country_code: geo,\n      proxy_url: proxyUrl,\n      resolve_delay_ms: idx * 3000,\n      needs_resolve: true\n    }\n  });\n});\n\n// Known teasers: parse tracking params from existing destination_url in DB\nknownTeasers.forEach(t => {\n  const existingUrl = knownMap.get(t.title);\n  const params = parseTrackingParams(existingUrl);\n  results.push({\n    json: {\n      title: t.title,\n      position: t.position,\n      media_id: t.media_id || null,\n      click_url: t.click_url || null,\n      image_url: t.image_url || null,\n      site_url: siteUrl,\n      country_code: geo,\n      proxy_url: proxyUrl,\n      needs_resolve: false,\n      landing_url: existingUrl || null,\n      landing_domain: params.landing_domain || null,\n      geozo_block_id: params.geozo_block_id || null,\n      geozo_site_id: params.geozo_site_id || null,\n      geozo_ad_id: params.geozo_ad_id || null,\n      geozo_adgroup_id: params.geozo_adgroup_id || null,\n      cost: params.cost || null\n    }\n  });\n});\n\nif (results.length === 0) {\n  return [{ json: { skip: true, site_url: siteUrl, country_code: geo } }];\n}\n\nreturn results;"
      },
      "id": "split-teasers",
      "name": "Split Teasers for Resolve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, -180]
    },
    {
      "parameters": {
        "jsCode": "// Wait before resolving to respect rate limits (3s between clicks)\nconst item = $input.first().json;\nconst delay = item.resolve_delay_ms || 0;\nif (delay > 0) {\n  await new Promise(r => setTimeout(r, delay));\n}\nreturn [$input.first()];"
      },
      "id": "rate-limit-wait",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, -300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.click_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Linux; Android 14; SM-S918B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.6261.64 Mobile Safari/537.36" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" },
            { "name": "Accept-Language", "value": "en-US,en;q=0.9" },
            { "name": "Referer", "value": "={{ $json.site_url }}" }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 15
            }
          },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 20000,
          "response": { "response": { "fullResponse": true, "responseFormat": "text" } }
        }
      },
      "id": "resolve-landing-url",
      "name": "Resolve Landing URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, -300],
      "onError": "continueRegularOutput",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "needs-resolve",
              "leftValue": "={{ $json.needs_resolve }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-resolve-check",
      "name": "Needs Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2460, -180]
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $input.first().json;\nconst teaser = $('Rate Limit Wait').first().json;\n\n// Extract landing URL from HTTP response\n// Tracker returns HTTP 200 with meta refresh / JS redirect to the actual landing\nlet landingUrl = '';\n\n// 1. Check if HTTP Request followed HTTP redirects to a non-tracker domain\nif (httpResponse.url && !httpResponse.url.includes('sustainablyaware.com')) {\n  landingUrl = httpResponse.url;\n} else if (httpResponse.responseUrl && !httpResponse.responseUrl.includes('sustainablyaware.com')) {\n  landingUrl = httpResponse.responseUrl;\n}\n\n// 2. Parse HTML body for meta refresh / JS redirect (tracker uses HTTP 200 + meta refresh)\nif (!landingUrl) {\n  const body = httpResponse.body || httpResponse.data || '';\n  if (typeof body === 'string') {\n    // meta refresh: <meta http-equiv=\"refresh\" content=\"0; URL=https://silentsloth.com/...\">\n    const metaMatch = body.match(/http-equiv=[\"']refresh[\"'][^>]*content=[\"'][^\"']*url=([^\"'\\s>]+)/i);\n    if (metaMatch) landingUrl = metaMatch[1];\n    // JS redirect: window.location = \"https://silentsloth.com/...\"\n    if (!landingUrl) {\n      const jsMatch = body.match(/(?:window\\.location|location\\.href|location\\.replace)\\s*[=\\(]\\s*[\"']([^\"']+)[\"']/i);\n      if (jsMatch) landingUrl = jsMatch[1];\n    }\n  }\n}\n\nif (!landingUrl) {\n  landingUrl = 'resolve_failed';\n}\n\n// Extract tracking params from landing URL\n// Different trackers use different param names:\n//   silentsloth: blockid, Siteid, Adid, adgroupid\n//   breezefieldbox: block, source, creative_id, ad_campaign_id, affiliate_id, cost\nlet trackingParams = {};\ntry {\n  if (landingUrl && landingUrl.startsWith('http')) {\n    const u = new URL(landingUrl);\n    const p = u.searchParams;\n    trackingParams = {\n      landing_domain: u.hostname,\n      landing_path: u.pathname,\n      geozo_block_id: parseInt(p.get('blockid') || p.get('block') || p.get('source')) || null,\n      geozo_site_id: parseInt(p.get('Siteid')) || null,\n      geozo_ad_id: parseInt(p.get('Adid') || p.get('creative_id')) || null,\n      geozo_adgroup_id: parseInt(p.get('adgroupid') || p.get('ad_campaign_id')) || null,\n      cost: p.get('cost') || null,\n      stream_uuid: p.get('stream_uuid') || p.get('external_id') || null\n    };\n  }\n} catch(e) { /* ignore URL parse errors */ }\n\nreturn [{ json: {\n  title: teaser.title,\n  position: teaser.position,\n  media_id: teaser.media_id,\n  click_url: teaser.click_url,\n  image_url: teaser.image_url,\n  landing_url: landingUrl,\n  ...trackingParams,\n  site_url: teaser.site_url,\n  country_code: teaser.country_code\n}}];"
      },
      "id": "extract-landing-url",
      "name": "Extract Landing URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, -300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO competitors (site_url, title, image_url, destination_url, position, block_id, landing_domain, geozo_ad_id, geozo_adgroup_id, geozo_site_id, country_code)\nVALUES (\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  {{ $json.image_url ? \"'\" + $json.image_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.landing_url && !['resolve_failed','blocked_by_antifraud'].includes($json.landing_url) ? \"'\" + $json.landing_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.position || 0 }},\n  {{ $json.geozo_block_id || 'NULL' }},\n  {{ $json.landing_domain ? \"'\" + $json.landing_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.geozo_ad_id || 'NULL' }},\n  {{ $json.geozo_adgroup_id || 'NULL' }},\n  {{ $json.geozo_site_id || 'NULL' }},\n  {{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }}\n)\nON CONFLICT (site_url, title) WHERE site_url IS NOT NULL AND title IS NOT NULL\nDO UPDATE SET\n  last_seen_at = NOW(),\n  times_seen = competitors.times_seen + 1,\n  position = EXCLUDED.position,\n  image_url = COALESCE(EXCLUDED.image_url, competitors.image_url),\n  destination_url = COALESCE(EXCLUDED.destination_url, competitors.destination_url),\n  block_id = COALESCE(EXCLUDED.block_id, competitors.block_id),\n  landing_domain = COALESCE(EXCLUDED.landing_domain, competitors.landing_domain),\n  geozo_ad_id = COALESCE(EXCLUDED.geozo_ad_id, competitors.geozo_ad_id),\n  geozo_adgroup_id = COALESCE(EXCLUDED.geozo_adgroup_id, competitors.geozo_adgroup_id),\n  geozo_site_id = COALESCE(EXCLUDED.geozo_site_id, competitors.geozo_site_id),\n  country_code = COALESCE(EXCLUDED.country_code, competitors.country_code);",
        "options": {}
      },
      "id": "save-competitors",
      "name": "Save Competitors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3340, -180],
      "credentials": {
        "postgres": { "id": "postgres-cred", "name": "PostgreSQL" }
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [[ { "node": "Get Scan Targets", "type": "main", "index": 0 } ]]
    },
    "Called by Orchestrator": {
      "main": [[ { "node": "Get Scan Targets", "type": "main", "index": 0 } ]]
    },
    "Get Scan Targets": {
      "main": [[ { "node": "Has Targets?", "type": "main", "index": 0 } ]]
    },
    "Has Targets?": {
      "main": [
        [ { "node": "Prepare Scan Requests", "type": "main", "index": 0 } ],
        [ { "node": "Notify No Targets", "type": "main", "index": 0 } ]
      ]
    },
    "Prepare Scan Requests": {
      "main": [[ { "node": "Fetch Page via Proxy", "type": "main", "index": 0 } ]]
    },
    "Fetch Page via Proxy": {
      "main": [[ { "node": "Extract Block IDs", "type": "main", "index": 0 } ]]
    },
    "Extract Block IDs": {
      "main": [[ { "node": "Widget Found?", "type": "main", "index": 0 } ]]
    },
    "Widget Found?": {
      "main": [
        [ { "node": "Fetch Widget Render", "type": "main", "index": 0 } ],
        [ { "node": "Save No Widget", "type": "main", "index": 0 } ]
      ]
    },
    "Fetch Widget Render": {
      "main": [[ { "node": "Parse Teasers from Render", "type": "main", "index": 0 } ]]
    },
    "Parse Teasers from Render": {
      "main": [[
        { "node": "Save Positions", "type": "main", "index": 0 },
        { "node": "Fetch Known Competitors", "type": "main", "index": 0 }
      ]]
    },
    "Split Teasers for Resolve": {
      "main": [[ { "node": "Needs Resolve?", "type": "main", "index": 0 } ]]
    },
    "Needs Resolve?": {
      "main": [
        [ { "node": "Rate Limit Wait", "type": "main", "index": 0 } ],
        [ { "node": "Save Competitors", "type": "main", "index": 0 } ]
      ]
    },
    "Rate Limit Wait": {
      "main": [[ { "node": "Resolve Landing URL", "type": "main", "index": 0 } ]]
    },
    "Resolve Landing URL": {
      "main": [[ { "node": "Extract Landing URL", "type": "main", "index": 0 } ]]
    },
    "Extract Landing URL": {
      "main": [[ { "node": "Save Competitors", "type": "main", "index": 0 } ]]
    },
    "Fetch Known Competitors": {
      "main": [[ { "node": "Split Teasers for Resolve", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [{ "name": "scraper", "id": "tag-scraper" }],
  "pinData": {},
  "versionId": "4"
}
