workflows/15-position-scanner.json
{
  "name": "15 - Position Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT st.id, st.site_url, st.country_code, st.proxy_url, st.proxy_type, st.timezone, st.accept_language, st.render_domain, st.block_uuids, st.extra_params, pc.di_login, pc.di_password, pc.di_host, pc.di_port FROM scan_targets st CROSS JOIN (SELECT MAX(CASE WHEN key='dataimpulse_login' THEN value END) as di_login, MAX(CASE WHEN key='dataimpulse_password' THEN value END) as di_password, MAX(CASE WHEN key='dataimpulse_host' THEN value END) as di_host, MAX(CASE WHEN key='dataimpulse_port' THEN value END) as di_port FROM bot_config WHERE category='proxy') pc WHERE st.is_active = TRUE ORDER BY st.country_code, st.site_url",
        "options": {}
      },
      "id": "get-targets",
      "name": "Get Scan Targets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        75
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-targets",
              "leftValue": "={{ $json.site_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-targets-check",
      "name": "Has Targets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        75
      ]
    },
    {
      "parameters": {
        "jsCode": "const targets = $input.all().map(i => i.json);\n\n// Mobile User-Agents only — widget renders only on mobile\nconst mobileUAs = [\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 17_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.3 Mobile/15E148 Safari/604.1',\n  'Mozilla/5.0 (Linux; Android 14; SM-S918B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.6261.64 Mobile Safari/537.36',\n  'Mozilla/5.0 (Linux; Android 13; Pixel 7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.6261.64 Mobile Safari/537.36',\n  'Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1'\n];\n\nconst referers = [\n  'https://www.google.com/',\n  'https://yandex.ru/',\n  'https://www.bing.com/',\n  'https://dzen.ru/',\n  ''\n];\n\nconst TIMEZONE_MAP = {\n  'FI': 3, 'RU': 3, 'KZ': 6, 'DE': 2, 'US': -5,\n  'UA': 3, 'BY': 3, 'PL': 2, 'TR': 3, 'JP': 9,\n  'IN': 5, 'BR': -3, 'GB': 1, 'FR': 2, 'IT': 2,\n  'ES': 2, 'PT': 1, 'NL': 2, 'SE': 2, 'NO': 2,\n  'CZ': 2, 'AT': 2, 'CH': 2, 'BE': 2, 'RO': 3,\n  'TH': 7, 'VN': 7, 'ID': 7, 'PH': 8, 'MY': 8\n};\n\nconst LANG_MAP = {\n  'FI': 'fi-FI,fi;q=0.9,en;q=0.8',\n  'RU': 'ru-RU,ru;q=0.9,en;q=0.8',\n  'KZ': 'kk-KZ,kk;q=0.9,ru-RU;q=0.8,ru;q=0.7',\n  'DE': 'de-DE,de;q=0.9,en;q=0.8',\n  'US': 'en-US,en;q=0.9',\n  'UA': 'uk-UA,uk;q=0.9,ru;q=0.8',\n  'BY': 'ru-BY,ru;q=0.9,en;q=0.8',\n  'PL': 'pl-PL,pl;q=0.9,en;q=0.8',\n  'TR': 'tr-TR,tr;q=0.9,en;q=0.8',\n  'JP': 'ja-JP,ja;q=0.9,en;q=0.8',\n  'IN': 'hi-IN,hi;q=0.9,en-IN;q=0.8,en;q=0.7',\n  'BR': 'pt-BR,pt;q=0.9,en;q=0.8',\n  'GB': 'en-GB,en;q=0.9',\n  'FR': 'fr-FR,fr;q=0.9,en;q=0.8',\n  'IT': 'it-IT,it;q=0.9,en;q=0.8',\n  'ES': 'es-ES,es;q=0.9,en;q=0.8',\n  'TH': 'th-TH,th;q=0.9,en;q=0.8',\n  'VN': 'vi-VN,vi;q=0.9,en;q=0.8'\n};\n\n// DataImpulse proxy: auto-generate proxy URL from bot_config + country_code\n// If scan_target has manual proxy_url — use it as override\nfunction buildProxyUrl(target, cc) {\n  if (target.proxy_url && target.proxy_url.trim()) {\n    return target.proxy_url.trim();\n  }\n  const login = (target.di_login || '') || '';\n  const pass = (target.di_password || '') || '';\n  const host = (target.di_host || 'gw.dataimpulse.com');\n  const port = (target.di_port || '823');\n  if (!login || !pass) return '';\n  const sessId = Math.floor(Math.random() * 999999);\n  const username = cc\n    ? `${login}__cr.${cc.toLowerCase()};sessid.${sessId}`\n    : `${login}__sessid.${sessId}`;\n  return `http://${encodeURIComponent(username)}:${encodeURIComponent(pass)}@${host}:${port}`;\n}\n\nreturn targets.map(t => {\n  const cc = (t.country_code || '').trim();\n  const proxyUrl = buildProxyUrl(t, cc);\n  return {\n    json: {\n      target_id: t.id,\n      site_url: (t.site_url || '').trim(),\n      country_code: cc,\n      proxy_url: proxyUrl,\n      proxy_type: proxyUrl.startsWith('socks') ? 'socks5' : 'http',\n      proxy_auto: !t.proxy_url || !t.proxy_url.trim(),\n      user_agent: mobileUAs[Math.floor(Math.random() * mobileUAs.length)],\n      referer: referers[Math.floor(Math.random() * referers.length)],\n      timezone: t.timezone || TIMEZONE_MAP[cc] || 3,\n      accept_language: t.accept_language || LANG_MAP[cc] || 'en-US,en;q=0.9',\n      cached_render_domain: t.render_domain || null,\n      cached_block_uuids: t.block_uuids || null,\n      cached_extra_params: t.extra_params || null\n    }\n  };\n});"
      },
      "id": "prepare-requests",
      "name": "Prepare Scan Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.site_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.user_agent }}"
            },
            {
              "name": "Referer",
              "value": "={{ $json.referer }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.accept_language }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 30000
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page via Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process ALL proxy responses, not just the first one\nconst items = $input.all();\nconst scanRequests = $('Prepare Scan Requests').all().map(i => i.json);\n\nconst MAX_REFRESHES = 4;\n\nfunction genUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nconst results = [];\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const input = items[idx].json;\n  const html = input.data || input.body || (typeof input === 'string' ? input : '');\n  const scanReq = idx < scanRequests.length ? scanRequests[idx] : scanRequests[0];\n  const siteUrl = scanReq.site_url;\n  const geo = scanReq.country_code;\n  const proxyUrl = scanReq.proxy_url;\n  const userAgent = scanReq.user_agent;\n  const tz = scanReq.timezone || 3;\n  const acceptLang = scanReq.accept_language || 'en-US,en;q=0.9';\n\n  if (input.error || input.code >= 400) {\n    results.push({ json: {\n      site_url: siteUrl,\n      country_code: geo,\n      widget_found: false,\n      block_ids: [],\n      error: input.error || `HTTP ${input.code || 'unknown'}`,\n      proxy_url: proxyUrl,\n      scanned_at: $now.toISO()\n    }});\n    continue;\n  }\n\n  // --- Detect render domain from page HTML ---\n  let renderDomain = scanReq.cached_render_domain || '';\n  if (!renderDomain) {\n    // Try CDN script: cdn.DOMAIN.com -> render.DOMAIN.com\n    const cdnMatch = html.match(/https?:\\/\\/(cdn\\.[a-zA-Z]+\\.com)/i);\n    if (cdnMatch) renderDomain = cdnMatch[1].replace('cdn.', 'render.');\n    // Try render domain directly in click URLs\n    if (!renderDomain) {\n      const renderMatch = html.match(/https?:\\/\\/(render\\.[a-zA-Z]+\\.com)/i);\n      if (renderMatch) renderDomain = renderMatch[1];\n    }\n  }\n  if (!renderDomain) renderDomain = 'render.sustainablyaware.com';\n\n  // Find data-gz-block UUIDs\n  const blockIds = [];\n  const seen = new Set();\n  const blockRegex1 = /data-gz-block=[\"']([0-9a-f-]{36})[\"']/gi;\n  let m;\n  while ((m = blockRegex1.exec(html)) !== null) {\n    if (!seen.has(m[1])) { seen.add(m[1]); blockIds.push(m[1]); }\n  }\n  const blockRegex2 = /data-gz-block=\\\\+[\"']([0-9a-f-]{36})\\\\+[\"']/gi;\n  while ((m = blockRegex2.exec(html)) !== null) {\n    if (!seen.has(m[1])) { seen.add(m[1]); blockIds.push(m[1]); }\n  }\n\n  // Parse extra data-* attributes from block div\n  const extraParams = {};\n  const blockDivRegex = /<div[^>]*data-gz-block=[\"'][0-9a-f-]{36}[\"']([^>]*)>/gi;\n  const bdm = blockDivRegex.exec(html);\n  if (bdm && bdm[1]) {\n    const attrRegex = /data-([a-z0-9_]+)=[\"']([^\"']+)[\"']/gi;\n    let am;\n    while ((am = attrRegex.exec(bdm[1])) !== null) {\n      if (am[1] !== 'gz-block') extraParams[am[1]] = am[2];\n    }\n  }\n\n  if (blockIds.length === 0) {\n    results.push({ json: {\n      site_url: siteUrl,\n      country_code: geo,\n      widget_found: false,\n      block_ids: [],\n      render_url: '',\n      render_domain: renderDomain,\n      proxy_url: proxyUrl,\n      user_agent: userAgent,\n      accept_language: acceptLang,\n      scanned_at: $now.toISO()\n    }});\n    continue;\n  }\n\n  // Generate N render URLs per proxy with different UUIDs\n  const blockUuid = blockIds[0];\n  for (let round = 0; round < MAX_REFRESHES; round++) {\n    const surferUuid = genUuid();\n    const pageLoadUuid = genUuid();\n    // Build extra params string from data-* attributes\n    let extraQs = '';\n    for (const [k, v] of Object.entries(extraParams)) {\n      extraQs += `&${encodeURIComponent(k)}=${encodeURIComponent(v)}`;\n    }\n    const renderUrl = `https://${renderDomain}/v5/render?surfer_uuid=${surferUuid}&referrer=${encodeURIComponent(siteUrl)}&pre_referrer=${encodeURIComponent(siteUrl)}&time_zone=${tz}&page_load_uuid=${pageLoadUuid}&page_depth=1&block_uuid=${blockUuid}&refresh_depth=${round + 1}${extraQs}`;\n    results.push({ json: {\n      site_url: siteUrl,\n      country_code: geo,\n      widget_found: true,\n      block_ids: blockIds,\n      render_url: renderUrl,\n      render_domain: renderDomain,\n      refresh_round: round + 1,\n      proxy_url: proxyUrl,\n      user_agent: userAgent,\n      accept_language: acceptLang,\n      scanned_at: $now.toISO()\n    }});\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { widget_found: false, block_ids: [], error: 'No valid responses from any proxy' } }];\n}\nreturn results;"
      },
      "id": "extract-block-ids",
      "name": "Extract Block IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-widget",
              "leftValue": "={{ $json.widget_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "widget-found-check",
      "name": "Widget Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.render_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.user_agent }}"
            },
            {
              "name": "Referer",
              "value": "={{ $json.site_url }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "={{ $json.accept_language }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 30000
        }
      },
      "id": "fetch-render",
      "name": "Fetch Widget Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse teasers from ONE merged HTML (all renders concatenated)\nconst input = $input.first().json;\nconst renderHtml = input.data || '';\nconst siteUrl = input.site_url;\nconst geo = input.country_code;\nconst renderDomain = input.render_domain || '';\n\nif (!renderHtml || renderHtml.length < 50) {\n  return [{ json: {\n    site_url: siteUrl, country_code: geo, widget_found: true,\n    block_ids: input.block_ids, render_domain: renderDomain,\n    teasers_found: 0, teasers: [],\n    error: 'No render HTML after merge', scanned_at: input.scanned_at\n  }}];\n}\n\nconst allTeasers = new Map();\nlet position = 0;\n\n// Parse all titles\nconst titles = [];\nfor (const m of renderHtml.matchAll(/class=[\"'][^\"']*media__title[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/div>/gi)) {\n  position++;\n  const title = m[1].replace(/<[^>]+>/g, '').trim();\n  if (title.length > 5) titles.push({ position, title });\n}\n\n// Parse all image URLs\nconst imageUrls = [];\nfor (const m of renderHtml.matchAll(/class=[\"'][^\"']*media__img[\"'][^>]*style=[\"'][^\"']*background-image:\\s*url\\(['\\\"]?([^'\\\")]+)['\\\"]?\\)/gi)) {\n  const url = m[1].replace(/&amp;/g, '&').replace(/&#39;/g, '').replace(/&quot;/g, '').replace(/^['\"]|['\"]$/g, '');\n  if (url.startsWith('http')) imageUrls.push(url);\n}\n\n// Parse all click URLs — universal regex for any render domain\nconst clickUrls = [];\nfor (const m of renderHtml.matchAll(/href=[\"'](https?:\\/\\/render\\.[a-zA-Z]+\\.com\\/(?:v1\\/direct\\/)?click[^\"']*)[\"']/gi)) {\n  clickUrls.push(m[1].replace(/&amp;/g, '&'));\n}\n\n// Parse short descriptions\nconst shortDescs = [];\nfor (const m of renderHtml.matchAll(/class=[\"'][^\"']*media__shortDesc[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/div>/gi)) {\n  shortDescs.push(m[1].replace(/<[^>]+>/g, '').trim());\n}\n\n// Parse full descriptions\nconst fullDescs = [];\nfor (const m of renderHtml.matchAll(/class=[\"'][^\"']*media__fullDesc[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/div>/gi)) {\n  fullDescs.push(m[1].replace(/<[^>]+>/g, '').trim());\n}\n\n// Parse button texts\nconst btnTexts = [];\nfor (const m of renderHtml.matchAll(/class=[\"'][^\"']*media__btn[\"'][^>]*>\\s*([\\s\\S]*?)\\s*<\\/div>/gi)) {\n  btnTexts.push(m[1].replace(/<[^>]+>/g, '').trim());\n}\n\n// Merge per-teaser data\nfor (let i = 0; i < titles.length; i++) {\n  const t = titles[i];\n  if (i < clickUrls.length) {\n    const mediaMatch = clickUrls[i].match(/media=(\\d+)/);\n    if (mediaMatch) t.media_id = mediaMatch[1];\n    t.click_url = clickUrls[i];\n  }\n  if (i < imageUrls.length) t.image_url = imageUrls[i];\n  if (i < shortDescs.length) t.short_description = shortDescs[i];\n  if (i < fullDescs.length) t.full_description = fullDescs[i];\n  if (i < btnTexts.length) t.button_text = btnTexts[i];\n  // Dedup by media_id\n  if (t.media_id && !allTeasers.has(t.media_id)) {\n    allTeasers.set(t.media_id, t);\n  }\n}\n\nconst uniqueTeasers = Array.from(allTeasers.values());\n\nreturn [{ json: {\n  site_url: siteUrl,\n  country_code: geo,\n  widget_found: true,\n  block_ids: input.block_ids,\n  render_domain: renderDomain,\n  teasers_found: uniqueTeasers.length,\n  total_renders: input.total_renders,\n  renders_with_data: input.renders_with_data,\n  teasers: uniqueTeasers,\n  scanned_at: input.scanned_at\n}}];"
      },
      "id": "parse-teasers",
      "name": "Parse Teasers from Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH our_match AS (\n  SELECT t.ad_id, (elem->>'position')::int AS pos\n  FROM teasers t,\n  jsonb_array_elements('{{ JSON.stringify($json.teasers).replace(/'/g, \"''\") }}'::jsonb) elem\n  WHERE t.ad_id IS NOT NULL\n    AND t.ad_id::text = elem->>'media_id'\n  LIMIT 1\n)\nINSERT INTO position_tracking (site_url, ad_id, position, total_teasers_in_block, competitor_titles)\nVALUES (\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  (SELECT ad_id FROM our_match),\n  (SELECT pos FROM our_match),\n  {{ $json.teasers_found }},\n  '{{ JSON.stringify({ block_ids: $json.block_ids, teasers: $json.teasers, country_code: $json.country_code }).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-positions",
      "name": "Save Positions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2020,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO position_tracking (site_url, ad_id, position, total_teasers_in_block, competitor_titles)\nVALUES (\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  NULL,\n  NULL,\n  0,\n  '{{ JSON.stringify({ widget_found: false, block_ids: [], country_code: $json.country_code, error: $json.error || \"no widget\" }).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-no-widget",
      "name": "Save No Widget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2020,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=No scan targets configured!\n\nAdd sites to scan_targets table:\nINSERT INTO scan_targets (site_url, country_code, proxy_url, proxy_type)\nVALUES ('https://example.com', 'KZ', 'socks5://user:pass@host:1080', 'socks5');",
        "additionalFields": {}
      },
      "id": "notify-no-targets",
      "name": "Notify No Targets",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT media_id, title, destination_url, 'competitor' as source FROM competitors WHERE site_url = '{{ $json.site_url.replace(/'/g, \"''\") }}' UNION ALL SELECT ad_id as media_id, title, NULL as destination_url, 'ours' as source FROM teasers WHERE ad_id IS NOT NULL",
        "options": {}
      },
      "id": "fetch-known-competitors",
      "name": "Fetch Known Competitors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2020,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter out teasers already in DB by media_id\n// RATE LIMIT: max 4 NEW teasers per scan to avoid anti-fraud\n// IMPORTANT: skip OUR teasers (from teasers table) — clicking costs money!\nconst knownRows = $input.all().map(i => i.json);\n\n// Build maps: media_id -> row data (from DB)\nconst knownByMediaId = new Map();\nconst ourAdIds = new Set(); // our ad_ids — NEVER click these\nknownRows.forEach(r => {\n  if (r.source === 'ours' && r.media_id) {\n    ourAdIds.add(String(r.media_id));\n  } else if (r.media_id) {\n    knownByMediaId.set(String(r.media_id), r);\n  }\n});\n\nconst data = $('Parse Teasers from Render').first().json;\nconst teasers = data.teasers || [];\nconst siteUrl = data.site_url;\nconst geo = data.country_code;\nconst renderDomain = data.render_domain || '';\nconst proxyUrl = $('Prepare Scan Requests').first().json.proxy_url || '';\n\nif (teasers.length === 0) {\n  return [{ json: { skip: true, site_url: siteUrl, country_code: geo } }];\n}\n\n// Helper: parse tracking params from a landing URL (manual parsing, no new URL())\nfunction parseTrackingParams(url) {\n  if (!url || typeof url !== 'string') return {};\n  url = url.replace(/&amp;/g, '&');\n  const domainMatch = url.match(/https?:\\/\\/([^/?#]+)/);\n  const domain = domainMatch ? domainMatch[1] : null;\n  const qIdx = url.indexOf('?');\n  if (qIdx === -1) return { landing_domain: domain };\n  const qs = url.substring(qIdx + 1);\n  const p = {};\n  qs.split('&').forEach(pair => {\n    const eq = pair.indexOf('=');\n    if (eq > 0) p[pair.substring(0, eq)] = decodeURIComponent(pair.substring(eq + 1));\n  });\n  return {\n    landing_domain: domain,\n    geozo_block_id: parseInt(p.blockid || p.block || p.source) || null,\n    geozo_site_id: parseInt(p.Siteid) || null,\n    geozo_ad_id: parseInt(p.Adid || p.creative_id) || null,\n    geozo_adgroup_id: parseInt(p.adgroupid || p.ad_campaign_id) || null,\n    cost: p.cost || null\n  };\n}\n\nconst MAX_RESOLVES_PER_SCAN = 4;\n\n// Dedup by media_id: known = already in DB, new = needs resolve\n// CRITICAL: skip our own teasers — clicking = wasting our budget!\nconst safeTeasers = teasers.filter(t => !t.media_id || !ourAdIds.has(t.media_id));\nconst newTeasers = safeTeasers.filter(t => t.click_url && t.media_id && !knownByMediaId.has(t.media_id));\nconst knownTeasers = safeTeasers.filter(t => t.media_id && knownByMediaId.has(t.media_id));\n\nconst results = [];\n\n// New teasers get full resolve treatment\nconst toResolve = newTeasers.slice(0, MAX_RESOLVES_PER_SCAN);\ntoResolve.forEach((t, idx) => {\n  results.push({\n    json: {\n      title: t.title,\n      position: t.position,\n      media_id: parseInt(t.media_id) || null,\n      click_url: t.click_url,\n      image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      render_domain: renderDomain,\n      site_url: siteUrl,\n      country_code: geo,\n      proxy_url: proxyUrl,\n      resolve_delay_ms: idx * 3000,\n      needs_resolve: true\n    }\n  });\n});\n\n// Known teasers: parse tracking params from existing destination_url in DB\nknownTeasers.forEach(t => {\n  const dbRow = knownByMediaId.get(t.media_id);\n  const existingUrl = dbRow ? dbRow.destination_url || '' : '';\n  const params = parseTrackingParams(existingUrl);\n  results.push({\n    json: {\n      title: t.title,\n      position: t.position,\n      media_id: parseInt(t.media_id) || null,\n      click_url: t.click_url || null,\n      image_url: t.image_url || null,\n      short_description: t.short_description || null,\n      full_description: t.full_description || null,\n      button_text: t.button_text || null,\n      render_domain: renderDomain,\n      site_url: siteUrl,\n      country_code: geo,\n      proxy_url: proxyUrl,\n      needs_resolve: false,\n      landing_url: existingUrl || null,\n      landing_domain: params.landing_domain || null,\n      geozo_block_id: params.geozo_block_id || null,\n      geozo_site_id: params.geozo_site_id || null,\n      geozo_ad_id: params.geozo_ad_id || null,\n      geozo_adgroup_id: params.geozo_adgroup_id || null,\n      cost: params.cost || null\n    }\n  });\n});\n\nif (results.length === 0) {\n  return [{ json: { skip: true, site_url: siteUrl, country_code: geo } }];\n}\n\nreturn results;"
      },
      "id": "split-teasers",
      "name": "Split Teasers for Resolve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wait before resolving to respect rate limits (3s between clicks)\nconst items = $input.all();\nfor (const item of items) {\n  const delay = item.json.resolve_delay_ms || 0;\n  if (delay > 0) {\n    await new Promise(r => setTimeout(r, delay));\n  }\n}\nreturn items;"
      },
      "id": "rate-limit-wait",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        -300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.click_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 14; SM-S918B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.6261.64 Mobile Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Referer",
              "value": "={{ $json.site_url }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 15
            }
          },
          "proxy": "={{ $json.proxy_url }}",
          "timeout": 20000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "resolve-landing-url",
      "name": "Resolve Landing URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        -300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "needs-resolve",
              "leftValue": "={{ $json.needs_resolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-resolve-check",
      "name": "Needs Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2460,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items (not just first) — pair by index with Rate Limit Wait\nconst httpItems = $input.all();\nconst teaserItems = $('Rate Limit Wait').all();\n\n// Geozo render domains — used to filter out tracker redirects\nconst isTrackerDomain = (url) => /render\\.[a-zA-Z]+\\.com/.test(url);\n\n// Manual URL param parser (new URL() may not work in n8n sandbox)\nfunction parseUrlParams(url) {\n  if (!url || typeof url !== 'string') return { domain: null, params: {} };\n  url = url.replace(/&amp;/g, '&');\n  const domainMatch = url.match(/https?:\\/\\/([^/?#]+)/);\n  const domain = domainMatch ? domainMatch[1] : null;\n  const qIdx = url.indexOf('?');\n  const p = {};\n  if (qIdx !== -1) {\n    url.substring(qIdx + 1).split('&').forEach(pair => {\n      const eq = pair.indexOf('=');\n      if (eq > 0) p[pair.substring(0, eq)] = decodeURIComponent(pair.substring(eq + 1));\n    });\n  }\n  return { domain, params: p };\n}\n\nconst results = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const httpResponse = httpItems[i].json;\n  const teaser = (teaserItems[i] || teaserItems[0]).json;\n\n  let landingUrl = '';\n\n  // 1. Check if HTTP Request followed redirects to a non-tracker domain\n  if (httpResponse.url && !isTrackerDomain(httpResponse.url)) {\n    landingUrl = httpResponse.url;\n  } else if (httpResponse.responseUrl && !isTrackerDomain(httpResponse.responseUrl)) {\n    landingUrl = httpResponse.responseUrl;\n  }\n\n  // 2. Parse HTML body for meta refresh / JS redirect\n  if (!landingUrl) {\n    const body = httpResponse.body || httpResponse.data || '';\n    if (typeof body === 'string') {\n      const metaMatch = body.match(/http-equiv=[\"']refresh[\"'][^>]*content=[\"'][^\"']*url=([^\"'\\s>]+)/i);\n      if (metaMatch) landingUrl = metaMatch[1].replace(/&amp;/g, '&');\n      if (!landingUrl) {\n        const jsMatch = body.match(/(?:window\\.location|location\\.href|location\\.replace)\\s*[=\\(]\\s*[\"']([^\"']+)[\"']/i);\n        if (jsMatch) landingUrl = jsMatch[1].replace(/&amp;/g, '&');\n      }\n    }\n  }\n\n  if (!landingUrl) landingUrl = 'resolve_failed';\n\n  // Extract tracking params using manual parser\n  const { domain, params: p } = parseUrlParams(landingUrl);\n  const trackingParams = landingUrl.startsWith('http') ? {\n    landing_domain: domain,\n    geozo_block_id: parseInt(p.blockid || p.block || p.source) || null,\n    geozo_site_id: parseInt(p.Siteid) || null,\n    geozo_ad_id: parseInt(p.Adid || p.creative_id) || null,\n    geozo_adgroup_id: parseInt(p.adgroupid || p.ad_campaign_id) || null,\n    cost: p.cost || null\n  } : {};\n\n  results.push({ json: {\n    title: teaser.title,\n    position: teaser.position,\n    media_id: teaser.media_id,\n    click_url: teaser.click_url,\n    image_url: teaser.image_url,\n    short_description: teaser.short_description || null,\n    full_description: teaser.full_description || null,\n    button_text: teaser.button_text || null,\n    render_domain: teaser.render_domain || null,\n    landing_url: landingUrl,\n    ...trackingParams,\n    site_url: teaser.site_url,\n    country_code: teaser.country_code\n  }});\n}\n\nreturn results;"
      },
      "id": "extract-landing-url",
      "name": "Extract Landing URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        -300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upsert AS (\n  UPDATE competitors SET\n    last_seen_at = NOW(),\n    times_seen = times_seen + 1,\n    media_id = COALESCE({{ $json.media_id || 'NULL' }}, media_id),\n    position = {{ $json.position || 0 }},\n    image_url = COALESCE({{ $json.image_url ? \"'\" + $json.image_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, image_url),\n    destination_url = COALESCE({{ $json.landing_url && !['resolve_failed','blocked_by_antifraud'].includes($json.landing_url) ? \"'\" + $json.landing_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, destination_url),\n    block_id = COALESCE({{ $json.geozo_block_id || 'NULL' }}, block_id),\n    landing_domain = COALESCE({{ $json.landing_domain ? \"'\" + $json.landing_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, landing_domain),\n    render_domain = COALESCE({{ $json.render_domain ? \"'\" + $json.render_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, render_domain),\n    short_description = COALESCE({{ $json.short_description ? \"'\" + $json.short_description.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, short_description),\n    full_description = COALESCE({{ $json.full_description ? \"'\" + $json.full_description.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, full_description),\n    button_text = COALESCE({{ $json.button_text ? \"'\" + $json.button_text.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, button_text),\n    geozo_ad_id = COALESCE({{ $json.geozo_ad_id || 'NULL' }}, geozo_ad_id),\n    geozo_adgroup_id = COALESCE({{ $json.geozo_adgroup_id || 'NULL' }}, geozo_adgroup_id),\n    geozo_site_id = COALESCE({{ $json.geozo_site_id || 'NULL' }}, geozo_site_id),\n    country_code = COALESCE({{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }}, country_code),\n    cost = COALESCE({{ $json.cost || 'NULL' }}, cost)\n  WHERE site_url = '{{ $json.site_url.replace(/'/g, \"''\") }}'\n    AND title = '{{ $json.title.replace(/'/g, \"''\") }}'\n  RETURNING id\n)\nINSERT INTO competitors (media_id, site_url, title, image_url, destination_url, position, block_id, landing_domain, render_domain, short_description, full_description, button_text, geozo_ad_id, geozo_adgroup_id, geozo_site_id, country_code, cost)\nSELECT\n  {{ $json.media_id || 'NULL' }},\n  '{{ $json.site_url.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  {{ $json.image_url ? \"'\" + $json.image_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.landing_url && !['resolve_failed','blocked_by_antifraud'].includes($json.landing_url) ? \"'\" + $json.landing_url.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.position || 0 }},\n  {{ $json.geozo_block_id || 'NULL' }},\n  {{ $json.landing_domain ? \"'\" + $json.landing_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.render_domain ? \"'\" + $json.render_domain.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.short_description ? \"'\" + $json.short_description.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.full_description ? \"'\" + $json.full_description.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.button_text ? \"'\" + $json.button_text.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.geozo_ad_id || 'NULL' }},\n  {{ $json.geozo_adgroup_id || 'NULL' }},\n  {{ $json.geozo_site_id || 'NULL' }},\n  {{ $json.country_code ? \"'\" + $json.country_code + \"'\" : \"NULL\" }},\n  {{ $json.cost || 'NULL' }}\nWHERE NOT EXISTS (SELECT 1 FROM upsert);",
        "options": {}
      },
      "id": "save-competitors",
      "name": "Save Competitors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3340,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-renders",
      "name": "Loop Over Renders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1470,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge ALL render HTML responses into ONE big string\n// so Parse Teasers can process everything in a single pass\nconst items = $input.all();\nconst allHtml = items.map(i => {\n  return String(i.json.data || i.json.body || '');\n}).filter(h => h.length > 50).join('\\n<!-- RENDER_SEPARATOR -->\\n');\n\n// Get metadata from Extract Block IDs — find the matching site\nconst extractItems = $('Extract Block IDs').all().map(i => i.json);\n// Use first item with widget_found=true, or fallback to first\nconst meta = extractItems.find(e => e.widget_found) || extractItems[0] || {};\n\nreturn [{ json: {\n  data: allHtml,\n  site_url: meta.site_url || '',\n  country_code: meta.country_code || '',\n  block_ids: meta.block_ids || [],\n  render_domain: meta.render_domain || '',\n  user_agent: meta.user_agent || '',\n  proxy_url: meta.proxy_url || '',\n  accept_language: meta.accept_language || '',\n  total_renders: items.length,\n  renders_with_data: items.filter(i => String(i.json.data || i.json.body || '').length > 50).length,\n  scanned_at: meta.scanned_at || $now.toISO()\n}}];"
      },
      "id": "merge-render-html",
      "name": "Merge Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1690,
        -60
      ]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Get Scan Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scan Targets": {
      "main": [
        [
          {
            "node": "Has Targets?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Targets?": {
      "main": [
        [
          {
            "node": "Prepare Scan Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scan Requests": {
      "main": [
        [
          {
            "node": "Fetch Page via Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page via Proxy": {
      "main": [
        [
          {
            "node": "Extract Block IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Block IDs": {
      "main": [
        [
          {
            "node": "Widget Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Widget Found?": {
      "main": [
        [
          {
            "node": "Loop Over Renders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save No Widget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Renders": {
      "main": [
        [
          {
            "node": "Fetch Widget Render",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Widget Render": {
      "main": [
        [
          {
            "node": "Loop Over Renders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Render HTML": {
      "main": [
        [
          {
            "node": "Parse Teasers from Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Teasers from Render": {
      "main": [
        [
          {
            "node": "Save Positions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Known Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Teasers for Resolve": {
      "main": [
        [
          {
            "node": "Needs Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Resolve?": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Resolve Landing URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Landing URL": {
      "main": [
        [
          {
            "node": "Extract Landing URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Landing URL": {
      "main": [
        [
          {
            "node": "Save Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Known Competitors": {
      "main": [
        [
          {
            "node": "Split Teasers for Resolve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "scraper",
      "id": "tag-scraper"
    }
  ],
  "pinData": {},
  "versionId": "4"
}
