workflows/18-time-optimizer.json
{
  "name": "18 - Time Targeting Optimizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 1"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Monday 05:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/stats/tmp_with_postbacks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[date_from]",
              "value": "={{ $now.minus({ days: 30 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "filters[date_to]",
              "value": "={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "name": "groups[0]",
              "value": "date"
            },
            {
              "name": "order_by[0][column]",
              "value": "money"
            },
            {
              "name": "order_by[0][direction]",
              "value": "desc"
            },
            {
              "name": "count",
              "value": "1000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-30day-stats",
      "name": "Fetch 30-Day Hourly Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statsRaw = $input.first().json;\nconst stats = statsRaw?.data?.result?.data || statsRaw?.data || (Array.isArray(statsRaw) ? statsRaw : []);\n\nif (!Array.isArray(stats)) {\n  return [{ json: { error: 'No time stats data' } }];\n}\n\n// Aggregate by day-of-week and hour\nconst dayHourMap = {}; // { dayOfWeek: { hour: { clicks, shows, money, revenue } } }\nconst dayNames = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];\n\nstats.forEach(s => {\n  if (!s.date || s.hour === undefined) return;\n  const date = new Date(s.date);\n  const dayOfWeek = dayNames[date.getDay()];\n  const hour = parseInt(s.hour);\n\n  if (!dayHourMap[dayOfWeek]) dayHourMap[dayOfWeek] = {};\n  if (!dayHourMap[dayOfWeek][hour]) {\n    dayHourMap[dayOfWeek][hour] = { clicks: 0, shows: 0, money: 0, revenue: 0, count: 0 };\n  }\n\n  dayHourMap[dayOfWeek][hour].clicks += parseInt(s.clicks_count) || 0;\n  dayHourMap[dayOfWeek][hour].shows += parseInt(s.shows_count) || 0;\n  dayHourMap[dayOfWeek][hour].money += parseFloat(s.money) || 0;\n  dayHourMap[dayOfWeek][hour].revenue += parseFloat(s.postbacks_confirmed_money) || 0;\n  dayHourMap[dayOfWeek][hour].count += 1;\n});\n\n// Format summary for Claude\nlet summary = '';\nfor (const day of dayNames) {\n  if (!dayHourMap[day]) continue;\n  summary += `\\n${day.toUpperCase()}:\\n`;\n  for (let h = 0; h < 24; h++) {\n    const d = dayHourMap[day][h];\n    if (!d) continue;\n    const roi = d.money > 0 ? ((d.revenue - d.money) / d.money * 100) : 0;\n    const ctr = d.shows > 0 ? (d.clicks / d.shows * 100) : 0;\n    summary += `  ${String(h).padStart(2, '0')}:00 - CTR: ${ctr.toFixed(2)}%, ROI: ${roi.toFixed(0)}%, Clicks: ${d.clicks}, Spend: $${d.money.toFixed(2)}\\n`;\n  }\n}\n\nreturn [{ json: { summary, dayHourMap } }];"
      },
      "id": "aggregate-time-data",
      "name": "Aggregate Time Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"\u041f\u0440\u043e\u0430\u043d\u0430\u043b\u0438\u0437\u0438\u0440\u0443\u0439 \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0443 \u0442\u0438\u0437\u0435\u0440\u043d\u043e\u0439 \u0440\u0435\u043a\u043b\u0430\u043c\u044b \u043f\u043e \u0434\u043d\u044f\u043c \u043d\u0435\u0434\u0435\u043b\u0438 \u0438 \u0447\u0430\u0441\u0430\u043c \u0437\u0430 30 \u0434\u043d\u0435\u0439.\\n\\n\u0414\u0430\u043d\u043d\u044b\u0435:\\n{{ $json.summary }}\\n\\n\u041e\u043f\u0440\u0435\u0434\u0435\u043b\u0438:\\n1. \u041b\u0443\u0447\u0448\u0438\u0435 \u0447\u0430\u0441\u044b \u043f\u043e CTR \u0438 ROI (\u043a\u043e\u0433\u0434\u0430 \u0437\u0430\u043f\u0443\u0441\u043a\u0430\u0442\u044c \u0440\u0435\u043a\u043b\u0430\u043c\u0443)\\n2. \u0425\u0443\u0434\u0448\u0438\u0435 \u0447\u0430\u0441\u044b (\u043a\u043e\u0433\u0434\u0430 \u043b\u0443\u0447\u0448\u0435 \u0432\u044b\u043a\u043b\u044e\u0447\u0430\u0442\u044c)\\n3. \u041b\u0443\u0447\u0448\u0438\u0435/\u0445\u0443\u0434\u0448\u0438\u0435 \u0434\u043d\u0438 \u043d\u0435\u0434\u0435\u043b\u0438\\n4. \u041e\u043f\u0442\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435 (time_targeting)\\n\\n\u0412\u044b\u0432\u0435\u0434\u0438 \u043e\u043f\u0442\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 JSON:\\n{\\n  \\\"monday\\\": [8,9,10,11,12,13,18,19,20,21],\\n  \\\"tuesday\\\": [...],\\n  ...\\n}\\n\u0413\u0434\u0435 \u043c\u0430\u0441\u0441\u0438\u0432 = \u0430\u043a\u0442\u0438\u0432\u043d\u044b\u0435 \u0447\u0430\u0441\u044b (0-23). \u0412\u043a\u043b\u044e\u0447\u0430\u0439 \u0442\u043e\u043b\u044c\u043a\u043e \u043f\u0440\u043e\u0444\u0438\u0442\u043d\u044b\u0435 \u0447\u0430\u0441\u044b.\\n\\n\u0421\u043d\u0430\u0447\u0430\u043b\u0430 \u0430\u043d\u0430\u043b\u0438\u0437 (\u043a\u0440\u0430\u0442\u043a\u043e), \u0437\u0430\u0442\u0435\u043c JSON.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "claude-analyze",
      "name": "Analyze with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-cred",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst text = claudeResponse.content?.[0]?.text || '';\n\n// Extract JSON from Claude response\nlet timeTargeting = null;\nconst jsonMatch = text.match(/\\{[\\s\\S]*?\"monday\"[\\s\\S]*?\\}/i);\nif (jsonMatch) {\n  try {\n    timeTargeting = JSON.parse(jsonMatch[0]);\n  } catch(e) {\n    // Try more aggressive parsing\n    const cleanJson = jsonMatch[0].replace(/\\/\\/[^\\n]*/g, '').replace(/,\\s*}/g, '}');\n    try { timeTargeting = JSON.parse(cleanJson); } catch(e2) {}\n  }\n}\n\nif (!timeTargeting) {\n  // Default schedule: common profitable hours\n  timeTargeting = {\n    monday: [8,9,10,11,12,13,14,15,16,17,18,19,20,21],\n    tuesday: [8,9,10,11,12,13,14,15,16,17,18,19,20,21],\n    wednesday: [8,9,10,11,12,13,14,15,16,17,18,19,20,21],\n    thursday: [8,9,10,11,12,13,14,15,16,17,18,19,20,21],\n    friday: [8,9,10,11,12,13,14,15,16,17,18,19,20,21],\n    saturday: [10,11,12,13,14,15,16,17,18,19,20],\n    sunday: [10,11,12,13,14,15,16,17,18,19,20]\n  };\n}\n\nreturn [{\n  json: {\n    analysis: text.substring(0, 2000),\n    time_targeting: timeTargeting\n  }\n}];"
      },
      "id": "parse-schedule",
      "name": "Parse Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.geozo.com/v1/advertiser/ads/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[status_id_in][]",
              "value": "1"
            },
            {
              "name": "count",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-ad-groups",
      "name": "Fetch Ad Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const schedule = $('Parse Schedule').first().json;\nconst adsRaw = $('Fetch Ad Groups').first().json;\nconst ads = adsRaw?.data?.result?.data || adsRaw?.data || (Array.isArray(adsRaw) ? adsRaw : []);\n\nconst adGroupIds = [...new Set((Array.isArray(ads) ? ads : []).map(a => a.ad_group_id).filter(Boolean))];\n\nreturn adGroupIds.map(agId => ({\n  json: {\n    ad_group_id: agId,\n    time_targeting: schedule.time_targeting,\n    analysis: schedule.analysis\n  }\n}));"
      },
      "id": "prepare-updates",
      "name": "Prepare Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.geozo.com/v1/advertiser/ad_groups/{{ $json.ad_group_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"time_targeting\": {{ JSON.stringify($json.time_targeting) }}\n}",
        "options": {}
      },
      "id": "update-time-targeting",
      "name": "Update Time Targeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "o0swcMSqweTNOUhw",
          "name": "Geozo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "591828204",
        "text": "=\u23f0 TIME OPTIMIZER\n\nUpdated time targeting for ad group #{{ $json.ad_group_id }}\n\n{{ $json.analysis.substring(0, 1500) }}",
        "additionalFields": {}
      },
      "id": "notify",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        150
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ]
    }
  ],
  "connections": {
    "Weekly Monday 05:00": {
      "main": [
        [
          {
            "node": "Fetch 30-Day Hourly Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 30-Day Hourly Stats": {
      "main": [
        [
          {
            "node": "Aggregate Time Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Time Data": {
      "main": [
        [
          {
            "node": "Analyze with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with Claude": {
      "main": [
        [
          {
            "node": "Parse Schedule",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Ad Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Schedule": {
      "main": [
        [
          {
            "node": "Prepare Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ad Groups": {
      "main": [
        [
          {
            "node": "Prepare Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Updates": {
      "main": [
        [
          {
            "node": "Update Time Targeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Time Targeting": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Orchestrator": {
      "main": [
        [
          {
            "node": "Fetch 30-Day Hourly Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "optimizer",
      "id": "tag-optimizer"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
