workflows/19-master-orchestrator.json
{
  "name": "19 - Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "daily-start",
      "name": "Daily Start (06:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Master Orchestrator - Central Health Check & Coordination\n// This workflow monitors the health of all sub-workflows\n// and provides a daily system status report\n\nconst schedule = {\n  continuous: [\n    { name: '01-Stats Puller', interval: '15 min', critical: true },\n    { name: '02-Balance Watchdog', interval: '1 hour', critical: true },\n    { name: '03-Smart Bidder', interval: '30 min', critical: true }\n  ],\n  hourly: [\n    { name: '07-Image Factory', interval: '1 hour', critical: false },\n    { name: '08-Uploader', interval: '1 hour', critical: false },\n    { name: '12-Anomaly Detector', interval: '1 hour', critical: false }\n  ],\n  periodic: [\n    { name: '04-Geo Bidder', interval: 'daily 02:00', critical: false },\n    { name: '05-Budget Pacer', interval: '2 hours', critical: true },\n    { name: '06-Trend Hunter', interval: '2 hours', critical: false },\n    { name: '09-Remoderator', interval: '30 min', critical: false },\n    { name: '10-AB Tester', interval: '4 hours', critical: false },\n    { name: '15-Position Scanner', interval: '2 hours', critical: false }\n  ],\n  daily: [\n    { name: '11-Daily Report', interval: 'daily 23:55', critical: true },\n    { name: '13-Block Optimizer', interval: 'daily 00:10', critical: false },\n    { name: '16-Spy Module', interval: 'daily 04:00', critical: false }\n  ],\n  weekly: [\n    { name: '14-Coefficient Tuner', interval: 'weekly Mon 03:00', critical: false },\n    { name: '18-Time Optimizer', interval: 'weekly Mon 05:00', critical: false }\n  ],\n  manual: [\n    { name: '17-Campaign Cloner', interval: 'manual trigger', critical: false }\n  ]\n};\n\nconst systemStatus = {\n  timestamp: $now.toISO(),\n  schedule: schedule,\n  total_workflows: 19,\n  status: 'operational'\n};\n\nreturn [{ json: systemStatus }];"
      },
      "id": "system-check",
      "name": "System Status Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM ad_stats WHERE date = CURRENT_DATE) as stats_today,\n  (SELECT COUNT(*) FROM balance_history WHERE collected_at >= CURRENT_DATE) as balance_checks_today,\n  (SELECT COUNT(*) FROM bid_history WHERE changed_at >= CURRENT_DATE) as bid_changes_today,\n  (SELECT COUNT(*) FROM teasers WHERE created_at >= CURRENT_DATE) as new_teasers_today,\n  (SELECT COUNT(*) FROM anomalies WHERE detected_at >= CURRENT_DATE) as anomalies_today,\n  (SELECT balance FROM balance_history ORDER BY collected_at DESC LIMIT 1) as last_known_balance,\n  (SELECT COUNT(*) FROM teasers WHERE status = 'uploaded' AND created_at >= CURRENT_DATE - INTERVAL '7 days') as active_teasers_week;",
        "options": {}
      },
      "id": "fetch-system-metrics",
      "name": "Fetch System Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 150],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const status = $('System Status Check').first().json;\nconst metrics = $('Fetch System Metrics').first().json;\n\nlet msg = `🤖 MASTER ORCHESTRATOR - Daily Status\\n`;\nmsg += `${$now.format('dd.MM.yyyy HH:mm')}\\n\\n`;\n\nmsg += `📊 System Status: ${status.status.toUpperCase()}\\n`;\nmsg += `Total workflows: ${status.total_workflows}\\n\\n`;\n\nmsg += `📈 Today's Metrics:\\n`;\nmsg += `  Stats collected: ${metrics.stats_today || 0}\\n`;\nmsg += `  Balance checks: ${metrics.balance_checks_today || 0}\\n`;\nmsg += `  Bid changes: ${metrics.bid_changes_today || 0}\\n`;\nmsg += `  New teasers: ${metrics.new_teasers_today || 0}\\n`;\nmsg += `  Anomalies: ${metrics.anomalies_today || 0}\\n`;\nmsg += `  Balance: $${metrics.last_known_balance || 'N/A'}\\n`;\nmsg += `  Active teasers (7d): ${metrics.active_teasers_week || 0}\\n\\n`;\n\nmsg += `⏰ Schedule Overview:\\n`;\nmsg += `  Critical (always on): ${status.schedule.continuous.length} workflows\\n`;\nmsg += `  Hourly: ${status.schedule.hourly.length} workflows\\n`;\nmsg += `  Periodic: ${status.schedule.periodic.length} workflows\\n`;\nmsg += `  Daily: ${status.schedule.daily.length} workflows\\n`;\nmsg += `  Weekly: ${status.schedule.weekly.length} workflows\\n`;\nmsg += `  Manual: ${status.schedule.manual.length} workflows\\n\\n`;\n\nmsg += `✅ All systems operational`;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-status",
      "name": "Format Status Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-status",
      "name": "Send Status to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 0],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily Start (06:00)": {
      "main": [
        [
          {
            "node": "System Status Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch System Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Status Check": {
      "main": [
        [
          {
            "node": "Format Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Metrics": {
      "main": [
        [
          {
            "node": "Format Status Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status Report": {
      "main": [
        [
          {
            "node": "Send Status to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "system",
      "id": "tag-system"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
