workflows/91-admin-api.json
{
  "name": "91 - Admin API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "admin-api"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || $('Webhook').first().json;\nconst action = body.action;\nconst params = body.params || {};\n\n// Build SQL based on action\nlet sql = '';\nlet responseData = null;\n\nswitch (action) {\n  // ── DASHBOARD ──\n  case 'dashboard': {\n    sql = `\n      SELECT json_build_object(\n        'balance', (SELECT row_to_json(t) FROM (SELECT balance, spend_rate_per_hour, hours_remaining, collected_at FROM balance_history ORDER BY collected_at DESC LIMIT 1) t),\n        'emergency', (SELECT row_to_json(t) FROM (SELECT is_active, trigger_reason, activated_at, auto_deactivate_at FROM emergency_state WHERE is_active = TRUE ORDER BY activated_at DESC LIMIT 1) t),\n        'today_stats', (SELECT row_to_json(t) FROM (SELECT COUNT(*) as total_ads, COALESCE(SUM(money),0) as total_spend, COALESCE(SUM(postbacks_confirmed_money),0) as total_revenue, COALESCE(SUM(profit),0) as total_profit FROM ad_stats WHERE date = CURRENT_DATE) t),\n        'teaser_counts', (SELECT json_agg(row_to_json(t)) FROM (SELECT state, COUNT(*) as cnt FROM teasers GROUP BY state) t),\n        'bid_changes_24h', (SELECT COUNT(*) FROM bid_history WHERE changed_at >= NOW() - INTERVAL '24 hours'),\n        'anomalies_open', (SELECT COUNT(*) FROM anomalies WHERE resolved = FALSE),\n        'conservative_mode', (SELECT row_to_json(t) FROM (SELECT locked_by, expires_at FROM workflow_locks WHERE lock_name = 'conservative_mode' AND expires_at > NOW()) t)\n      ) as data\n    `;\n    break;\n  }\n\n  // ── CONFIG LIST ──\n  case 'config_list': {\n    sql = `SELECT id, category, key, value, value_type, label, description, min_value, max_value, updated_at FROM bot_config ORDER BY category, id`;\n    break;\n  }\n\n  // ── CONFIG UPDATE ──\n  case 'config_update': {\n    const updates = params.updates || [];\n    if (updates.length === 0) {\n      return [{ json: { error: 'No updates' } }];\n    }\n    const parts = updates.map(u =>\n      `UPDATE bot_config SET value = '${String(u.value).replace(/'/g, \"''\")}', updated_at = NOW() WHERE id = ${parseInt(u.id)}`\n    );\n    sql = parts.join(';\\n') + `;\\nSELECT 'ok' as result, ${updates.length} as updated`;\n    break;\n  }\n\n  // ── GEO PAYOUTS ──\n  case 'geo_list': {\n    sql = `SELECT id, country_code, country_name, geo_id, vertical, avg_payout, avg_approval, max_cpl, min_bid, max_bid, is_active, notes, updated_at FROM geo_payouts ORDER BY country_code`;\n    break;\n  }\n  case 'geo_update': {\n    const id = parseInt(params.id);\n    const sets = [];\n    for (const [k, v] of Object.entries(params.fields || {})) {\n      if (['avg_payout','avg_approval','min_bid','max_bid','is_active','notes','country_name','geo_id','vertical'].includes(k)) {\n        sets.push(`${k} = '${String(v).replace(/'/g, \"''\")}'`);\n      }\n    }\n    sets.push('updated_at = NOW()');\n    sql = `UPDATE geo_payouts SET ${sets.join(', ')} WHERE id = ${id}; SELECT 'ok' as result`;\n    break;\n  }\n  case 'geo_create': {\n    const f = params.fields || {};\n    sql = `INSERT INTO geo_payouts (country_code, country_name, geo_id, vertical, avg_payout, avg_approval, min_bid, max_bid, is_active, notes)\n      VALUES ('${(f.country_code||'').replace(/'/g,\"''\")}', '${(f.country_name||'').replace(/'/g,\"''\")}', ${parseInt(f.geo_id)||'NULL'}, '${(f.vertical||'crypto').replace(/'/g,\"''\")}', ${parseFloat(f.avg_payout)||0}, ${parseFloat(f.avg_approval)||0}, ${parseFloat(f.min_bid)||0.01}, ${parseFloat(f.max_bid)||0.15}, ${f.is_active !== false}, ${f.notes ? \"'\" + f.notes.replace(/'/g,\"''\") + \"'\" : 'NULL'})\n      ON CONFLICT (country_code) DO UPDATE SET country_name=EXCLUDED.country_name, geo_id=EXCLUDED.geo_id, avg_payout=EXCLUDED.avg_payout, avg_approval=EXCLUDED.avg_approval, min_bid=EXCLUDED.min_bid, max_bid=EXCLUDED.max_bid, is_active=EXCLUDED.is_active, notes=EXCLUDED.notes, updated_at=NOW();\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'geo_delete': {\n    sql = `DELETE FROM geo_payouts WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── TEASERS ──\n  case 'teasers': {\n    const limit = parseInt(params.limit) || 100;\n    const offset = parseInt(params.offset) || 0;\n    const stateFilter = params.state ? `WHERE t.state = '${params.state.replace(/'/g,\"''\")}'` : '';\n    sql = `SELECT t.*, s.money as today_spend, s.clicks as today_clicks, s.roi as today_roi, s.ctr as today_ctr, s.postbacks_count as today_leads\n      FROM teasers t LEFT JOIN ad_stats s ON s.ad_id = t.ad_id AND s.date = CURRENT_DATE\n      ${stateFilter} ORDER BY t.updated_at DESC LIMIT ${limit} OFFSET ${offset}`;\n    break;\n  }\n  case 'teaser_state': {\n    const tid = parseInt(params.id);\n    const newState = (params.state || '').replace(/'/g, \"''\");\n    const reason = (params.reason || 'Manual change via admin UI').replace(/'/g, \"''\");\n    sql = `WITH old AS (SELECT id, state, ad_id FROM teasers WHERE id = ${tid})\n      UPDATE teasers SET state = '${newState}', state_changed_at = NOW(), state_reason = '${reason}', updated_at = NOW() WHERE id = ${tid};\n      INSERT INTO teaser_state_log (teaser_id, ad_id, old_state, new_state, reason, triggered_by)\n      SELECT ${tid}, ad_id, state, '${newState}', '${reason}', 'admin_ui' FROM teasers WHERE id = ${tid};\n      SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── BID HISTORY ──\n  case 'bid_history': {\n    const limit = parseInt(params.limit) || 100;\n    const adFilter = params.ad_id ? `WHERE ad_id = ${parseInt(params.ad_id)}` : '';\n    sql = `SELECT * FROM bid_history ${adFilter} ORDER BY changed_at DESC LIMIT ${limit}`;\n    break;\n  }\n\n  // ── ANOMALIES ──\n  case 'anomalies': {\n    const resolved = params.resolved === true || params.resolved === 'true';\n    sql = `SELECT * FROM anomalies WHERE resolved = ${resolved} ORDER BY detected_at DESC LIMIT 100`;\n    break;\n  }\n  case 'anomaly_resolve': {\n    sql = `UPDATE anomalies SET resolved = TRUE, resolved_at = NOW() WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── EMERGENCY ──\n  case 'emergency_list': {\n    sql = `SELECT * FROM emergency_state ORDER BY activated_at DESC LIMIT 5`;\n    break;\n  }\n  case 'emergency_activate': {\n    const reason = (params.reason || 'Manual via admin UI').replace(/'/g, \"''\");\n    const hours = parseFloat(params.hours) || 2;\n    sql = `INSERT INTO emergency_state (is_active, trigger_reason, triggered_by, activated_at, auto_deactivate_at)\n      VALUES (TRUE, '${reason}', 'admin_ui', NOW(), NOW() + make_interval(hours => ${hours}))\n      ON CONFLICT (is_active) WHERE is_active = TRUE\n      DO UPDATE SET trigger_reason = EXCLUDED.trigger_reason, activated_at = NOW(), auto_deactivate_at = NOW() + make_interval(hours => ${hours});\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'emergency_deactivate': {\n    sql = `UPDATE emergency_state SET is_active = FALSE, deactivated_at = NOW() WHERE is_active = TRUE; SELECT 'ok' as result`;\n    break;\n  }\n  case 'conservative_activate': {\n    const mins = parseInt(params.minutes) || 30;\n    sql = `INSERT INTO workflow_locks (lock_name, locked_by, expires_at)\n      VALUES ('conservative_mode', 'admin_ui', NOW() + make_interval(mins => ${mins}))\n      ON CONFLICT (lock_name) DO UPDATE SET locked_by = 'admin_ui', locked_at = NOW(), expires_at = NOW() + make_interval(mins => ${mins});\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'conservative_deactivate': {\n    sql = `DELETE FROM workflow_locks WHERE lock_name = 'conservative_mode'; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── BLOCK LISTS ──\n  case 'block_lists': {\n    const typeFilter = params.type ? `WHERE list_type = '${params.type.replace(/'/g,\"''\")}'` : '';\n    sql = `SELECT * FROM block_lists ${typeFilter} ORDER BY added_at DESC LIMIT 200`;\n    break;\n  }\n  case 'block_list_delete': {\n    sql = `DELETE FROM block_lists WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── LOCKS ──\n  case 'locks': {\n    sql = `SELECT * FROM workflow_locks ORDER BY locked_at DESC`;\n    break;\n  }\n  case 'lock_delete': {\n    sql = `DELETE FROM workflow_locks WHERE lock_name = '${(params.name||'').replace(/'/g,\"''\")}'; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── DAILY PNL ──\n  case 'daily_pnl': {\n    sql = `SELECT * FROM daily_pnl ORDER BY date DESC LIMIT 30`;\n    break;\n  }\n\n  // ── SCAN TARGETS ──\n  case 'scan_targets': {\n    sql = `SELECT * FROM scan_targets ORDER BY id`;\n    break;\n  }\n  case 'scan_target_create': {\n    const f = params.fields || {};\n    sql = `INSERT INTO scan_targets (site_url, country_code, proxy_url, proxy_type, is_active, notes)\n      VALUES ('${(f.site_url||'').replace(/'/g,\"''\")}', '${(f.country_code||'').replace(/'/g,\"''\")}', ${f.proxy_url ? \"'\" + f.proxy_url.replace(/'/g,\"''\") + \"'\" : 'NULL'}, '${f.proxy_type||'socks5'}', ${f.is_active !== false}, ${f.notes ? \"'\" + f.notes.replace(/'/g,\"''\") + \"'\" : 'NULL'});\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'scan_target_toggle': {\n    sql = `UPDATE scan_targets SET is_active = ${params.active === true} WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n  case 'scan_target_delete': {\n    sql = `DELETE FROM scan_targets WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── AB TESTS ──\n  case 'ab_tests': {\n    sql = `SELECT * FROM ab_tests ORDER BY started_at DESC LIMIT 50`;\n    break;\n  }\n\n  default:\n    return [{ json: { error: 'Unknown action: ' + action } }];\n}\n\nreturn [{ json: { sql, action } }];"
      },
      "id": "router",
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "db-query",
      "name": "Execute SQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 0],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const action = $('Route Action').first().json.action;\nconst results = $('Execute SQL').all().map(i => i.json);\n\n// For dashboard action, unwrap the json_build_object\nif (action === 'dashboard' && results.length > 0 && results[0].data) {\n  const data = typeof results[0].data === 'string' ? JSON.parse(results[0].data) : results[0].data;\n  return [{ json: data }];\n}\n\n// For config_list, group by category\nif (action === 'config_list') {\n  const grouped = {};\n  results.forEach(r => {\n    if (!grouped[r.category]) grouped[r.category] = [];\n    grouped[r.category].push(r);\n  });\n  return [{ json: grouped }];\n}\n\nreturn [{ json: { data: results } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Execute SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SQL": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "system",
      "id": "tag-system"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
