workflows/91-admin-api.json
{
  "name": "91 - Admin API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "admin-api"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || $('Webhook').first().json;\nconst action = body.action;\nconst params = body.params || {};\n\n// Build SQL based on action\nlet sql = '';\nlet responseData = null;\n\nswitch (action) {\n  // ── DASHBOARD ──\n  case 'dashboard': {\n    sql = `\n      SELECT json_build_object(\n        'balance', (SELECT row_to_json(t) FROM (SELECT balance, spend_rate_per_hour, hours_remaining, collected_at FROM balance_history ORDER BY collected_at DESC LIMIT 1) t),\n        'emergency', (SELECT row_to_json(t) FROM (SELECT is_active, trigger_reason, activated_at, auto_deactivate_at FROM emergency_state WHERE is_active = TRUE ORDER BY activated_at DESC LIMIT 1) t),\n        'today_stats', (SELECT row_to_json(t) FROM (SELECT COUNT(*) as total_ads, COALESCE(SUM(money),0) as total_spend, COALESCE(SUM(postbacks_confirmed_money),0) as total_revenue, COALESCE(SUM(profit),0) as total_profit FROM ad_stats WHERE date = CURRENT_DATE) t),\n        'teaser_counts', (SELECT json_agg(row_to_json(t)) FROM (SELECT state, COUNT(*) as cnt FROM teasers GROUP BY state) t),\n        'bid_changes_24h', (SELECT COUNT(*) FROM bid_history WHERE changed_at >= NOW() - INTERVAL '24 hours'),\n        'anomalies_open', (SELECT COUNT(*) FROM anomalies WHERE resolved = FALSE),\n        'conservative_mode', (SELECT row_to_json(t) FROM (SELECT locked_by, expires_at FROM workflow_locks WHERE lock_name = 'conservative_mode' AND expires_at > NOW()) t)\n      ) as data\n    `;\n    break;\n  }\n\n  // ── CONFIG LIST ──\n  case 'config_list': {\n    sql = `SELECT id, category, key, value, value_type, label, description, min_value, max_value, updated_at FROM bot_config ORDER BY category, id`;\n    break;\n  }\n\n  // ── CONFIG UPDATE ──\n  case 'config_update': {\n    const updates = params.updates || [];\n    if (updates.length === 0) {\n      return [{ json: { error: 'No updates' } }];\n    }\n    const parts = updates.map(u =>\n      `UPDATE bot_config SET value = '${String(u.value).replace(/'/g, \"''\")}', updated_at = NOW() WHERE id = ${parseInt(u.id)}`\n    );\n    sql = parts.join(';\\n') + `;\\nSELECT 'ok' as result, ${updates.length} as updated`;\n    break;\n  }\n\n  // ── GEO PAYOUTS ──\n  case 'geo_list': {\n    sql = `SELECT id, country_code, country_name, geo_id, vertical, avg_payout, avg_approval, max_cpl, min_bid, max_bid, is_active, notes, updated_at FROM geo_payouts ORDER BY country_code`;\n    break;\n  }\n  case 'geo_update': {\n    const id = parseInt(params.id);\n    const sets = [];\n    for (const [k, v] of Object.entries(params.fields || {})) {\n      if (['avg_payout','avg_approval','min_bid','max_bid','is_active','notes','country_name','geo_id','vertical'].includes(k)) {\n        sets.push(`${k} = '${String(v).replace(/'/g, \"''\")}'`);\n      }\n    }\n    sets.push('updated_at = NOW()');\n    sql = `UPDATE geo_payouts SET ${sets.join(', ')} WHERE id = ${id}; SELECT 'ok' as result`;\n    break;\n  }\n  case 'geo_create': {\n    const f = params.fields || {};\n    sql = `INSERT INTO geo_payouts (country_code, country_name, geo_id, vertical, avg_payout, avg_approval, min_bid, max_bid, is_active, notes)\n      VALUES ('${(f.country_code||'').replace(/'/g,\"''\")}', '${(f.country_name||'').replace(/'/g,\"''\")}', ${parseInt(f.geo_id)||'NULL'}, '${(f.vertical||'crypto').replace(/'/g,\"''\")}', ${parseFloat(f.avg_payout)||0}, ${parseFloat(f.avg_approval)||0}, ${parseFloat(f.min_bid)||0.01}, ${parseFloat(f.max_bid)||0.15}, ${f.is_active !== false}, ${f.notes ? \"'\" + f.notes.replace(/'/g,\"''\") + \"'\" : 'NULL'})\n      ON CONFLICT (country_code) DO UPDATE SET country_name=EXCLUDED.country_name, geo_id=EXCLUDED.geo_id, avg_payout=EXCLUDED.avg_payout, avg_approval=EXCLUDED.avg_approval, min_bid=EXCLUDED.min_bid, max_bid=EXCLUDED.max_bid, is_active=EXCLUDED.is_active, notes=EXCLUDED.notes, updated_at=NOW();\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'geo_delete': {\n    sql = `DELETE FROM geo_payouts WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── CAMPAIGNS & GROUPS HIERARCHY ──\n  case 'campaigns_tree': {\n    sql = `SELECT json_build_object(\n      'campaigns', (SELECT COALESCE(json_agg(row_to_json(c)), '[]'::json) FROM (\n        SELECT tc.campaign_id, COALESCE(cp.name, tc.campaign_name, 'Campaign #' || tc.campaign_id) as name, cp.campaign_type_id, cp.status, cp.daily_money_limit, cp.total_money_limit,\n          (SELECT COALESCE(SUM(s.money),0) FROM ad_stats s JOIN teasers t ON t.ad_id = s.ad_id WHERE t.campaign_id = tc.campaign_id AND s.date = CURRENT_DATE) as today_spend,\n          (SELECT COALESCE(SUM(s.profit),0) FROM ad_stats s JOIN teasers t ON t.ad_id = s.ad_id WHERE t.campaign_id = tc.campaign_id AND s.date = CURRENT_DATE) as today_profit,\n          tc.total_ads, tc.active_ads\n        FROM (SELECT campaign_id, COUNT(*) as total_ads, COUNT(*) FILTER (WHERE geozo_status_id = 5) as active_ads, MAX(campaign_name) as campaign_name FROM teasers WHERE campaign_id IS NOT NULL GROUP BY campaign_id) tc\n        LEFT JOIN campaigns cp ON cp.campaign_id = tc.campaign_id\n        ORDER BY tc.campaign_id\n      ) c),\n      'groups', (SELECT COALESCE(json_agg(row_to_json(g)), '[]'::json) FROM (\n        SELECT tg.ad_group_id, tg.campaign_id, COALESCE(ag.name, tg.group_ad_name, 'Group #' || tg.ad_group_id) as name, ag.status,\n          (SELECT COALESCE(SUM(s.money),0) FROM ad_stats s JOIN teasers t ON t.ad_id = s.ad_id WHERE t.ad_group_id = tg.ad_group_id AND s.date = CURRENT_DATE) as today_spend,\n          (SELECT COALESCE(SUM(s.profit),0) FROM ad_stats s JOIN teasers t ON t.ad_id = s.ad_id WHERE t.ad_group_id = tg.ad_group_id AND s.date = CURRENT_DATE) as today_profit,\n          tg.ad_count, tg.active_count\n        FROM (SELECT ad_group_id, MIN(campaign_id) as campaign_id, COUNT(*) as ad_count, COUNT(*) FILTER (WHERE geozo_status_id = 5) as active_count, MAX(group_ad_name) as group_ad_name FROM teasers WHERE ad_group_id IS NOT NULL GROUP BY ad_group_id) tg\n        LEFT JOIN ad_groups ag ON ag.ad_group_id = tg.ad_group_id\n        ORDER BY tg.campaign_id, tg.ad_group_id\n      ) g)\n    ) as data`;\n    break;\n  }\n\n  // ── TEASERS ──\n  case 'teasers': {\n    const limit = parseInt(params.limit) || 200;\n    const offset = parseInt(params.offset) || 0;\n    const wheres = [];\n    if (params.state) wheres.push(`t.state = '${params.state.replace(/'/g,\"''\")}' `);\n    if (params.campaign_id) wheres.push(`t.campaign_id = ${parseInt(params.campaign_id)}`);\n    if (params.ad_group_id) wheres.push(`t.ad_group_id = ${parseInt(params.ad_group_id)}`);\n    if (params.geozo_status) wheres.push(`t.geozo_status_id = ${parseInt(params.geozo_status)}`);\n    const whereClause = wheres.length ? 'WHERE ' + wheres.join(' AND ') : '';\n    const dateFrom = params.date_from || '';\n    const dateTo = params.date_to || '';\n    let statsJoin, statsColumns;\n    if (dateFrom && dateTo) {\n      statsJoin = `LEFT JOIN (SELECT ad_id, COALESCE(SUM(money),0) as money, COALESCE(SUM(clicks),0) as clicks, COALESCE(SUM(shows),0) as shows, COALESCE(SUM(confirmed_shows),0) as confirmed_shows, COALESCE(SUM(postbacks_count),0) as postbacks_count, COALESCE(SUM(profit),0) as profit, COALESCE(SUM(postbacks_confirmed_money),0) as postbacks_confirmed_money, COALESCE(SUM(crm_leads),0) as crm_leads, COALESCE(SUM(crm_depositors),0) as crm_depositors, COALESCE(SUM(crm_revenue),0) as crm_revenue FROM ad_stats WHERE date >= '${dateFrom.replace(/'/g,\"''\")}'::date AND date <= '${dateTo.replace(/'/g,\"''\")}'::date GROUP BY ad_id) s ON s.ad_id = t.ad_id`;\n      statsColumns = `s.money as today_spend, s.clicks as today_clicks, s.shows as today_shows, s.confirmed_shows as today_confirmed_shows, s.postbacks_count as today_leads, s.profit as today_profit, s.postbacks_confirmed_money as today_revenue, s.crm_leads as period_crm_leads, s.crm_depositors as period_crm_depositors, s.crm_revenue as period_crm_revenue`;\n    } else {\n      statsJoin = `LEFT JOIN ad_stats s ON s.ad_id = t.ad_id AND s.date = CURRENT_DATE`;\n      statsColumns = `s.money as today_spend, s.clicks as today_clicks, s.shows as today_shows, s.confirmed_shows as today_confirmed_shows, s.roi as today_roi, s.ctr as today_ctr, s.cpc as today_cpc, s.postbacks_count as today_leads, s.profit as today_profit, s.postbacks_confirmed_money as today_revenue, s.crm_leads as period_crm_leads, s.crm_depositors as period_crm_depositors, s.crm_revenue as period_crm_revenue`;\n    }\n    sql = `SELECT t.*, ${statsColumns},\n      COALESCE(c.name, t.campaign_name) as campaign_name, COALESCE(ag.name, t.group_ad_name) as group_name\n      FROM teasers t \n      ${statsJoin}\n      LEFT JOIN campaigns c ON c.campaign_id = t.campaign_id\n      LEFT JOIN ad_groups ag ON ag.ad_group_id = t.ad_group_id\n      ${whereClause} ORDER BY t.campaign_id, t.ad_group_id, t.ad_id DESC LIMIT ${limit} OFFSET ${offset}`;\n    break;\n  }\n  case 'teaser_state': {\n    const tid = parseInt(params.id);\n    const newState = (params.state || '').replace(/'/g, \"''\");\n    const reason = (params.reason || 'Manual change via admin UI').replace(/'/g, \"''\");\n    sql = `WITH old AS (SELECT id, state, ad_id FROM teasers WHERE id = ${tid})\n      UPDATE teasers SET state = '${newState}', state_changed_at = NOW(), state_reason = '${reason}', updated_at = NOW() WHERE id = ${tid};\n      INSERT INTO teaser_state_log (teaser_id, ad_id, old_state, new_state, reason, triggered_by)\n      SELECT ${tid}, ad_id, state, '${newState}', '${reason}', 'admin_ui' FROM teasers WHERE id = ${tid};\n      SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── BID HISTORY ──\n  case 'bid_history': {\n    const limit = parseInt(params.limit) || 100;\n    const adFilter = params.ad_id ? `WHERE ad_id = ${parseInt(params.ad_id)}` : '';\n    sql = `SELECT * FROM bid_history ${adFilter} ORDER BY changed_at DESC LIMIT ${limit}`;\n    break;\n  }\n\n  // ── ANOMALIES ──\n  case 'anomalies': {\n    const resolved = params.resolved === true || params.resolved === 'true';\n    sql = `SELECT * FROM anomalies WHERE resolved = ${resolved} ORDER BY detected_at DESC LIMIT 100`;\n    break;\n  }\n  case 'anomaly_resolve': {\n    sql = `UPDATE anomalies SET resolved = TRUE, resolved_at = NOW() WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── EMERGENCY ──\n  case 'emergency_list': {\n    sql = `SELECT * FROM emergency_state ORDER BY activated_at DESC LIMIT 5`;\n    break;\n  }\n  case 'emergency_activate': {\n    const reason = (params.reason || 'Manual via admin UI').replace(/'/g, \"''\");\n    const hours = parseFloat(params.hours) || 2;\n    sql = `INSERT INTO emergency_state (is_active, trigger_reason, triggered_by, activated_at, auto_deactivate_at)\n      VALUES (TRUE, '${reason}', 'admin_ui', NOW(), NOW() + make_interval(hours => ${hours}))\n      ON CONFLICT (is_active) WHERE is_active = TRUE\n      DO UPDATE SET trigger_reason = EXCLUDED.trigger_reason, activated_at = NOW(), auto_deactivate_at = NOW() + make_interval(hours => ${hours});\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'emergency_deactivate': {\n    sql = `UPDATE emergency_state SET is_active = FALSE, deactivated_at = NOW() WHERE is_active = TRUE; SELECT 'ok' as result`;\n    break;\n  }\n  case 'conservative_activate': {\n    const mins = parseInt(params.minutes) || 30;\n    sql = `INSERT INTO workflow_locks (lock_name, locked_by, expires_at)\n      VALUES ('conservative_mode', 'admin_ui', NOW() + make_interval(mins => ${mins}))\n      ON CONFLICT (lock_name) DO UPDATE SET locked_by = 'admin_ui', locked_at = NOW(), expires_at = NOW() + make_interval(mins => ${mins});\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'conservative_deactivate': {\n    sql = `DELETE FROM workflow_locks WHERE lock_name = 'conservative_mode'; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── BLOCK LISTS ──\n  case 'block_lists': {\n    const typeFilter = params.type ? `WHERE list_type = '${params.type.replace(/'/g,\"''\")}'` : '';\n    sql = `SELECT * FROM block_lists ${typeFilter} ORDER BY added_at DESC LIMIT 200`;\n    break;\n  }\n  case 'block_list_delete': {\n    sql = `DELETE FROM block_lists WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── LOCKS ──\n  case 'locks': {\n    sql = `SELECT * FROM workflow_locks ORDER BY locked_at DESC`;\n    break;\n  }\n  case 'lock_delete': {\n    sql = `DELETE FROM workflow_locks WHERE lock_name = '${(params.name||'').replace(/'/g,\"''\")}'; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── DAILY PNL ──\n  case 'daily_pnl': {\n    sql = `SELECT * FROM daily_pnl ORDER BY date DESC LIMIT 30`;\n    break;\n  }\n\n  // ── SCAN TARGETS ──\n  case 'scan_targets': {\n    sql = `SELECT * FROM scan_targets ORDER BY id`;\n    break;\n  }\n  case 'scan_target_create': {\n    const f = params.fields || {};\n    sql = `INSERT INTO scan_targets (site_url, country_code, proxy_url, proxy_type, timezone, accept_language, is_active, notes)\n      VALUES ('${(f.site_url||'').replace(/'/g,\"''\")}', '${(f.country_code||'').replace(/'/g,\"''\")}', ${f.proxy_url ? \"'\" + f.proxy_url.replace(/'/g,\"''\") + \"'\" : 'NULL'}, '${f.proxy_type||'socks5'}', ${parseInt(f.timezone)||3}, ${f.accept_language ? \"'\" + f.accept_language.replace(/'/g,\"''\") + \"'\" : 'NULL'}, ${f.is_active !== false}, ${f.notes ? \"'\" + f.notes.replace(/'/g,\"''\") + \"'\" : 'NULL'});\n      SELECT 'ok' as result`;\n    break;\n  }\n  case 'scan_target_update': {\n    const id = parseInt(params.id);\n    const sets = [];\n    for (const [k, v] of Object.entries(params.fields || {})) {\n      if (['site_url','country_code','proxy_url','proxy_type','timezone','accept_language','notes'].includes(k)) {\n        sets.push(`${k} = '${String(v).replace(/'/g, \"''\")}'`);\n      }\n    }\n    if (sets.length === 0) { return [{ json: { error: 'No fields to update' } }]; }\n    sql = `UPDATE scan_targets SET ${sets.join(', ')} WHERE id = ${id}; SELECT 'ok' as result`;\n    break;\n  }\n  case 'scan_target_toggle': {\n    sql = `UPDATE scan_targets SET is_active = ${params.active === true} WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n  case 'scan_target_delete': {\n    sql = `DELETE FROM scan_targets WHERE id = ${parseInt(params.id)}; SELECT 'ok' as result`;\n    break;\n  }\n\n  // ── COMPETITORS (SPY TOOL) ──\n  case 'competitors_list': {\n    const limit = parseInt(params.limit) || 50;\n    const offset = parseInt(params.offset) || 0;\n    const wheres = [];\n    if (params.geo) wheres.push(`country_code = '${params.geo.replace(/'/g,\"''\")}' `);\n    if (params.site_url) wheres.push(`site_url = '${params.site_url.replace(/'/g,\"''\")}' `);\n    if (params.search) wheres.push(`(title ILIKE '%${params.search.replace(/'/g,\"''\").replace(/%/g,'')}%' OR short_description ILIKE '%${params.search.replace(/'/g,\"''\").replace(/%/g,'')}%')`);\n    if (params.date_from) wheres.push(`last_seen_at >= '${params.date_from.replace(/'/g,\"''\")}'::date`);\n    if (params.date_to) wheres.push(`last_seen_at <= '${params.date_to.replace(/'/g,\"''\")}'::date + interval '1 day'`);\n    if (params.landing_domain) wheres.push(`landing_domain = '${params.landing_domain.replace(/'/g,\"''\")}' `);\n    const whereClause = wheres.length ? 'WHERE ' + wheres.join(' AND ') : '';\n    const sortBy = ['last_seen_at','first_seen_at','times_seen','title'].includes(params.sort_by) ? params.sort_by : 'last_seen_at';\n    const sortDir = params.sort_dir === 'ASC' ? 'ASC' : 'DESC';\n    sql = `SELECT *, (SELECT COUNT(*) FROM competitors ${whereClause}) as total_count FROM competitors ${whereClause} ORDER BY ${sortBy} ${sortDir} LIMIT ${limit} OFFSET ${offset}`;\n    break;\n  }\n  case 'competitors_stats': {\n    sql = `SELECT json_build_object(\n      'total', (SELECT COUNT(*) FROM competitors),\n      'by_geo', (SELECT COALESCE(json_agg(row_to_json(t)), '[]'::json) FROM (SELECT country_code, COUNT(*) as cnt FROM competitors WHERE country_code IS NOT NULL GROUP BY country_code ORDER BY cnt DESC) t),\n      'by_day', (SELECT COALESCE(json_agg(row_to_json(t)), '[]'::json) FROM (SELECT last_seen_at::date as day, COUNT(*) as cnt FROM competitors WHERE last_seen_at >= NOW() - interval '30 days' GROUP BY last_seen_at::date ORDER BY day DESC) t),\n      'top_domains', (SELECT COALESCE(json_agg(row_to_json(t)), '[]'::json) FROM (SELECT landing_domain, COUNT(*) as cnt FROM competitors WHERE landing_domain IS NOT NULL GROUP BY landing_domain ORDER BY cnt DESC LIMIT 10) t),\n      'top_sites', (SELECT COALESCE(json_agg(row_to_json(t)), '[]'::json) FROM (SELECT site_url, COUNT(*) as cnt FROM competitors GROUP BY site_url ORDER BY cnt DESC LIMIT 10) t)\n    ) as data`;\n    break;\n  }\n  case 'competitors_detail': {\n    const id = parseInt(params.id);\n    sql = `SELECT * FROM competitors WHERE id = ${id}`;\n    break;\n  }\n\n  // ── AB TESTS ──\n  case 'ab_tests': {\n    sql = `SELECT * FROM ab_tests ORDER BY started_at DESC LIMIT 50`;\n    break;\n  }\n\n  // ── POSITION TRACKING ──\n  case 'position_tracking': {\n    const limit = parseInt(params.limit) || 100;\n    const adFilter = params.ad_id ? `WHERE pt.ad_id = ${parseInt(params.ad_id)}` : '';\n    sql = `SELECT pt.*, t.title as teaser_title FROM position_tracking pt LEFT JOIN teasers t ON t.ad_id = pt.ad_id ${adFilter} ORDER BY pt.scanned_at DESC LIMIT ${limit}`;\n    break;\n  }\n\n  // ── PROXY STATUS (DataImpulse) ──\n  case 'proxy_status': {\n    const configured = !!($env.DATAIMPULSE_LOGIN);\n    return [{ json: { sql: \"SELECT 'ok' as result\", action, proxy: { configured, host: $env.DATAIMPULSE_HOST || 'gw.dataimpulse.com', port: $env.DATAIMPULSE_PORT || '823', proxy_type: $env.DATAIMPULSE_PROXY_TYPE || 'datacenter', login: configured ? ($env.DATAIMPULSE_LOGIN || '').substring(0,4) + '***' : null } } }];\n  }\n\n  // ── AUTH ──\n  case 'login': {\n    const hash = (params.password_hash || '').replace(/'/g, \"''\");\n    sql = `SELECT CASE WHEN EXISTS (SELECT 1 FROM admin_auth WHERE password_hash = '${hash}') THEN 'ok' ELSE 'fail' END as result`;\n    break;\n  }\n  case 'change_password': {\n    const oldHash = (params.old_hash || '').replace(/'/g, \"''\");\n    const newHash = (params.new_hash || '').replace(/'/g, \"''\");\n    sql = `UPDATE admin_auth SET password_hash = '${newHash}', updated_at = NOW() WHERE password_hash = '${oldHash}'; SELECT CASE WHEN (SELECT COUNT(*) FROM admin_auth WHERE password_hash = '${newHash}') > 0 THEN 'ok' ELSE 'fail' END as result`;\n    break;\n  }\n\n  default:\n    return [{ json: { error: 'Unknown action: ' + action } }];\n}\n\nreturn [{ json: { sql, action } }];"
      },
      "id": "router",
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "db-query",
      "name": "Execute SQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const action = $('Route Action').first().json.action;\nconst results = $('Execute SQL').all().map(i => i.json);\n\n// For dashboard and campaigns_tree, unwrap json_build_object\n// proxy_status: pass through proxy info from Route Action\nif (action === 'proxy_status') {\n  const routeData = $('Route Action').first().json;\n  return [{ json: routeData.proxy || { configured: false } }];\n}\n\nif (['dashboard','campaigns_tree','competitors_stats'].includes(action) && results.length > 0 && results[0].data) {\n  const data = typeof results[0].data === 'string' ? JSON.parse(results[0].data) : results[0].data;\n  return [{ json: data }];\n}\n\n// For config_list, group by category\nif (action === 'config_list') {\n  const grouped = {};\n  results.forEach(r => {\n    if (!grouped[r.category]) grouped[r.category] = [];\n    grouped[r.category].push(r);\n  });\n  return [{ json: grouped }];\n}\n\nreturn [{ json: { data: results } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Execute SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SQL": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "system",
      "id": "tag-system"
    }
  ],
  "pinData": {},
  "versionId": "1"
}